{% load staticfiles %}
<!-- Blog Posts -->
		<div class="container-fluid ivo-noticiasBck">
			<div class="container">
				<div class="row ivo-noticias">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="row text-center">
					       	<h3 class="headermessage ivo-casting-resumen-titulo">Castings de Music Records</h3>
					   	</div>
					    <div class="row text-center">
					    	<div class="image-block col-sm-8 col-md-4 col-sm-offset-2 ivo-casting-imageblock derecha" style="background: url({% static 'img/artista-t1.jpg' %}) no-repeat center top;background-size:cover;">
					    		<h3 class="ivo-back-naranja">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					    		<h4 class="ivo-noticia-subtitulo">SubTitulo de la noticia</h4>
					             <p class="ivo-noticia-descripcion ivo-noticia-descripcion-sub">
					            	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					            </p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link ivo-perfilINd-boton">Ver Casting</a>
					        </div>
							<div class="image-block col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-0 ivo-casting-imageblock" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg) no-repeat center top;background-size:cover;">
					            <h3 class="ivo-back-naranja">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					    		<h4 class="ivo-noticia-subtitulo">SubTitulo de la noticia</h4>
					             <p class="ivo-noticia-descripcion ivo-noticia-descripcion-sub">
					            	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					            </p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link ivo-perfilINd-boton">Ver Casting</a>
					        </div>
					    </div>
				    </div>
				</div>
			</div>
		</div>