{% extends "base.html" %}
{% load staticfiles %}

{% block cssblock %}

    <link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/cropper.css' %}">

    <style type="text/css">
    	body {
    		background-color: white;
    	}
    	select option{
        	background-color: black;
        	color:white;
        }
         div#image_container {
                width:600px;
                height: 600px;
            }
            .cropper-crop-box, .cropper-view-box {
    border-radius: 50%;
}
.cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
}
    </style>

{% endblock %}

{% block content %}

{% if messages %}


				<div class="modal fade bs-example-modal-sm in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block; top: 15%;">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content" style="background:rgba(0,0,0,0.7); color:white;">
							      
							      <div class="modal-body">
							        {% for message in messages %}
								            <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ message }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
								        {% endfor %}
								     <span id="close"  class="close"  style="color:white; opacity:0.9">X</span>
							      </div>
							      
							    </div>
							  </div>
							</div>
				
				    
				{% endif %}

<!-- Barra lateral -->
<div class="container">
	<div class="row ivo-configuracion">
		<div class="col-md-3 ivo-configuracion-menu">
			<ul>
				<li class="activo" id="show_form_general">
					<a href="#general">General</a>
				</li>
				<li id="show_form_seguridad">
					<a href="#seguridad">Seguridad</a>
				</li>
				

				{% if user.get_tipo_usuario != "F" %}

				<li class="ivo-configuracion-menu-separador"></li>
				<li id="show_form_bio">
					<a href="#bio">Bio</a>
				</li>
					{% if user.get_tipo_usuario == "A" %}
					<li id="show_form_experiencia">
						<a href="#experiencia">Experiencia</a>
					</li >
					{% endif %}
				<li id="show_form_interes">
					{% if user.get_tipo_usuario == 'I' or user.get_tipo_usuario == 'P' %}
					<a href="#interes">Area laboral</a>
					{%else%}
					<a href="#interes">Intereses</a>
					{% endif %}
				</li>
				
				{% endif %}
				
				
				

				

			</ul>
		</div>
		<div class="col-md-9 ivo-formularioConf">
			<div hidden>
								<!--form method="post" enctype="multipart/form-data" id="form_foto_perfil"-->
									<input type="file" name="foto" id="seleccionar_foto_perfil" class="inputfile" hidden  onchange="readURL(this)">
									
								<!--/form-->
							</div>
			<form class="ivo-formularioConf-form ivo-formularioConf-form-nf from-principal" action="/perfil/configuraciongeneral/actualizar-general/" id="form_general" method="POST" >
				{% csrf_token %}
				<h1>Configuraciones Generales</h1>
				{% if user.get_avatar == '' or user.get_avatar == None  %}
					<img  src="/static/img/usuario.png" alt="photo profile" id="foto_actual" class="avatar">
				{% else %}
					<img  src="/media/{{user.get_avatar}}" alt="photo profile" id="foto_actual" class="avatar" >
				{% endif %}
				<div style=" width: 120px;">
					<label for="seleccionar_foto_perfil" class = 'seleccionar_foto_perfil'>
						<p >Cargar foto</p>
					</label>
				</div>
	

				<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content ivo-perfil-galeriaFlt">
                    <div class="modal-header ivo-perfil-galeriaFlt-header">
                        <button type="button" class="close" aria-hidden="true" data-dismiss="modal"><span class="icon_close"></span></button>
                        <h4 class="ivo-borde-azulClaro" style="width: 70%;">editar <span id="titulo_modal_editar"></span></h4>

                    </div>
                    <div  class="modal-body">
                        <div class="col-md-12  ivo-perfil-galeriaFlt-bodyUp text-center">
                        <!--input type="file" name="image" id="image" onchange="readURL(this);"/-->
                            <div class="col-md-8 col-md-offset-3 image_container" style="height:400px; width:400px;">
                                <img id="blah" src="#" alt="your image" />
                            </div>
                            <!--div id="cropped_result"></div-->    
                            <br><br> <br><br>  
                            <button class="col-md-2 col-md-offset-5"  id="crop_button">Crop</button> 

                           
                        </div>
                    </div>
                    <div class="modal-footer ivo-perfil-galeriaFlt-footer"></div>
                </div>
            </div>
        </div>


				<div class="ivo-configuracion-form-separador"></div>
				{% if user.get_tipo_usuario == 'I' or  user.get_tipo_usuario == 'P' %}
				<div class="row">
							<div class="col-md-3">
								<label>Empresa</label>
							</div>
							<div class="col-md-9">
							{% if datos.empresa_provedor != None %}
                                <input type="text" name="empresa_provedor"   value="{{datos.empresa_provedor}}">
                            {% else %}
                                <input type="text" name="empresa_provedor"   value="">
                            {% endif %}
							</div>
				</div>
						<div class="row">
							<div class="col-md-3">
								<label>Razon Social</label>
							</div>
							<div class="col-md-9">
							{% if datos.razon_social != None %}
                                <input type="text" name="razon_social"   value="{{datos.razon_social}}">
                            {% else %}
                                <input type="text" name="razon_social"   value="">
                            {% endif %}
							</div>
						</div>
				<div class="row">
					<div class="col-md-3">
						<label>Pais</label>
					</div>
					<div class="col-md-9">
					<select id="pais_emp" name="pais">
					{% if datos.pais != None %}
							<!--input type="text" name="etnia" value="{{datos.etnia}}"-->						
								<option  value = "{{datos.pais.id}}" selected="true"> {{datos.pais }}</option>
								 {% for pais in paises %}
									{% if pais.id != datos.pais.id %}
										{% if pais.prefijo %}
										<option data-pre='{{pais.prefijo}}'  value = "{{pais.id}}"> {{pais.nombre }}</option>
										{% endif %}
									{% endif  %}
								{% endfor %}				

						{% else %}
								
								 {% for pais in paises %}	
									 {% if pais.prefijo %}						
										<option data-pre='{{pais.prefijo}}' value = "{{pais.id}}"> {{pais.nombre }}</option>
									{% endif %}
								{% endfor %}
								
						
						{% endif %}
						</select>
                        
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<label>Telefono</label>
					</div>
					<div class="col-md-9">
						{% if datos.telefono != None %}
						<input id="telefono_emp" type="text" onkeypress="return soloNumeros(event)" name="telefono" value="{{datos.telefono}}">
						{% else %}
						<input id="telefono_emp" type="text" name="telefono" onkeypress="return soloNumeros(event)" >
						{% endif %}
					</div>
				</div>

				{% endif %}

				{% if user.get_tipo_usuario == "A" %}

				<div class="row">
					<div class="col-md-3">
						<label>Nombre</label>
					</div>
					<div class="col-md-9">
						<input type="text" name="first_name" value="{{datos.first_name}}">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Apellido</label>
					</div>
					<div class="col-md-9">
						<input type="text" name="last_name" value="{{datos.last_name}}">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Fecha de Nacimiento</label>
					</div>

					<div class="col-md-9 ivo-configuracion-form-fecha">
						<input class="fechad" type="text" maxlength="2" minlength="2"  onkeypress="return soloNumeros(event)" id="fecha_dia" value="{{datos.fecha_nacimiento|date:'d' }}"> <div class="resaltar-separador">/</div>
						<input class="fechad" type="text" maxlength="2" minlength="2"  onkeypress="return soloNumeros(event)" id="fecha_mes" value="{{datos.fecha_nacimiento|date:'m' }}"> <div class="resaltar-separador">/</div>
						<input class="fechay" type="text" maxlength="4" minlength="4"  onkeypress="return soloNumeros(event)" id="fecha_a_o" value="{{datos.fecha_nacimiento|date:'Y' }}">
						<input type="hidden" name="fecha_nacimiento" id="fecha_nacimiento">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Sexo</label>
					</div>
					<div class="col-md-9">
						<select name="genero" id="genero">
							{% if datos.genero != None %}
								{% if datos.genero == 'M' %}
									<option value="M" selected="selected">Masculino</option>
									<option value="F">Femenino</option>
								{% else %}
									<option value="M" >Masculino</option>
									<option value="F" selected="selected">Femenino</option>
								{% endif %}
							{% else %}
									<option selected="selected">Sexo</option>
									<option value="M" >Masculino</option>
									<option value="F">Femenino</option>
							{%endif %}
						</select>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-3">
						<label>Nacionalidad</label>
					</div>
					<div class="col-md-9">
					<select id="nacionalidad" name="nacionalidad">
                       {% if datos.nacionalidad != None %}
							<!--input type="text" name="etnia" value="{{datos.etnia}}"-->						
								<option value = "{{datos.nacionalidad}}" selected="true"> {{datos.nacionalidad }}</option>
								 {% for pais in paises %}
									{% if pais.nacionalidad != datos.nacionalidad %}
										{% if pais.prefijo %}
										<option value = "{{pais.nacionalidad}}"> {{pais.nacionalidad }}</option>
										{% endif %}
									{% endif  %}
								{% endfor %}				

						{% else %}
								
								 {% for pais in paises %}	
									 {% if pais.prefijo %}						
										<option value = "{{pais.nacionalidad}}"> {{pais.nacionalidad }}</option>
									{% endif %}
								{% endfor %}
								
						
						{% endif %}
						</select>
					</div>
				</div>

				
				<div class="row">
					<div class="col-md-3">
						<label>Pais de Residencia</label>
					</div>
					<div class="col-md-9">
					<select id="pais" name="pais">
						{% if datos.pais != None %}
							<!--input type="text" name="etnia" value="{{datos.etnia}}"-->						
								<option value = "{{datos.pais.id}}" selected="true"> {{datos.pais.nombre }}</option>
								 {% for pais in paises %}
									{% if pais.id != datos.pais.id %}
										{% if pais.prefijo %}
										<option value = "{{pais.id}}"> {{pais.nombre }}</option>
										{% endif %}
									{% endif  %}
								{% endfor %}				

						{% else %}
								
								 {% for pais in paises %}	
									 {% if pais.prefijo %}						
										<option value = "{{pais.id}}"> {{pais.nombre }}</option>
									{% endif %}
								{% endfor %}
								
						
						{% endif %}
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Ciudad de Residencia</label>
					</div>
					<div class="col-md-9">
                        {% if datos.ciudad != None %}
                            
                            <select id="ciudad" name="ciudad">
                                <option selected="selected" 
                                value="{{datos.ciudad}}">{{datos.ciudad}}</option> 
                            </select>
                        {% else %}
                            <select id="ciudad" name="ciudad">
                                <option selected="selected" 
                                value="">Ciudad de Residencia</option> 
                            </select>
                        {% endif %}

					</div>
				</div>
				{% endif %}
				<div class="row">
					<div class="col-md-3">
						<label>Redes Sociales</label>
					</div>
					<div class="col-md-9">
						<div class="col-md-6 col-lg-6 ivo-formularioConf-social">
							<div class="ivo-social-form">
								<span class="social_facebook_circle"></span>
							</div>
                            {% if datos.facebook != None %}
                                <input type="text" name="facebook" class="social" name="facebook"
								   value="{{datos.facebook}}">
                            {% else %}
                                <input type="text" name="facebook" class="social" name="facebook" value="">
                            {% endif %}

						</div>
						<div class="col-md-6 col-lg-6 ivo-formularioConf-social">
							<div class="ivo-social-form ">
								<span class="social_twitter_circle"></span>
							</div>
                            {% if datos.twitter != None %}
                                <input type="text" name="twitter" class="social"  value="{{datos.twitter}}">
                            {% else %}
                                <input type="text" name="twitter" class="social"  value="">
                            {% endif %}

						</div>
						<div class="col-md-6 col-lg-6 col-md-offset-3 ivo-formularioConf-social">
							<div class="ivo-social-form">
								<span class="social_instagram_circle" ></span>
							</div>
                            {% if datos.instagram != None %}
                                <input type="text"  class="social" name="instagram" value="{{datos.instagram}}">
                            {% else %}
                                <input type="text"  class="social" name="instagram" value="">
                            {% endif %}

						</div>
					</div>
				</div>

				{% if user.tipo_usuario != 'F' %}
				<div class="row">
					<div class="col-md-3">
						<label>Website</label>
					</div>
					<div class="col-md-9">
						{% if datos.website != None %}
						<input type="text" name="website" value="{{datos.website}}">
						{% else %}
						<input type="text" name="website" >
						{% endif %}
					</div>
				</div>
				{% endif %}

				{% if user.get_tipo_usuario == "A" %}
				<div class="row">
					<div class="col-md-3">
						<label>Pasaporte</label>
					</div>
					<div class="col-md-9">
                        {% if datos.pasaporte != None %}
                            <input type="text" name="pasaporte" value="{{datos.pasaporte}}">
                        {% else %}
                            <input type="text" name="pasaporte" value="">
                        {% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Visa</label>
					</div>
					<div class="col-md-9">
                        {% if datos.visa != None %}
                            <input type="text" name="visa" value="{{datos.visa}}">
                        {% else %}
                            <input type="text" name="visa" value="">
                        {% endif %}

					</div>
				</div>
				
				
				
				<div class="row">
					<div class="col-md-3">
						<label>Telefono</label>
					</div>
					<div class="col-md-9">
						{% if datos.telefono != None %}
						<input type="text" onkeypress="return soloNumeros(event)" name="telefono" value="{{datos.telefono}}">
						{% else %}
						<input type="text" name="telefono" onkeypress="return soloNumeros(event)" >
						{% endif %}
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-3">
						<label>Agencia / Representante</label>
					</div>
					<div class="col-md-9">
						{% if datos.agencia != None %}
							<input type="text" name="agencia" value="{{datos.agencia}}">
						{% else %}
							<input type="text" name="agencia" value="">
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Disponibilidad de Viajar</label>
					</div>
					<div class="col-md-9">
						<select name="disponible_viajes" id="disponible_viajes">
						{% if datos.disponible_viajes  %}
							<option value="True" selected>Si</option>
							<option value="False">No</option>
						{% else %}
							<option value="False" selected>No</option>
							<option value="True" >Si</option>
							
						{% endif %}	

						</select>
					</div>
				</div>
				<div class="ivo-configuracion-form-separador"></div>
				<div class="row">
					<div class="col-md-12">
						<h1>Caracteristicas del Modelo</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Etnia</label>
					</div>
					<div class="col-md-9">
					<select id="etnia" name="etnia">
						{% if datos.etnia != None %}
							<!--input type="text" name="etnia" value="{{datos.etnia}}"-->						
								<option value = "{{datos.etnia.id}}" selected="true"> {{datos.etnia}}</option>
								 {% for etnia in etnias %}
									{% if etnia.etnia != datos.etnia.etnia %}
										<option value = "{{etnia.id}}"> {{etnia.etnia}}</option>
									{% endif  %}
								{% endfor %}				

						{% else %}
								
								 {% for etnia in etnias %}							
								<option value = "{{etnia.id}}"> {{etnia.etnia}}</option>
								{% endfor %}
								
						
						{% endif %}
							</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Color de Cabello</label>
					</div>
					<div class="col-md-9">


						<select id="color_cabello" name="color_cabello">
						{% if datos.color_cabello != None %}
							<!--input type="text" name="color_cabello" value="{{datos.color_cabello}}"-->						
								<option value = "{{datos.color_cabello.id}}" selected="true"> {{datos.color_cabello}}</option>
								 {% for color_cabello in cabellos %}
									{% if color_cabello.color != datos.color_cabello.color %}
										<option value = "{{color_cabello.id}}"> {{color_cabello.color}}</option>
									{% endif  %}
								{% endfor %}				

						{% else %}
								
								 {% for color_cabello in cabellos %}							
								<option value = "{{color_cabello.id}}"> {{color_cabello.color}}</option>
								{% endfor %}
								
						
						{% endif %}
							</select>

					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Color de Ojos</label>
					</div>
					<div class="col-md-9">


						<select id="color_ojo" name="color_ojo">
						{% if datos.color_ojos != None %}
							<!--input type="text" name="color_ojo" value="{{datos.color_ojo}}"-->						
								<option value = "{{datos.color_ojos.id}}" selected="true"> {{datos.color_ojos}}</option>
								 {% for color_ojo in ojos %}
									{% if color_ojo.color != datos.color_ojos.color %}
										<option value = "{{color_ojo.id}}"> {{color_ojo.color}}</option>
									{% endif  %}
								{% endfor %}				

						{% else %}
								
								 {% for color_ojo in ojos %}							
								<option value = "{{color_ojo.id}}"> {{color_ojo.color}}</option>
								{% endfor %}
								
						
						{% endif %}
							</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Tatuajes</label>
					</div>
					<div class="col-md-9">
						<select id="tatuaje" name="tatuaje">
						{% if datos.tatuaje %}
							<option value='True' selected>  Si</option>
							<option value='False'>No</option>
						{% else %}
							<option value='False' selected>No</option>
							<option value='True' >  Si</option>
							
						{% endif %}
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<label>Estatura</label>
					</div>
					<div class="col-md-9">
						{% if datos.estatura != None %}
						<input type="text" onkeypress="return soloNumeros(event)" name="estatura" value="{{datos.estatura}}">
						{% else %}
						<input type="text" name="estatura" onkeypress="return soloNumeros(event)" >
						{% endif %}						
							
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Medida Busto</label>
					</div>
					<div class="col-md-9">
						{% if datos.busto != None %}
						<input type="text" onkeypress="return soloNumeros(event)" name="busto" value="{{datos.busto}}">
						{% else %}
						<input type="text" name="busto" onkeypress="return soloNumeros(event)" >
						{% endif %}							
							
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Medida Cintura</label>
					</div>
					<div class="col-md-9">
						{% if datos.cintura != None %}
						<input type="text" onkeypress="return soloNumeros(event)" name="cintura" value="{{datos.cintura}}">
						{% else %}
						<input type="text" name="cintura" onkeypress="return soloNumeros(event)" >
						{% endif %}							
							
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Medida Cadera</label>
					</div>
					<div class="col-md-9">
						{% if datos.cadera != None %}
						<input type="text" onkeypress="return soloNumeros(event)" name="cadera" value="{{datos.cadera}}">
						{% else %}
						<input type="text" name="cadera" onkeypress="return soloNumeros(event)" >
						{% endif %}						
							
					</div>
				</div>
		

				{% endif %}

				<!-- BOTONES DE ENVIAR -->
				<div class="row">
					<div class="col-md-12 text-right">
						<a href="/perfil/configuraciongeneral/" class="ivo-boton-fondoInpt ivo-borde-azulClaro" style="margin-right:2%; cursor: pointer;">
							<span class="ivo-back-azulClaro ivo-borde-transparente">Cancelar</span>
						</a>
						<a class="ivo-boton-fondoInpt ivo-borde-azulClaro" style="cursor: pointer;">
							<span class="ivo-back-azulClaro ivo-borde-transparente" id="send_form_general">Actualizar</span>
						</a>
					</div>
				</div>
			</form>
			<!-- FIN FORM -->

			<!-- INICIO FORM BIO -->
			<form style="display:none" action="/perfil/configuraciongeneral/actualizar-general/" class="ivo-formularioConf-form ivo-formularioConf-form-nf from-principal" id="form_bio" method="POST">
				<!-- bio -->
				{% csrf_token %}
				<div class="ivo-configuracion-form-separador"></div>
				<div class="row">
					<div class="col-md-12">
						<h1>Configuracion de Bio</h1>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<label>Breve Biografia</label>
					</div>
					<div class="col-md-10">
					{% if user.tipo_usuario == 'A' %}
						{% if datos.biografia != None or datos.biografia != '' %}
							<textarea class="ivo-formularioConfText" name="biografia" required="required"  placeholder='Comparte que has realizado a lo largo de tu carrera y que te encuentras realizando ahora.'>{{datos.biografia}}</textarea>
						{% else %}
							<textarea class="ivo-formularioConfText" name="biografia" required="required" placeholder='Comparte que has realizado a lo largo de tu carrera y que te encuentras realizando ahora.'></textarea>
						{% endif %}
					{% elif user.tipo_usuario == 'I' or user.tipo_usuario == 'P' %}
						{% if datos.biografia != None or datos.biografia != '' %}
							<textarea class="ivo-formularioConfText" name="biografia" required="required"  placeholder='Para poder conocerte mejor cuéntanos quién eres, qué servicios ofreces y a qué mercado de la industria perteneces.'>{{datos.biografia}}</textarea>
						{% else %}
							<textarea class="ivo-formularioConfText" name="biografia" required="required" placeholder='Para poder conocerte mejor cuéntanos quién eres, qué servicios ofreces y a qué mercado de la industria perteneces.'></textarea>
						{% endif %}
					{% endif %}

					</div>
				</div>
				<!-- fin bio -->
				<div class="row">
					<div class="col-md-12 text-right">
						<a class="ivo-boton-fondoInpt ivo-borde-azulClaro" style="margin-right:2%; cursor: pointer;">
							<span class="ivo-back-azulClaro ivo-borde-transparente">Cancelar</span>
						</a>
						<a class="ivo-boton-fondoInpt ivo-borde-azulClaro" id="send_form_bio" style="cursor: pointer;">
							<span class="ivo-back-azulClaro ivo-borde-transparente">Actualizar</span>
						</a>
					</div>
				</div>
			</form>
			<form style="display:none"   class="ivo-formularioConf-form ivo-formularioConf-form-nf from-principal" id="form_seguridad" method="POST">
				<!-- seguridad -->
				<input type="hidden" name="accion" value="actualizar_seguridad">
				{% csrf_token %}
				<div class="ivo-configuracion-form-separador"></div>
				<h1>Configuracion de Seguridad</h1>
				<div class="row">
					<div class="col-md-3">
						<label>Contrase&ntilde;a</label>
					</div>
					<div class="col-md-9">
						<input type="password" name="old_password" id="old_password">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Nueva Contrase&ntilde;a</label>
					</div>
					<div class="col-md-9">
						<input type="password" name="new_password1" id="new_password1">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Repetir Contrase&ntilde;a</label>
					</div>
					<div class="col-md-9">
						<input type="password" name="new_password2" id="new_password2">
					</div>
				</div>
				<div class="ivo-configuracion-form-separador"></div>
				<h1>Configuracion del Correo Electronico</h1>
				<div class="row">
					<div class="col-md-3">
						<label>Correo Electronico</label>
					</div>
					<div class="col-md-9">
						<input type="email" name="correo" value="{{datos.email}}" maxlength="254" id="id_email">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Nuevo Correo Electronico</label>
					</div>
					<div class="col-md-9">
						<input type="text" name="correo1" id="correo1">
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label>Repetir Correo Electronico</label>
					</div>
					<div class="col-md-9">
						<input type="text" name="email" id="correo2">
					</div>
				</div>
				<!--  fin seguridad -->
				<div class="row">
					<div class="col-md-12 text-right">
						<button class="ivo-boton-fondoInpt ivo-borde-azulClaro" style="margin-right:2%;">
							<span class="ivo-back-azulClaro ivo-borde-transparente">Cancelar</span>
						</button>
						<button class="ivo-boton-fondoInpt ivo-borde-azulClaro">
							<span class="ivo-back-azulClaro ivo-borde-transparente" id = "send_form_seguridad">Actualizar</span>
						</button>
					</div>
				</div>
			</form>

			<div class="ivo-formularioConf-form ivo-formularioConf-form-nf from-principal" style="display:none" action="/perfil/configuraciongeneral/actualizar-experiencia/"   id="form_experiencia">
				
                <h1>Idiomas</h1>
				<div class="row">
					<div class="col-md-3">
						<label>Idiomas</label>
					</div>
					<div class="col-md-9">
						<select id="idioma" name="idioma">
                            
							{% for idioma in idiomas %}
								<option value="{{idioma.id}}"> {{idioma.nombre}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="row">
				<div class="col-md-12 text-right">
				    <a href="#" id="agregar_idioma"> + Agregar Idioma</a>
				</div>
				</div>
				<table class="table ivo-table">
				<thead>
				    <tr>

				        <th>Idioma</th>
				        
				        
				    </tr>
				</thead>
				<tbody id='tbody_idiomas'>
				    {% for idioma_user in idiomas_user %}
				    <tr >
				    
				        <td id='td_idioma_{{idioma_user.id}}'>{{ idioma_user.id_idioma.nombre}}  <span data-ididioma="{{idioma_user.id}}" class="glyphicon glyphicon-trash borrar-idioma pull-right" style="cursor:pointer; color:cyan;"></span></td>
				        <!-- FALTA ELIMINAR -->

				        
				    </tr>
				    {% endfor %}
				</tbody>
				</table>

				
				<div class="ivo-configuracion-form-separador"></div>
				
                {% include 'perfiles/experiencia.html' %}

                
		</div>

			<!-- FORMULARIO PARA LLENAR INTERESES -->


			<div class="ivo-formularioConf-form ivo-formularioConf-form-nf from-principal" style="display:none"    id="form_interes">
				
				
                {% include 'perfiles/interes.html' %}
			</div>



				
	

		</div>
	</div>

</div>
{% endblock %}


{% block javascript %}

<script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/cropper.js' %}"></script>


<script type="text/javascript" defer>
        
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result)
            };
            reader.readAsDataURL(input.files[0]);
            setTimeout(initCropper, 1000);
        }
    }
    function initCropper(){
        
        var image = $('#blah');
                    image.cropper({
                   
              aspectRatio: 1 / 1,
              crop: function(e) {
                // Output the result data for cropping image.
                console.log(e.x);
                console.log(e.y);
                console.log(e.width);
                console.log(e.height);
                console.log(e.rotate);
                console.log(e.scaleX);
                console.log(e.scaleY);
              }
            });
        $('#editar').modal('show');
        $('#editar').css('display: inline-block;border:1px solid blue;max-width:700px;max-height:700px;');
        // On crop button clicked
      $('#crop_button').on('click', function(){
        var result = image.cropper("getCroppedCanvas", image);
                image.cropper("getCroppedCanvas", image).toBlob(function (blob) {
                      //var formData = new FormData();
                      //formData.append('croppedImage', blob);
            var formData = new FormData('croppedImage',blob);
            formData.append('csrfmiddlewaretoken','{{csrf_token}}')
            formData.append('foto',blob)
                      $.ajax({
           url: '/perfil/configuraciongeneral/foto-perfil/',
            type: 'post',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                NProgress.done();
                console.log(data)
                window.location.reload(true);
                
            }
        });
                      
                });
            
        })
    }
</script>



<script>
$(document).on('click', '#close', function(){
			 		$('#myModal').hide();
			 });

$('#pais_emp').on('change', function () {
    if ($( "#pais_emp option:selected" ).data('pre')!='None'){
        $('#telefono_emp').val($( "#pais_emp option:selected" ).data('pre'));
    }else{
        $('#telefono_emp').val('');
    }
    
    
      
});
$(document).on('change', '#pais', function(){
            variable= $(this).val();
            $.ajax({
                            url: '/ciudad/',
                            type: 'post',
                            dataType: 'json',
                            data: {'id_pais':$(this).val(), 'csrfmiddlewaretoken':'{{csrf_token}}'},
                            success: function (data) {
                                if(data.success == false){
                                   
                                }else{
                                    
                                    $('#ciudad').html(data.xHTML);
                                   
                                  
                                }
                            }
                        }); 
            //llamada AJAX
             
            
        });
	$(function(){
		$('.ivo-usuario-subMenu').removeClass("activo");
        $('#id_configuracion').addClass("activo");
        $('#radio-1-2').on("change",function(){			    
			    if ( $(this).is(":checked") ){			    	
			    	$('#dia_hasta2').removeAttr('required')
			    	$('#mes_hasta2').removeAttr('required')
			    	$('#anno_hasta2').removeAttr('required')
			    	$('#dia_hasta2').attr('disabled','true')
			    	$('#mes_hasta2').attr('disabled','true')
			    	$('#anno_hasta2').attr('disabled','true')
			    }else{
			    	$('#dia_hasta2').removeAttr('disabled')
			    	$('#mes_hasta2').removeAttr('disabled')
			    	$('#anno_hasta2').removeAttr('disabled')
			    	$('#dia_hasta2').attr('required','true')
			    	$('#mes_hasta2').attr('required','true')
			    	$('#anno_hasta2').attr('required','true')
			    }
				
			});
        $('#radio-1-1').on("change",function(){			    
			    if ( $(this).is(":checked") ){			    	
			    	$('#dia_hasta').removeAttr('required')
			    	$('#mes_hasta').removeAttr('required')
			    	$('#anno_hasta').removeAttr('required')
			    	$('#dia_hasta').attr('disabled','true')
			    	$('#mes_hasta').attr('disabled','true')
			    	$('#anno_hasta').attr('disabled','true')
			    }else{
			    	$('#dia_hasta').removeAttr('disabled')
			    	$('#mes_hasta').removeAttr('disabled')
			    	$('#anno_hasta').removeAttr('disabled')
			    	$('#dia_hasta').attr('required','true')
			    	$('#mes_hasta').attr('required','true')
			    	$('#anno_hasta').attr('required','true')
			    }
				
			});
       
	    $('#send_form_experiencia').click(function(){
            var fecha_desde = $('#dia_desde2').val()+'/'+$('#mes_desde2').val()+'/'+$('#anno_desde2').val();
            if( !$('#radio-1-2').is(":checked")){
            	var fecha_hasta =$('#anno_hasta2').val()+'-'+$('#mes_hasta2').val()+'-'+ $('#dia_hasta2').val();
            	$('#fechaHasta').val(fecha_hasta);
            }
            
            $('#fechaDesde').val(fecha_desde);
            
            
            if( validarForm($('#formExperiencia input')) ){
                guardarExperiencia();
            }
        });
	    $(document).on('click', '#send_form_educacion', function(){
	    	console.log("SEND FORM EDUCACION")
            var fecha_desde = $('#dia_desde').val()+'/'+$('#mes_desde').val()+'/'+$('#anno_desde').val();
            if( !$('#radio-1-1').is(":checked")){
            	
            	var fecha_hasta =$('#anno_hasta').val()+'-'+$('#mes_hasta').val()+'-'+ $('#dia_hasta').val();
            	$('#fecha_fin_estudio').val(fecha_hasta);
            }
            
            $('#fecha_inicio_estudio').val(fecha_desde);
            
            if( validarForm($('#form_educacion input')) ){
            	console.log("ANTES DE LLAMAR AJAX")
                guardarEducacion();
            }
        });
	    $('#agregar_experiencia').click(function(){
            $('#ModalExperiencia').modal('show');
        });
        $(document).on('click', '.editar_experiencia', function(){
        	variable= $(this).data('id');
        	$.ajax({
				            url: '/perfil/configuraciongeneral/buscar-experiencia/',
				            type: 'post',
				            dataType: 'json',
				            data: {'id':$(this).data('id'), 'csrfmiddlewaretoken':'{{csrf_token}}'},
				            success: function (data) {
				                if(data.success == false){
				                    //alert(data.mensaje);
				                    $('#texto_mensaje').text(data.mensaje)
            						$('#mensajes').modal('show');
				                }else{
				                    $('#id_empresa').val(data.empresa);
				                    $('#id_cargo').val(data.cargo);
				                    $('#dia_desde2').val(data.dia_desde);
				                    $('#mes_desde2').val(data.mes_desde);
				                    $('#anno_desde2').val(data.anno_desde);
				                    $('#dia_hasta2').val(data.dia_hasta);
				                    $('#mes_hasta2').val(data.mes_hasta);
				                    $('#anno_hasta2').val(data.anno_hasta);
				                    if(data.dia_hasta==''){
				                    	$('#radio-1-2').attr('checked', true);
				                    	$('#dia_hasta2').removeAttr('required')
								    	$('#mes_hasta2').removeAttr('required')
								    	$('#anno_hasta2').removeAttr('required')
								    	$('#dia_hasta2').attr('disabled','true')
								    	$('#mes_hasta2').attr('disabled','true')
								    	$('#anno_hasta2').attr('disabled','true')
				                    }
				                    /*setTimeout(function(){
				                      location.href  ='/perfil/{{datos_personales.get_uuid}}/'
				                    }, 1500);
									*/	
									
									$('#id_experiencia').val(variable);
						        	$('#send_form_experiencia').hide();
						        	$('#update_experiencia').show();
						        	
						            $('#ModalExperiencia').modal('show');
				                }
				            }
				        });	
        	//llamada AJAX
			 
        	
        });
         $('#update_experiencia').click(function(){
            var fecha_desde = $('#dia_desde2').val()+'/'+$('#mes_desde2').val()+'/'+$('#anno_desde2').val();
            if( !$('#radio-1-2').is(":checked")){
            	var fecha_hasta =$('#anno_hasta2').val()+'-'+$('#mes_hasta2').val()+'-'+ $('#dia_hasta2').val();
            	$('#fechaHasta').val(fecha_hasta);
            }
            
            $('#fechaDesde').val(fecha_desde);
            
            
            if( validarForm($('#formExperiencia input')) ){
            	
                updateExperiencia();
            }
        });
	    $('#cerrar_modal_experiencia').click(function(){
	    	$('#update_experiencia').hide();
	    	$('#send_form_experiencia').show();
	    	$('#id_experiencia').val('');
	    	//$('#formExperiencia').remove('#id_experiencia');
	        $('#ModalExperiencia').modal('hide');
	        $('#formExperiencia').trigger("reset");
        });
	    $('#agregar_educacion').click(function(){
            $('#ModalEducacion').modal('show');
           });
             $(document).on('click', '.editar_educacion', function(){
        	variable= $(this).data('id');
        	$.ajax({
				            url: '/perfil/configuraciongeneral/buscar-educacion/',
				            type: 'post',
				            dataType: 'json',
				            data: {'id':$(this).data('id'), 'csrfmiddlewaretoken':'{{csrf_token}}'},
				            success: function (data) {
				                if(data.success == false){
				                    //alert(data.mensaje);
				                    $('#texto_mensaje').text(data.mensaje)
            						$('#mensajes').modal('show');
				                }else{
				                    $('#id_institucion').val(data.institucion);
				                    $('#id_titulo').val(data.titulo);
				                    $('#dia_desde').val(data.dia_desde);
				                    $('#mes_desde').val(data.mes_desde);
				                    $('#anno_desde').val(data.anno_desde);
				                    $('#dia_hasta').val(data.dia_hasta);
				                    $('#mes_hasta').val(data.mes_hasta);
				                    $('#anno_hasta').val(data.anno_hasta);
				                    if(data.dia_hasta==''){
				                    	$('#radio-1-1').attr('checked', true);
				                    	$('#dia_hasta').removeAttr('required')
								    	$('#mes_hasta').removeAttr('required')
								    	$('#anno_hasta').removeAttr('required')
								    	$('#dia_hasta').attr('disabled','true')
								    	$('#mes_hasta').attr('disabled','true')
								    	$('#anno_hasta').attr('disabled','true')
				                    }
				                    /*setTimeout(function(){
				                      location.href  ='/perfil/{{datos_personales.get_uuid}}/'
				                    }, 1500);
									*/	
									
									$('#id_educacion').val(variable);
						        	$('#send_form_educacion').hide();
						        	$('#update_educacion').show();
						        	
						            $('#ModalEducacion').modal('show');
				                }
				            }
				        });	
        	//llamada AJAX
			 
        	
        });
		$('#update_educacion').click(function(){
            var fecha_desde = $('#dia_desde').val()+'/'+$('#mes_desde').val()+'/'+$('#anno_desde').val();
            if( !$('#radio-1-1').is(":checked")){
            	var fecha_hasta =$('#anno_hasta').val()+'-'+$('#mes_hasta').val()+'-'+ $('#dia_hasta').val();
            	$('#fecha_fin_estudio').val(fecha_hasta);
            }
            
            $('#fecha_inicio_estudio').val(fecha_desde);
            
            
            if( validarForm($('#form_educacion input')) ){
            	
                updateEducacion();
            }
        });
      
	    $('#cerrar_modal_educacion').click(function(){
	    	$('#update_educacion').hide();
	    	$('#send_form_educacion').show();
	    	$('#id_educacion').val('');        
	        $('#ModalEducacion').modal('hide');
	        $('#form_educacion').trigger("reset");
        });
	  
		{% if user.get_tipo_usuario == "A"%}
			{% if datos.genero != None %}
				$("#genero option[value={{ datos.genero}}]").attr("selected",true);
			{% endif %}
			
		{% endif %}
		
       
		 $('#agregar_idioma').click(function(){
		 				id_idioma=$('#idioma').val();
			        	
			        	 $.ajax({
				            url: '/perfil/configuraciongeneral/idioma/',
				            type: 'post',
				            dataType: 'json',
				            data: {'id_idioma':id_idioma, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				            success: function (data) {
				                NProgress.done();
				                if(data.success == false){
				                    //alert(data.mensaje);
				                    $('#texto_mensaje').text(data.mensaje)
            						$('#mensajes').modal('show');
				                   
				                    
				                }else{
				                    //alert(data.mensaje);
				                    $('#texto_mensaje').text(data.mensaje)
            						$('#mensajes').modal('show');
				                    /*setTimeout(function(){
				                      location.href  ='/perfil/{{datos_personales.get_uuid}}/'
				                    }, 1500);
									*/
									
										$('#tbody_idiomas').append(data.html)
									
									
				                }
				            }
				        });			        	
			    });
		$('#send_form_general').click(function(){	
			if (validarForm( $('#form_general input') ) ) {
				{% if user.get_tipo_usuario == "A"%}
					
				if( $('#fecha_a_o').val() < 1900 || $('#fecha_a_o').val() > new Date().getFullYear()){
                
                $('#texto_mensaje').text('Ingrese un año valido');
                $('#mensajes').modal('show');
                return;
            }
				    if( $('#fecha_a_o').val().trim() != ''  && $('#fecha_mes').val().trim() != ''  && $('#fecha_dia').val().trim() != ''   ){
				        $('#fecha_nacimiento').val($('#fecha_a_o').val()+"-"+$('#fecha_mes').val()+'-'+$('#fecha_dia').val());
	                }
                {% endif %}
				$('#form_general').submit();
			}
		});
		$('#send_form_bio').click(function(){
			if (validarForm( $('#form_bio input') ) ) {
				$('#form_bio').submit();
				/* $.ajax({
				            url: '/perfil/configuraciongeneral/actualizar-general/',
				            type: 'post',
				            dataType: 'json',
				            data: $('#form_bio').serialize(),
				            success: function (data) {
				                
				                if(data.success == false){
				                    //alert(data.mensaje);
				                    $('#texto_mensaje').text(data.mensaje)
            						$('#mensajes').modal('show');
				                   
				                    
				                }else{
				                    //alert(data.mensaje);
				                    $('#texto_mensaje').text(data.mensaje)
            						$('#mensajes').modal('show');
				                    setTimeout(function(){
				                      location.href  ='/perfil/{{datos_personales.get_uuid}}/'
				                    }, 1500);
													
									
									
				                }
				            }
				        });	*/
			}
		})
		$('#send_form_cita').click(function(){
			console.log("en la cita")
			if (validarForm( $('#form_cita input') ) ) {
					     $.ajax({
				            url: '/perfil/configuraciongeneral/cita/',
				            type: 'post',
				            dataType: 'json',
				            data: $('#form_cita').serialize(),
				            success: function (data) {
				                
				                if(data.success == false){
				                    //alert(data.mensaje);
				                    $('#texto_mensaje').text(data.mensaje)
            						$('#mensajes').modal('show');
				                }else{
				                    //alert(data.mensaje);
				                    $('#texto_mensaje').text(data.mensaje)
            						$('#mensajes').modal('show');
				                    /*setTimeout(function(){
				                      location.href  ='/perfil/{{datos_personales.get_uuid}}/'
				                    }, 1500);
									*/	
				                }
				            }
				        });	
			}
		})
		$('#send_form_interes').click(function(){
			
			if (validarForm( $('#form_interes1 input') ) ) {
				$.ajax({
				            url: '/perfil/configuraciongeneral/actualizar-interes/',
				            type: 'post',
				            dataType: 'json',
				            data: $('#form_interes1').serialize(),
				            success: function (data) {
				                if(data.success == false){
				                    //alert(data.mensaje);
				                    $('#texto_mensaje').text(data.mensaje)
            						$('#mensajes').modal('show');
				                }else{
				                    //alert("se cambiaron los intereses");
				                    $('#texto_mensaje').text("Los intereses fueron modificados")
            						$('#mensajes').modal('show');
				                    /*setTimeout(function(){
				                      location.href  ='/perfil/{{datos_personales.get_uuid}}/'
				                    }, 1500);
									*/	
				                }
				            }
				        });	
			}
		});
		$('#send_form_seguridad').click(function(){
			var enviar = true;
			if( $('#new_password1').val().trim() == '' && $('#correo1').val().trim() == '' ){
				enviar = false;
				return false;
			}
			if( $('#new_password1').val().trim() != ''){
				if ( $('#new_password1').val().trim() != $('#new_password2').val().trim() ){
					//alert('El campo nueva contraseña y repetir contraseña debe ser iguales, Corrija e intente nuevamente');
					$('#texto_mensaje').htlm('El campo nueva contraseña y repetir contraseña debe ser iguales,<br> Corrija e intente nuevamente</p>')
            		$('#mensajes').modal('show');
					enviar = false;
				}else{
					if ( $('#correo1').val().trim() != $('#correo2').val().trim() ){
						//alert('El campo nuevo correo electronico y repetir correo electronico debe ser iguales, Corrija e intente nuevamente');
						$('#texto_mensaje').text('El campo nuevo correo electronico y repetir correo electronico debe ser iguales,\n Corrija e intente nuevamente')
            		$('#mensajes').modal('show');
						enviar = false;
					}
				}
			}else{
				if ( $('#correo1').val().trim() != $('#correo2').val().trim() ){
					//alert('El campo nuevo correo electronico y repetir correo electronico debe ser iguales, Corrija e intente nuevamente');
					$('#texto_mensaje').text('El campo nuevo correo electronico y repetir correo electronico debe ser iguales,\n Corrija e intente nuevamente')
            		$('#mensajes').modal('show');
					enviar = false;
				}
			}
			if(enviar){
				NProgress.start();
				enviarForm( $('#form_seguridad').serialize(), '/perfil/configuraciongeneral/actualizar-seguridad/' );
			}
		});
		$('.ivo-configuracion-menu > ul > li').click(function(){
			$('.ivo-configuracion-menu > ul > li').removeClass('activo');
			$(this).addClass('activo');
			var elem = $(this).attr('id');
			elem = elem.replace('show_','');
			$('.from-principal').fadeOut();
			$('#'+elem).fadeIn();
		})
		$('.carousel').carousel({
			interval: 5000 //changes the speed
		});
	   $('ivo-contador').countdown({since: new Date(2017, 12-1, 25)});
	   /*seleccion de foto de perfil
	    $('#seleccionar_foto_perfil').change(function(e){
	        handleImage(e)
	    });*/
	});
	function updateExperiencia(){
       
        $.ajax({
            url: '/perfil/configuraciongeneral/experiencia/',
		    type : "POST",            
            dataType: 'json',
            data:  $('#formExperiencia').serialize(),
            success: function (data) {
               
                if(data.success == false){
                    $.each(data.errors.fields, function(i, item) {
                        if(i != 'undefined')
                            alert(i+ " "+item);
                    });
                    $('#update_experiencia').attr('id','send_form_experiencia')
	    			$('#formExperiencia').remove('#id_experiencia');
        			$('#ModalExperiencia').modal('hide');
        			//MODIFICAR EL DOM CON LOS DATOS NUEVOS DE EXP
        			//$('#tbody_experiencia').append(data.xHTML)
        			$('#formExperiencia').trigger("reset");
                }else{
                	/*
                    setTimeout(function(){
                      location.href  ='/perfil/configuraciongeneral/'
                    }, 1500);*/
        			//alert("se modifico la experiencia");
        			$('#texto_mensaje').text("se modifico la experiencia")
            		$('#mensajes').modal('show');
        			$('#update_experiencia').hide();
        			$('#send_form_experiencia').show();
        			variable=$('#id_experiencia').val();
        			$('#tbody_experiencia').find('#tr_experiencia_'+variable).html(data.xHTML)
        			$('#id_experiencia').val('');
	    			//$('#formExperiencia').remove('#id_experiencia');
        			$('#ModalExperiencia').modal('hide');
        			//MODIFICAR EL DOM CON LOS DATOS NUEVOS DE EXP
        			//$('#tbody_experiencia').append(data.xHTML)
        			$('#formExperiencia').trigger("reset");
                }
            }
        });
    }
    function guardarExperiencia(){
       
        $.ajax({
            url: '/perfil/configuraciongeneral/experiencia/',
            type: 'post',
            dataType: 'json',
            data:  $('#formExperiencia').serialize(),
            success: function (data) {
               
                if(data.success == false){
                    $.each(data.errors.fields, function(i, item) {
                        if(i != 'undefined')
                            alert(i+ " "+item);
                    });
                }else{
                	/*
                    setTimeout(function(){
                      location.href  ='/perfil/configuraciongeneral/'
                    }, 1500);*/
        			//alert("se guardo la experiencia");
        			$('#texto_mensaje').text("se guardo la experiencia")
            		$('#mensajes').modal('show');
        			$('#ModalExperiencia').modal('hide');
        			$('#tbody_experiencia').append(data.xHTML)
        			$('#formExperiencia').trigger("reset");
                }
            }
        });
    }
    function updateEducacion(){
       
        $.ajax({
            url: '/perfil/configuraciongeneral/educacion/',
		    type : "POST",            
            dataType: 'json',
            data:  $('#form_educacion').serialize(),
            success: function (data) {
               
                if(data.success == false){
                    $.each(data.errors.fields, function(i, item) {
                        if(i != 'undefined')
                            alert(i+ " "+item);
                    });
                    $('#update_educacion').hide();
        			$('#send_form_educacion').show();
        			$('#ModalEducacion').modal('hide');
        			//MODIFICAR EL DOM CON LOS DATOS NUEVOS DE EXP
        			//$('#tbody_experiencia').append(data.xHTML)
        			$('#form_educacion').trigger("reset");
                }else{
                	/*
                    setTimeout(function(){
                      location.href  ='/perfil/configuraciongeneral/'
                    }, 1500);*/
        			//alert("se modifico la educacion");
        			$('#texto_mensaje').text("se modifico la educacion")
            		$('#mensajes').modal('show');
        			$('#update_educacion').hide();
        			$('#send_form_educacion').show();
        			variable=$('#id_educacion').val();
        			$('#tbody_educacion').find('#tr_educacion_'+variable).html(data.xHTML)
        			$('#id_educacion').val('');
	    			//$('#formExperiencia').remove('#id_experiencia');
        			$('#ModalEducacion').modal('hide');
        			//MODIFICAR EL DOM CON LOS DATOS NUEVOS DE EXP
        			//$('#tbody_experiencia').append(data.xHTML)
        			$('#form_educacion').trigger("reset");
                }
            }
        });
    }
    function guardarEducacion(){
       console.log("DENTRO DE LA FUNCION")
        $.ajax({
            url: '/perfil/configuraciongeneral/educacion/',
            type: 'post',
            dataType: 'json',
            data:  $('#form_educacion').serialize(),
            success: function (data) {
                
                if(data.success == false){
                    $.each(data.errors.fields, function(i, item) {
                        if(i != 'undefined')
                            alert(i+ " "+item);
                    });
                }else{/*
                    setTimeout(function(){
                      location.href  ='/perfil/configuraciongeneral/'
                    }, 1500);*/
        			//alert("se guardo la educacion");
        			$('#texto_mensaje').text("se guardo la educacion")
            		$('#mensajes').modal('show');
        			$('#ModalEducacion').modal('hide');
        			$('#tbody_educacion').append(data.xHTML)
        			$('#form_educacion').trigger("reset");
                }
            }
        });
    }
    function handleImage(e){
       NProgress.start();
        var reader = new FileReader();
        reader.onload = function(event){
            var image = new Image();
            image.src = e.target.result;
            image.onload = function(){
               /* if (image.width < 400) {
                    alert("Please choose a larger size");
                    return false;
                } else if (image.height < 300) {
                    alert("Please choose a larger size");
                    return false;
                }
                if(image.height > image.width){
                    alert("Sorry allowed only horizontal images");
                    return false;
                }*/
                var canvas = document.createElement('canvas');
                var MAX_WIDTH = 160;
                var MAX_HEIGHT = 160;
                var width = image.width;
                var height = image.height;
                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                    }
                }
                canvas.width = width;
                canvas.height = height;
                var ctx = canvas.getContext('2d');
                ctx.drawImage( image, 0, 0, width, height );
                $('#hidden_image').val(canvas.toDataURL());
                //$('#img_canvas').html(['<img src="', canvas.toDataURL(), '"/>'].join(''));
                $('#foto_actual').attr('src',canvas.toDataURL())
            }
            image.src = event.target.result;
            subitFotoPerfil();
        }
        reader.readAsDataURL(e.target.files[0]);
    }
    function subitFotoPerfil(){
    	var formData = new FormData($("#form_foto_perfil")[0]);
    	$.ajax({
           url: '/perfil/configuraciongeneral/foto-perfil/',
            type: 'post',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
            	NProgress.done();
                console.log(data)
            }
        });
    }
    function enviarForm(form, url){
		$.ajax({
           	url: url,
            type: 'post',
            dataType: 'json',
            data: form,
            success: function (data) {
            	NProgress.done();
            	console.log(data);
            	if(data.success == false){
                    $.each(data.errors.fields, function(i, item) {
                        if(i != 'undefined')
                            alert(i+ " "+item);
                    });
                }else{/*
                    setTimeout(function(){
                      location.href  ='/perfil/configuraciongeneral/'
                    }, 1500);*/
        			//alert("se guardo la educacion");
        			$('#texto_mensaje').text("Los datos fueron modificados")
            		$('#mensajes').modal('show');
        			
        			
        			$('#form_seguridad').trigger("reset");
                }
            }
        });
    }
$('#talento').on('change', function () {
	$('.genero').hide()
    $('#arte-'+this.value).show()  
      
});
$(document).on('click', '.borrar-idioma', function(){ 
        var idioma= $(this).data('ididioma')
        $.ajax({
           url: '/perfil/configuraciongeneral/idioma/borrar/',
            type: 'post',
            dataType: 'json',
            data: {'idioma_id':idioma,'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function (data) {
               
               if(data.success == false){
               }else{
                
                    $('#td_idioma_'+idioma).remove();
                    $('#texto_mensaje').text("El idioma fue eliminado")
            		$('#mensajes').modal('show');
               }
            //$('#foto_actual').css('background-image','url(/'+;
            }
        });
 });
$(document).on('click', '.dropdown .dropdown-menu', function (e) {
  e.stopPropagation();
});
</script>

{% endblock %}