{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block cssblock %}

		<style type="text/css">
			.ivo-pregunta { height: auto;}
			.ivo-form  select {width: 100%}
			body {background-color: white;}
			.dz-default {visibility:hidden;}
		</style>
{% endblock %}

{% block content %}

<div class="container">
			<div class="row ivo-configuracion">
				<div class="col-sm-4 col-md-3 ivo-configuracion-menu ivo-mensajes-latItems">
					<ul class="ivo-mensajes-panelSuperior">
						<li class="ivo-mensajes-botonR">
							<a href="#" class="ivo-boton-fondo ivo-boton-mensajes ivo-boton-mensajes-redactar">
								<span>Redactar</span>
							</a>
						</li>
						<li class="ivo-mensajes-select">
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    <span class="icon-envelope ivo-font-azulClaro" ></span> &nbsp;<i>Mensajes Recibidos</i>
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li><a href="#"><span class="icon-envelope ivo-font-azulClaro"></span>&nbsp; <i>Mensajes Recibidos</i></a></li>
							    <li><a href="#"><span class="icon-paper-plane ivo-font-azulClaro"></span>&nbsp; <i>Mensajes Enviados</i></a></li>
							  </ul>
							</div>					
						</li>
					</ul>
					<ul class="ivo-mensajes-lista">
						<li class="activo">
							<div class="" style="background-image: url(assets/img/avatar-ivo.jpg)"></div>
							<h5>Nombre y Apellido</h5>
							<h6>Resumen del mensaje</h6>
						</li>
						<li>
							<div class="" style="background-image: url(assets/img/avatar-ivo.jpg)"></div>
							<h5>Nombre y Apellido</h5>
							<h6>Resumen del mensaje</h6>
						</li>
						<li>
							<div class="" style="background-image: url(assets/img/avatar-ivo.jpg)"></div>
							<h5>Nombre y Apellido</h5>
							<h6>Resumen del mensaje</h6>
						</li>
						<li>
							<div class="" style="background-image: url(assets/img/avatar-ivo.jpg)"></div>
							<h5>Nombre y Apellido</h5>
							<h6>Resumen del mensaje</h6>
						</li>
						<li>
							<div class="" style="background-image: url(assets/img/avatar-ivo.jpg)"></div>
							<h5>Nombre y Apellido</h5>
							<h6>Resumen del mensaje</h6>
						</li>
						<li>
							<div class="" style="background-image: url(assets/img/avatar-ivo.jpg)"></div>
							<h5>Nombre y Apellido</h5>
							<h6>Resumen del mensaje</h6>
						</li>
					</ul>
				</div>
				<div class="col-sm-8 col-md-9 ivo-formularioConf ivo-mensajes-central">
					<form class="ivo-formularioConf-form ivo-mensaje-enviarM" method="POST" action="/perfil/mensajes/enviar/">
					{%csrf_token%}
						<!-- DEBE LLEVAR UN AJAX, O MEJOR UN SOCKET, PARA RECUPERAR LAS INSTANCIAS A LOS DATOS-->
						<input type="text" placeholder="Escribe un nombre" name="destino">
						<textarea placeholder="Escribe tu mensaje" name="mensaje"></textarea>
						<div>	
						<input type="file" id='archivo'  style="display: none;">
							
							
								<label for="archivo" class="glyphicon glyphicon-paperclip" ></label>
								
							
							<input type="file" name='imagen' style="display: none;">
								
							<label for="archivo" class="glyphicon glyphicon-picture" ></label>						
								
							
						</div>
						<button class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro" style="margin-right: 3%;" type="submit">
							<span class="ivo-back-trs-azulClaro ivo-borde-transparente">Enviar</span>
						</button>
					</form>
				</div>
			</div>
		</div>

			{% endblock %}

	{% block javascript %}
	<script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
	<!--script type="text/javascript">
            Dropzone.options.myDropzone = {
                paramName: "imagen", // el nombre de nuestro input
                autoProcessQueue : true,
                parallelUploads: 1,
                maxFiles:1,

                init: function() {
				  this.on('addedfile', function(file) {
				    if (this.files.length > 1) {
				      this.removeFile(this.files[0]);
				    }
				  });
				}

            };
        </script-->
		<script>


		    $('.carousel').carousel({
		        interval: 5000 //changes the speed
		    });

		    $('#enlace-casting').addClass('activo');


		   
				    $('#send_form').click(function(){
				    	if (validarForm( $('#form_general input') ) ) {
				        $("#form_general").submit();
		    			}
				    });
				

function registrar(){

        NProgress.start();
        $.ajax({
            url: '/casting/audicion/',
            type: 'post',
            dataType: 'json',
            data:  $('#form_general').serialize(),
            success: function (data) {
                NProgress.done();
                if(data.success == false){
                    alert(data.mensaje);
                    $.each(data.errors.fields, function(i, item) {
                        alert(i+ " "+item);
                    });
                }else{
                    alert(data.mensaje);
                    setTimeout(function(){
                      location.href  ='/casting/crear/'
                    }, 1500);

                }
            }
        });
    }

		</script>
	{% endblock %}
