{% load staticfiles %}
{% load i18n %}

					<form class="ivo-formularioConf-form" method="POST" action="/perfil/configuraciongeneral/actualizar-interes/" id="form_interes1">
					{% csrf_token %}
						<h1>Intereses</h1>
						<div class="row">
							<div class="col-md-3">
								<label class="ivo-label-ampliado-lista">Mis Intereses</label>
							</div>
							<div class="col-md-9">
								<div class="ivo-mensajes-select">
									<div class="dropdown">
									  <button class="btn btn-default dropdown-toggle ivo-drop-ampliado-lista" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									   Seleccione sus intereses 
									    <span class="caret"></span>
									  </button>
									  <ul class="dropdown-menu ivo-select-ampliado-lista" aria-labelledby="dropdownMenu1">
									  {%for interes in intereses %}
									 	{% if interes.id in interesesusuario %}
									    <li>
									    	<input type="checkbox" id="{{interes.id}}" class="regular-checkbox"  name="interes-{{interes.id}}"  checked/>
											<label class="no-margin" for="{{interes.id}}"></label>						    		
									    	<div>{{interes.nombre}}</div>
									   	</li>
									   	{% else %}

									    <li>
									    	<input type="checkbox" id="{{interes.id}}" class="regular-checkbox"  name="interes-{{interes.id}}" />
											<label class="no-margin" for="{{interes.id}}"></label>						    		
									    	<div>{{interes.nombre}}</div>
									   	</li>
									   	{%endif%}
									   {% endfor %}
									  </ul>
									</div>
								</div>
							</div>
						</div>
						<button class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro" id = "send_form_interes">
							<span class="ivo-back-trs-azulClaro ivo-borde-transparente">Actualizar</span>
						</button>
						<button class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro">
							<span class="ivo-back-trs-azulClaro ivo-borde-transparente">Cancelar</span>
						</button>
					</form>
				
			