{% extends "base.html" %}
{% load staticfiles %}


    {% block javascript %}

        <!--
        <script type="text/javascript" src="{% static 'js/lightgallery.js' %}"></script>
        -->

        <script type="text/javascript" src="{% static 'js/jquery.blueimp-gallery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-image-gallery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/perfil.js' %}"></script>
        

        <script>
        	$(function(){
        		var foto = '{{datos_personales.avatar}}';
                
                if (foto != ''){
                    foto = foto.split('/');
                foto  = '/media/avatar/md_'+foto[1];

                $('#foto_perfil').css({'background-image':'url('+foto+')'});
            }else{
                $('#foto_perfil').css({'background-image':"url('/static/img/avatar-ivo.jpg'"});

            }
        		

        		$('.ivo-usuario-subMenu').removeClass("activo");
        		$('#id_perfil').addClass("activo");

                $('#send_form_eduacion').click(function(){

                });

                $('#seleccionar_foto_cover').change(function(e){
	       			 handleImage(e)
	    		});
        	});    

        		function handleImage(e){
       NProgress.start();
        var reader = new FileReader();
        reader.onload = function(event){
            var image = new Image();
            image.src = e.target.result;
            image.onload = function(){
               
                var canvas = document.createElement('canvas');
                var MAX_WIDTH = 160;
                var MAX_HEIGHT = 160;
                var width = image.width;
                var height = image.height;
                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                    }
                }
                canvas.width = width;
                canvas.height = height;

                var ctx = canvas.getContext('2d');
                ctx.drawImage( image, 0, 0, width, height );

                $('#hidden_image').val(canvas.toDataURL());
                //$('#img_canvas').html(['<img src="', canvas.toDataURL(), '"/>'].join(''));
                $('#cover_actual').attr('src',canvas.toDataURL())

            }
            image.src = event.target.result;

            subirCoverPerfil();
        }
        reader.readAsDataURL(e.target.files[0]);
    }


    function subirCoverPerfil(){
    	var formData = new FormData($("#form_cover_perfil")[0]);
    	$.ajax({
           url: '/perfil/configuraciongeneral/foto-cover/',
            type: 'post',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
            	NProgress.done();
                console.log(data)
                window.location.reload(true);

                

            }

        });
    }




        		$('.mensaje_lista').click(function() {
        		// no estoy recuperando el mensaje completo.. y si tiene fotos?!!!!
        		//esto tiene que ser un ajax con el id del mensaje
        				$('.activo').removeClass('activo')
					        			$(this).addClass("activo")   
					        			$('#revisar').show()
					        			$('#redactar').hide()     	
        				var idmensaje = $(this).data('idmsj')
			        	
			        	 $.ajax({
				            url: '/perfil/mensajes/detalle/',
				            type: 'post',
				            dataType: 'json',
				            data: {'idmensaje':idmensaje, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				            success: function (data) {
				                NProgress.done();
				                if(data.success == false){
				                    alert(data.mensaje);
				                   
				                    
				                }else{
				                    //alert(data.mensaje);
				                    /*setTimeout(function(){
				                      location.href  ='/perfil/{{datos_personales.get_uuid}}/'
				                    }, 1500);
									*/
									
										$('#persona_mensaje').text(data.destino)
					        			$('#mensaje_abierto').text(data.mensaje)
					        			$('#enlace_imagen').removeAttr('href')
					        			$('#enlace_imagen').text('')

					        			if(data.imagen!=''){
					        				$('#enlace_imagen').attr('href',data.imagen)
					        			$('#enlace_imagen').text('descargar imagen adjunta')
					        			}

					        			if(data.archivo!=''){
					        				$('#enlace_archivo').attr('href',data.archivo)
					        			$('#enlace_archivo').text('descargar archivo adjunto')
					        			}
					        			
									
									

				                }
				            }
				        });			        	
			    });

        				
        		
        	

        		$('#responder').click(function() {
        		// no estoy recuperando el mensaje completo.. y si tiene fotos?!!!!
        		//esto tiene que ser un ajax con el id del mensaje
        			$('#redactar').show()
        			$('#revisar').hide()
        			$('#nombre').val($('#persona_mensaje').text())
        			       		
        		
        	});



        	$('#selector_enviados').click(function() {
        		// body...
        		$('#selector_mensaje').replaceWith("<span class='icon-paper-plane ivo-font-azulClaro' id='selector_mensaje'></span>")
        		$('#texto_selector_mensaje').replaceWith("<i id='texto_selector_mensaje'>Mensajes Enviados</i>");
        		$('#lista_enviados').show()
        		$('#lista_recibidos').hide()
        		$('#redactar').hide()
        		$('#revisar').show()
        		
        	});

        	$('#selector_recibidos').click(function() {
        		// body...
        		$('#selector_mensaje').replaceWith("<span class='icon-envelope ivo-font-azulClaro' id='selector_mensaje'></span>")
        		$('#texto_selector_mensaje').replaceWith("<i id='texto_selector_mensaje'>Mensajes Recibidos</i>")
        		$('#lista_enviados').hide()
        		$('#lista_recibidos').show()
        		$('#redactar').hide()
        		$('#revisar').show()
        		
        		
        	});

        	$('#boton_redactar').click(function() {
        		// body...
        		$('#redactar').show();
        		$('#revisar').hide();
        		$('.activo').removeClass('activo');
        		$('#nombre').val('');
        		$('#cuerpo_mensaje').val('');
        		
        		
        	});


        	$('#volver').click(function() {
        		// body...
        		$('#principal').show();
        		$('#enviar_mensaje').hide();
        		$('body').css('background-color', '#343436');
        		
        	});

        	$('#mensaje').click(function() {
        		
        		$('#principal').hide();
        		$('#enviar_mensaje').show();
        		$('body').css('background-color', 'white');
        		$('#nombre').val('{{datos_personales.email}}');
        	});

        	

			 $("#seguir").click(function(){
			        	var destino = '{{datos_personales.id}}'
			        	var origen = '{{user.id}}'
			        	 $.ajax({
				            url: '/seguir/',
				            type: 'post',
				            dataType: 'json',
				            data: {'origen':origen, 'destino':destino, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				            success: function (data) {
				                NProgress.done();
				                if(data.success == false){
				                    alert(data.mensaje);
				                    $.each(data.errors.fields, function(i, item) {
				                        alert(item);
				                    });
				                    
				                }else{
				                    alert(data.mensaje);
				                    /*setTimeout(function(){
				                      location.href  ='/perfil/{{datos_personales.get_uuid}}/'
				                    }, 1500);
									*/
									if(data.mensaje == 'Ya no sigues al usuario'){
										$('#seguir').css('background-color', 'white')
                                        $('#seguir').text("Seguir")

									}else{
										$('#seguir').css('background-color', '#00c5b4')
                                        $('#seguir').removeClass("ivo-font-azulClaro")
                                        $('#seguir').addClass("ivo-font-blanco")
                                        $('#seguir').text("Siguiendo")

									}
									

				                }
				            }
				        });			        	
			    });

					$("#eliminar").click(function(){
			        	
			        	var mensaje = $('.activo').data('idmsj')
			        	 $.ajax({
				            url: '/perfil/mensajes/eliminar/',
				            type: 'post',
				            dataType: 'json',
				            data: {'idmensaje':mensaje,'csrfmiddlewaretoken': '{{ csrf_token }}'},
				            success: function (data) {
				                NProgress.done();
				                if(data.success == false){
				                    alert(data.mensaje);
				                    $.each(data.errors.fields, function(i, item) {
				                        alert(item);
				                    });
				                    
				                }else{
				                    alert(data.mensaje);				                   
				                    /*setTimeout(function(){
				                      location.href  ='/perfil/{{datos_personales.get_uuid}}/'
				                    }, 1500);
									*/
									//$('#seguir').css('background-color', 'cyan')
									$('.activo').remove()
									$('#persona_mensaje').text('')
        							$('#mensaje_abierto').text('')

				                }
				            }
				        });


			        	
			    });


$('#seleccionar_foto_perfil').change(function(e){
	        handleImagee(e)
	    });
function handleImagee(e){
       NProgress.start();
        var reader = new FileReader();
        reader.onload = function(event){
            var image = new Image();
            image.src = e.target.result;
            image.onload = function(){
                // if (image.width < 400) {
                //     alert("Please choose a larger size");
                //     return false;
                // } else if (image.height < 300) {
                //     alert("Please choose a larger size");
                //     return false;
                // }
                // if(image.height > image.width){
                //     alert("Sorry allowed only horizontal images");
                //     return false;
                // }
                var canvas = document.createElement('canvas');
                var MAX_WIDTH = 160;
                var MAX_HEIGHT = 160;
                var width = image.width;
                var height = image.height;
                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                    }
                }
                canvas.width = width;
                canvas.height = height;
                var ctx = canvas.getContext('2d');
                ctx.drawImage( image, 0, 0, width, height );
                //$('#hidden_image').val(canvas.toDataURL());
                //$('#img_canvas').html(['<img src="', canvas.toDataURL(), '"/>'].join(''));
                //"background-image: url(/media/{{datos_personales.get_avatar}})"
                //$('#foto_actual').css('background-image','url(/'+canvas.toDataURL());
                	//alert(canvas.toDataURL());
            }
            image.src = event.target.result;
            subitFotoPerfil();
        }
        reader.readAsDataURL(e.target.files[0]);
    }
    function subitFotoPerfil(){
    	var formData = new FormData($("#form_foto_perfil")[0]);
    	$.ajax({
           url: '/perfil/configuraciongeneral/foto-perfil/',
            type: 'post',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
            	NProgress.done();
                console.log(data)
               window.location.reload(true);
            //$('#foto_actual').css('background-image','url(/'+;
            }
        });
    }
       


       
        
</script>

    {% endblock %}

    {% block cssblock %}
    	<!--<link rel="stylesheet" href="{% static 'css/galeria.css' %}"> -->
		<!-- Gallery -->
		<!-- Gallery -->
		<!-- Css ivo-talents -->

		<!-- |*| -->
        <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap-image-gallery.min.css' %}">
		<style type="text/css">
			.carousel-caption {
				bottom: 0px;
    			top:180px;
			}
			{% if tema == 'azul' %}
			.ivo-perfil-informacionPrf >li> h4,.ivo-perfil-intereses>li>h4, p{color:white}

			{% endif %}
			.ivo-noticias {margin-bottom: 40px;}

			.ivo-casting-imagen1 { background-image: url({% static 'img/incubus1.jpg' %});}

			.ivo-casting-imagen2 { background-image: url( {% static 'img/incubus2.jpg' %});}

			.ivo-casting-industriaBck {background-image: url( {% static 'img/casting-concierto.jpg' %});}

			.ivo-perfil-imgPerfil {
				background-image: url({% static 'img/avatar-ivo.jpg' %});
			}

			
			@media (max-width: 768px) {
				.carousel-caption {
				    left: 15%;
				    right: 15%;
				}
			}
		</style>

    {% endblock %}

		{% block content %}

		<!-- Full Page Image Background Carousel Header -->
		<div>
		<div id='principal'>
	    <header id="myCarousel" class="carousel slide ivo-casting-headerContenedor ivo-borde-{{tema}} ivo-perfil-header principal">
	        <!-- Wrapper for Slides -->
	        <div class="carousel-inner">
	            <div class="item active">
	            	<div class="ivo-layer-gry"></div>
	                <!-- Set the first background image using inline CSS below. -->
	                
	               
	                {% if datos_personales.get_portada == '' or datos_personales.get_portada == None  %}
					<div class="fill" id="cover_actual" style="background-image:url( '{% static "img/header-casting.jpg" %}');"></div>
				{% else %}
					<div class="fill" id="cover_actual" style="background-image:url(/media/{{datos_personales.get_portada}});"> </div>
				{% endif %}
					
	                
	                <div class="carousel-caption ivo-casting-header ivo-casting-header-anchoCaja" style="text-align:left;">
						<div class="row">
							<div class="col-xs-12 visible-xs">
							
							
								<div id="foto_actual" class="ivo-perfil-imgPerfil ivo-perfil-imgPerfil-tope" style="background-image: url(/media/{{datos_personales.get_avatar}})"> </div>
								
							</div>
							<!-- Informacion Basica del Perfil -->

							<div class="col-sm-10 col-md-5 col-md-offset-4 col-sm-offset-4">
								<ul class="ivo-dashboard-infoBasica ivo-perfil-info">
                                    {% if datos_personales.tipo_usuario == 'A' %}
    									<li><span class="ivo-etiqueta-titulo ivo-font-{{tema}} ivo-perfil-etiqueta">{{profesion.id_genero.id_tipo_arte.name}}</span></li>
    									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre">{{datos_personales.first_name}} {{datos_personales.last_name}}</li>
    									<li class="ivo-perfil-talento">{{profesion.id_genero.name}}</li>
                                    {%else%}
                                    
                                        <li><span class="ivo-etiqueta-titulo ivo-font-{{tema}} ivo-perfil-etiqueta">    
                                        {% if profesion.id_sector.tipo == 'I' %}
                                            INDUSTRIA
                                        {% else %}
                                            PROVEEDOR
                                        {% endif %}

                                        


                                        </span></li>
                                        <li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre">{{datos_personales.empresa_provedor}}</li>
                                        <li class="ivo-perfil-talento">{{profesion.id_sector}}</li>
                                    {%endif%}

									<li style="margin-bottom: 5px !important;">
										<span class="glyphicon glyphicon-heart ivo-font-naranja ivo-perfil-like"></span>
										<font class="ivo-perfil-fans ivo-perfil-fans-ver">{{fans}} fans</font>
									</li>
									<li class="ivo-perfil-estrellas">
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star-empty ivo-font-naranja"></span>
									</li>
								</ul>
							</div>
							<!-- Compartir en Redes Sociales -->
							<div class="col-md-3 col-md-offset-0 visible-md visible-lg">
								<div class="row ivo-casting-headerDer text-right ivo-perfil-socialH">
									<div class="col-md-12">
									{%if datos_personales.id == user.id%}										
										<label for="seleccionar_foto_cover" class="ivo-boton-fondo ivo-casting-botonP ivo-perfil-botonH" style="cursor:pointer">   Cambiar Cover Foto</label>
										
										
									{%endif%}
									</div>
									<div class="col-md-12">
										<ul class="ivo-casting-socialR ivo-perfil-socialM ">
											<li class="titulo">Compartir</li>
											<li><a href="http://www.facebook.com/share.php?u=http://example.com/perfil/{{datos_personales.get_uuid}}" target="_blank"><span class="social_facebook_circle"></span></a></li>
											<li><a href="http://twitter.com/intent/tweet?status=perfil de {{datos_personales.get_full_name}}+http://example.com/perfil/{{datos_personales.get_uuid}}" target="_blank"><span class="social_twitter_circle"></span></a></li>
											
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div id="ivo-contador"></div>
						<div class="ivo-white-box"></div>
	                </div>
	            </div>
	        </div>
	    </header>
	    <!-- Perfil -->
		{% if tema == 'azul' %}
	    	<div class="container-fluid ivo-perfil-panel principal" style="background:black">
		{% else %}
				<div class="container-fluid ivo-perfil-panel principal">
		{% endif %}
	    	<div class="container principal">
	    		<!-- Caja 1 -->
	    		<div class="row ivo-perfil-caja1">
		    		<div class="col-md-3">
			    		<div class="row " style="padding: 0 10%;">
			   				<ul class="ivo-casting-socialR ivo-perfil-panelSocial">
								<li class="titulo">Sigue a {{datos_personales.first_name}}</li>
                                
                                {% if datos_personales.facebook != ''  %}
								<li class="redes"><a class="ivo-font-{{tema}}" href="http://www.facebook.com/{{datos_personales.facebook}}" target="_blank"><span class="social_facebook_circle"></span></a></li>
{% endif %}
                                 {% if datos_personales.twitter != ''  %}
								<li class="redes"><a class="ivo-font-{{tema}}" href="http://www.twitter.com/{{datos_personales.twitter}}" target="_blank"><span class="social_twitter_circle"></span></a></li>
{% endif %}
								 {% if datos_personales.instagram != ''  %}
                                <li class="redes"><a class="ivo-font-{{tema}}" href="http://www.instagram.com/{{datos_personales.instagram}}" target="_blank"><span class="social_instagram_circle"></span></a></li>
{% endif %}
								{% if datos_personales.website != ''  %}
                                <li class="enlace">
									<a class="ivo-font-{{tema}}" href="http://{{datos_personales.website}}" target="_blank">Web Oficial</a>
								</li>
                                {% endif %}
							</ul>


							<ul class="ivo-perfil-infoComplemento">
								{%if datos_personales.tipo_usuario != 'F' %}
								<li><span class="icon-map-marker"></span> 
								{{datos_personales.ciudad}},  {{datos_personales.pais}}</li>
								{%endif%}
								<li><span class="icon-exit"></span> Registrado {{datos_personales.date_joined|date:"M d, Y"}}</li>
							</ul>
			    		</div>
			    	</div>
		    		<div class="col-md-9 ivo-perfil-bio">
						{% if tema == 'azul' %}
		    				<div class="flag ivo-back-azul ivo-dashboard-flag-ind"></div>

						{% else %}
							<div class="flag ivo-back-naranja"></div>
						{% endif %}
		    			<span class="ivo-etiqueta-titulo ivo-back-{{tema}} ivo-perfil-bioEtq">Bio</span>
		    			<p>
		    				{{datos_personales.biografia}}
		    			</p>
		    		</div>
				</div>
				<!-- Caja 2 -->
				<div class="row ivo-perfil-caja2">
		    		<div class="col-md-3 ivo-perfil-caja2-lateral">
			    		<div class="row" style="padding: 0 10%;">
			    		{%if user.tipo_usuario != 'F'%}
			    			<ul class="ivo-perfil-enlaces">
			    				<li>
			    					{%if datos_personales.id != user.id%}
			    						{%if seguir == 1 %}
										<button id="seguir" class= "ivo-boton-fondo ivo-font-azulClaro ivo-perfil-enlaces-seguir" style="background-color: cyan" >Siguiendo</button>
			    						{%else%}
			    						<button id="seguir" class= "ivo-boton-fondo ivo-font-azulClaro ivo-perfil-enlaces-seguir" style="background-color: white" >Seguir</button>
			    						{% endif %}
									{%endif%}
			    					
			    					
			    				</li>
			    				<li>
			    				{%if datos_personales.id != user.id%}
                                    {% if user.tipo_usuario != 'F' %}
										<a class="ivo-font-{{tema}} ivo-perfil-enlaces-mensaje" id="mensaje" style="cursor:pointer">
			    						<span class="icon-envelope"></span> Enviar Mensaje
			    					</a>
                                    {%endif%}
									{%endif%}
			    					
			    				</li>
			    			</ul>
							<ul class="ivo-perfil-informacionPrf">
								<li>
									<h4>Nacionalidad</h4>
									<h6>{{datos_personales.nacionalidad}}</h6>
								</li>
								<li>
									<h4>Pais de Residencia</h4>
									<h6>{{datos_personales.pais}}</h6>
								</li>
								<li>
									<h4>Ciudad de Residencia</h4>
									<h6>{{datos_personales.ciudad}}</h6>
								</li>
								<li>
									<h4>Pasaporte</h4>
									<h6>{{datos_personales.pasaporte}}</h6>
								</li>
								<li>
									<h4>Visas</h4>
									{%  if datos_personales.visa == 'None' %}
										<h6>No</h6>
									{% else %}
										<h6>Si</h6>
									{% endif %}
								</li>
								<li>
									<h4>Telefono</h4>
									<h6>{{datos_personales.telefono}}</h6>
								</li>
								<li>
									<h4>Agencia o Manager</h4>
									<h6>{{datos_personales.agencia}}</h6>
								</li>
							</ul>

							{%endif%}
							<ul class="ivo-perfil-intereses">
								<li class="titulo">

									{% if tema == 'azul' %}
									<div class="flag ivo-back-azul ivo-dashboard-flag-ind"></div>
									{% else %}
									<div class="flag ivo-back-naranja ivo-dashboard-flag-art"></div>
									{% endif %}
									<div class="ivo-etiqueta-titulo ivo-back-{{tema}} ivo-perfil-bioEtq ivo-font-blanco ivo-dashboard-etiqueta-titulo">
										Intereses
									</div>
									
								</li>
								{% for interes in interesesusuario %}
									
										<li>
											<img src="/media/{{interes.id_interes.imagen}}">
											<h4>{{interes.id_interes.nombre}}</h4>
										</li>
									
								{% endfor %}
							</ul>
			    		</div>
			    	</div>
		    		<div class="col-md-9">
		    			<div class="row text-center">
							{% if datos_personales.tipo_usuario != 'I' %}
		    					<div class="col-md-12 ivo-perfil-menuSp">
							{% else %}
								<div class="col-md-12 ivo-perfil-menuSp ivo-perfil-menuSp-ind">
							{% endif %}
				    				<div id="image" class="col-xs-12 col-sm-3 col-md-3 inicio activo link_galeria">
				    					<h3><a>Fotos</a></h3>
				    				</div>
				    				<div id="audio" class="col-xs-12 col-sm-3 col-md-3 link_galeria">
				    					<h3><a>Audio</a></h3>
				    				</div>
				    				<div id="video" class="col-xs-12 col-sm-3 col-md-3 link_galeria">
				    					<h3><a>Videos</a></h3>
				    				</div>
									{% if datos_personales.tipo_usuario == 'A'  %}
				    				<div id="experiencia" class="col-xs-12 col-sm-3 col-md-3 link_galeria">
				    					<h3><a>Experiencia</a></h3>
				    				</div>
									{% endif %}
				    		</div>
		    			</div>
						<div class="row">
							<div class="col-md-12 ivo-perfil-galeria galerias" id="gallery-image">

							</div>
                            <div  id="gallery-audio" class="galerias" style="display: none">

							</div>
                            <div  id="gallery-video" class="galerias" style="display: none">

							</div>
                            <div  id="gallery-experiencia" class="galerias" style="display: none">


                                    
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1">
                                    <div class="row">
                                            <div class="col-md-12 ivo-perfil-experiencia">
                                                <h2>Cita</h2>
                                                <p><i> {{datos_personales.cita}}</i></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ivo-perfil-experiencia">
                                                <h2>Experiencia</h2>
                                                <ul>
                                                    {% for experiencia in experiencia %}
                                                        <li>
                                                            <h4>{{ experiencia.cargo }}</h4>
                                                            <p>
                                                                {{ experiencia.empresa }}
                                                                <font>{{ experiencia.fecha_desde }} -
																{%if experiencia.fecha_hasta == None %}
																	Actualidad
																{% else %} 						
                                                                 {{ experiencia.fecha_hasta }}
																{% endif %}
																</font>
                                                            </p>

                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ivo-perfil-experiencia">
                                                <h2>Educación</h2>
                                                <ul>
                                                    {% for educacion in educacion %}
                                                        <li>
                                                            <h4>{{ educacion.titulo }}</h4>
                                                            <p>
                                                                {{ educacion.institucion }}
                                                                <font>{{ educacion.fecha_inicio_estudio }} - 
                                                                {%if educacion.fecha_fin_estudio == None %}
																	Actualidad
																{% else %} 						
                                                                 {{ educacion.fecha_fin_estudio }}
																{% endif %}


                                                               </font>
                                                            </p>

                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-right ivo-perfil-barraInf" id="div-boton-subir" >
							{%if datos_personales.id == user.id%}										
									{% if tema == 'azul' %}
										<button id="ivo-subir" data-toggle="modal" data-target="#SubirFoto" style="color:white">
										
									
									{% else %}
										<button id="ivo-subir" data-toggle="modal" data-target="#SubirFoto">
										
									{% endif %}
									<span class="glyphicon glyphicon-open"></span> Subir
								</button>
										
                                        <ul id="item_paginas">

                                </ul>
									{%endif%}
								
								
							</div>
						</div>
		    		</div>
					{% if datos_personales.tipo_usuario == 'I' %}
					{% include 'perfiles/casting.html' %}
					{% endif %}
                    {% if datos_personales.tipo_usuario == 'A' %}
		    		<!-- INFO ADICIONAL -->
		    		{%if user.tipo_usuario != 'F'%}
		    		<div class="col-md-12">
		    			<ul class="ivo-perfil-infoAdicional">
							<li>
								<div>
									<img src="{% static 'img/calendario.png'%}">
								</div>
								<h4>Nacimiento</h4>
								<h5>{{datos_personales.fecha_nacimiento | date:"d N Y"}}</h5>
								<!-- FALTAN LOS AÑOS -->
								
								<h6>Edad {{ edad }}</h6>
							</li>
							<li>
								<div>
									<img src="{% static 'img/sexo.png'%}">
								</div>
								<h4>Sexo</h4>
								{% if datos_personales.genero == 'F'%}
									<h5>Femenino</h5>
								{%else%}
									<h5>Masculino</h5>
								{%endif%}
							</li>

							<!-- ESTE DATO ES SOLO PARA LAS MUJERES? EN DONDE LO GUARDO? -->
							<li>
								<div>
									<img src="{% static 'img/cinta.png'%}">
								</div>
								<h4>Medidas</h4>
								<h5>Busto: <font>{{datos_personales.busto}} cm</font></h5>
								<h5>Cintura: <font>{{datos_personales.cintura}} cm</font></h5>
								<h5>Cadera: <font>{{datos_personales.cadera}} cm</font></h5>
							</li>
							<li>
								<div>
									<img src="{% static 'img/altura.png'%}">
								</div>
								<h4>Altura</h4>
								<h5>{{datos_personales.estatura}} cm</h5>
							</li>
							<li>
								<div>
									<img src="{% static 'img/etnia.png'%}">
								</div>
								<h4>Etnia</h4>
								<h5>{{datos_personales.etnia}}</h5>
							</li>
							<li>
								<div>
									<img src="{% static 'img/ojos.png'%}">
								</div>
								<h4>Ojos</h4>
								<h5>{{datos_personales.color_ojos}}</h5>
							</li>
							<li>
								<div>
									<img src="{% static 'img/cabello.png'%}">
								</div>
								<h4>Cabello</h4>
								<h5>{{datos_personales.color_cabello}}</h5>
							</li>
							<li>
								<div>
									<img src="{% static 'img/tatuajes.png'%}">
								</div>
								<h4>Tatuajes</h4>
								{% if datos_personales.tatuaje %}
								<h5>SI</h5>
								{%else%}
								<h5> NO</h5>
								{%endif%}
							</li>

							<!-- DONDE SE GUARDA VIAJAR -->
							<li>
								<div>
									<img src="{% static 'img/viajar.png'%}">
								</div>
								<h4>Viajar</h4>
								{% if datos_personales.disponible_viajes %}
									<h5>SI</h5>
								{%else%}
									<h5> NO</h5>
								{%endif%}
							</li>
						</ul>
		    		</div>
                    <!-- info adicional -->
                    {%endif%}
                    {% endif %}
				</div>

	    	</div>
	    </div>
		<!-- App -->
		<div class="container-fluid ivo-artistas-appBck principal">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 ivo-artistas-app">
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0">
								<img src="{% static 'img/ivo-lg3.png' %}" class="img-responsive ivo-app-logo general">
								<h2>Descarga nuestra App Movil</h2>
								<a href="#" class="ivo-app-goplay general">
									<img src="{% static 'img/google-play.png' %}">
								</a>
								<a href="#" class="ivo-app-appsto general">
									<img src="{% static 'img/appstore.png' %}">
								</a>
								<br class="clear">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div hidden>
								<form method="post" enctype="multipart/form-data" id="form_foto_perfil">
									<input type="file" name="foto" id="seleccionar_foto_perfil" class="inputfile" hidden>
									{% csrf_token %}
								</form>
							</div>
            {%if datos_personales.id == user.id%}

            	<label for="seleccionar_foto_perfil">
            		<div class="ivo-perfil-imgPerfil ivo-perfil-imgPerfil-header principal" id = "foto_perfil" style="cursor:pointer"> <h2>cambiar foto</h2></div>
            	</label>
            {%else%}
                <div class="ivo-perfil-imgPerfil ivo-perfil-imgPerfil-header principal" id = "foto_perfil" ></div>
            {%endif%}
		</div>
		<!-- Galeria -->
		<div id="blueimp-gallery" class="blueimp-gallery principal">
		    <!-- The container for the modal slides -->
		    <div class="slides"></div>
		    <!-- Controls for the borderless lightbox -->
		    <h3 class="title"></h3>
		    <a class="prev">‹</a>
		    <a class="next">›</a>
		    <a class="close">×</a>
		    <a class="play-pause"></a>
		    <ol class="indicator"></ol>

		    <!-- The modal dialog, which will be used to wrap the lightbox content -->
		    <div class="modal fade">
		        <div class="modal-dialog">
		            <div class="modal-content ivo-perfil-galeriaFlt">
		                <div class="modal-header ivo-perfil-galeriaFlt-header">
		                    <button type="button" class="close" aria-hidden="true"><span class="icon_close"></span></button>
		                    <h4 class="ivo-borde-azulClaro">Ver Fotos</h4>
		                </div>
		                <div class="modal-body next"></div>
		                <div class="modal-footer ivo-perfil-galeriaFlt-footer">
		                	<div class="modal-title"></div>
		                    <button type="button" class="btn btn-default pull-left prev">
		                        <i class="arrow_carrot-left"></i>
		                    </button>
		                    <button type="button" class="btn btn-primary next">
		                        <i class="arrow_carrot-right"></i>
		                    </button>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Modal Subir Imagen -->
		<div class="modal fade" id="SubirFoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content ivo-perfil-galeriaFlt">
					<div class="modal-header ivo-perfil-galeriaFlt-header">
						<button type="button" class="close" aria-hidden="true" data-dismiss="modal"><span class="icon_close"></span></button>
						<h4 class="ivo-borde-azulClaro" style="width: 70%;">Subir <span id="titulo_modal_subir_archivo"></span></h4>
					</div>
					<div class="modal-body">
						<div class="col-md-12 ivo-perfil-galeriaFlt-bodyUp text-center">
							<div class="col-md-8 col-md-offset-2 ivo-perfil-galeriaFlt-bodyUp text-center">
								<img src="{% static 'img/subida.png' %}" style="cursor:pointer;" class = "subir_archivo">
								<h4>Click para seleccionar los archivos que quieras subir </br> <!--<span>O arrastra y suelta archivos</span>--></h4>
							</div>
							<div class="col-md-8 col-md-offset-2 ivo-perfil-galeriaFlt-bodyUp text-center">
								<div class="ivo-mensaje-contenedorAudio ivo-mensaje-contenedorAudio-noBorde ivo-contenedorAudio-bck1">
									<div class="ivo-mensaje-contenedorAudio-carga" style="height:40px; width: 0%;" id="progreso_subida"></div>
									<div class="ivo-mensaje-contenedorAudio-contenido2">
										<span class="tiempo" id="porcentaje_subida">0%</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer ivo-perfil-galeriaFlt-footer"></div>
				</div>
			</div>
		</div>



		<!--MODAL PORTADA-->

		
      <div hidden>
        <form id="form_cover_perfil" method="POST" enctype="multipart/form-data" >
        {%csrf_token%}
        <input type="file" name="foto" id="seleccionar_foto_cover" accept="image/*" hidden>
        <!--input type="submit" id="submit-form" hidden -->


        </form>
      </div>


     

	
	




	<!-- PAGINA DE MENSAJES -->
	<div id="enviar_mensaje" hidden>
	<div class="container" >
			<div class="row ivo-configuracion">
				<div class="col-sm-4 col-md-3 ivo-configuracion-menu ivo-mensajes-latItems">
					<ul class="ivo-mensajes-panelSuperior">
						<li class="ivo-mensajes-botonR">
							<boton id="boton_redactar" class="ivo-boton-fondo ivo-boton-mensajes ivo-boton-mensajes-redactar">
								<span>Redactar</span>
							</boton>
						</li>
						<li class="ivo-mensajes-select">
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
							    <span class="icon-envelope ivo-font-azulClaro" id="selector_mensaje"></span> &nbsp;<i id="texto_selector_mensaje">Seleccione mensajes</i>
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li id="selector_recibidos"><a href="#"><span class="icon-envelope ivo-font-azulClaro"></span>&nbsp; <i>Mensajes Recibidos</i></a></li>
							    <li id="selector_enviados"><a href="#"><span class="icon-paper-plane ivo-font-azulClaro"></span>&nbsp; <i>Mensajes Enviados</i></a></li>
							  </ul>
							</div>					
						</li>
					</ul>
					<ul class="ivo-mensajes-lista" id="lista_enviados" hidden>
						
						{%for enviado in enviados%}
						<li class="mensaje_lista" data-owner='{{enviado.destino.email}}' data-idmsj='{{enviado.id}}'>
							<div  style="background-image: url(assets/img/avatar-ivo.jpg)"></div>
							<h5>{{enviado.destino.get_full_name}}</h5>
							<h6>{{enviado.mensaje}}</h6>
						</li>
						{%endfor%}
						
						
					</ul>
					<ul class="ivo-mensajes-lista" id="lista_recibidos" >
						
						{%for recibido in recibidos%}
						<li class="mensaje_lista" data-owner='{{recibido.origen.email}}' data-idmsj='{{recibido.id}}'>
							<div class="mensaje_lista" style="background-image: url(assets/img/avatar-ivo.jpg)"></div>
							<h5>{{recibido.origen.get_full_name}}</h5>
							<h6>{{recibido.mensaje}}</h6>
						</li>
						{%endfor%}
						
						
					</ul>
				</div>


				<!-- INICIO REVISAR MENSAJES -->

		<div id="revisar" hidden>
					
			<div class="col-sm-8 col-md-9 ivo-formularioConf ivo-mensajes-central">
					<div class="row ivo-mensaje-header">
						<div class="col-sm-3 col-md-2 ivo-mensaje-headerImg">
							<img src="assets/img/avatar-ivo.jpg">
						</div>
						<div class="col-sm-9 col-md-10">
							<h3 class="ivo-bold" id="persona_mensaje"></h3>
							<h4></h4>
							<h5><font class="ivo-bold">Fecha:</font> Noviembre 26 2016</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ivo-mensaje-contenido" id="mensaje_abierto">
							
						</div>
						<p><a id='enlace_imagen' download></a></p>
						<p><a id='enlace_archivo' download></a></p>
					</div>
					<div class="row">
						<div class="col-md-12 text-right">
							<BUTTON class="ivo-boton" id="eliminar">Eliminar</BUTTON>
							<button class="ivo-boton" id="responder">Responder</button>
						</div>
					</div>
				</div>

			</div>
		
		<!-- FIN REVISAR MENSAJES-->






		<!-- REDACTAR MENSAJES -->

		<div id="redactar" >
				<div class="col-sm-8 col-md-9 ivo-formularioConf ivo-mensajes-central">
					<form class="ivo-formularioConf-form ivo-mensaje-enviarM" method="POST" action="/perfil/mensajes/enviar/" enctype="multipart/form-data">
					{%csrf_token%}
						<!-- DEBE LLEVAR UN AJAX, O MEJOR UN SOCKET, PARA RECUPERAR LAS INSTANCIAS A LOS DATOS-->
						<input type="text" placeholder="Escribe un nombre" name="destino" id="nombre">
						<textarea placeholder="Escribe tu mensaje" name="mensaje" id="cuerpo_mensaje"></textarea>
						<div>	
						<input type="file" id='archivo' name="archivo"  style="display:none">					
							<label for="archivo" class="glyphicon glyphicon-paperclip" ></label>							
							
							<input type="file" id="imagen" name='imagen' accept="image/*" style="display:none">
								
							<label for="imagen" class="glyphicon glyphicon-picture" ></label>						
								
							
						</div>
						<button class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro" style="margin-right: 3%;" type="submit" id="boton_enviar">
							<span class="ivo-back-trs-azulClaro ivo-borde-transparente">Enviar</span>
						</button>
					</form>
					<button id="volver" class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro" style="margin-right: 3%;" type="submit">
							<span class="ivo-back-trs-azulClaro ivo-borde-transparente">VOLVER</span>
						</button>
					</div>
		</div>
				<!--- FIN REDACTAR -->
			</div>
		</div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" id="csrf">
</div>
{% endblock %}
