{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block cssblock %}
	<link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet">
		<style type="text/css">
			.ivo-pregunta { height: auto;}
			.ivo-form  select {width: 100%}
			body {
					background-color: white;
				}
		</style>
{% endblock %}

{%block content%}

<div class="container-fluid">
			<div class="container">
				<!-- Titulo Panel Listado de Perfiles -->
				<div class="row">
					<div class="row">
						<div class="col-md-12 col-lg-12 ivo-blog-resultado">
							<h1>Siguiendo</h1>
					    </div>
					</div>
				</div>

				 {% if seguidores.object_list|length == 0 %}
								<h4> Aun no sigue a ningun usuario</h4>
							{% endif %}

			{% for seguidor in seguidores %}
				<!-- Fila Listado de Perfiles -->
		{% if forloop.counter0 == 0 %}
		<div class="row ivo-perfil-busqueda-row">
		{%endif%}

				{%if forloop.counter0 < 3 %}
				
					<!-- Item Listado de Perfiles -->
					<div class="col-xs-12 col-sm-4 col-md-4 ivo-perfil-busqueda-informacionItem">
						<div class="row">
							<!-- Imagen del perfil -->
							<div class="col-xs-4 col-sm-12 col-md-5 col-lg-5  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-perfil-busqueda-informacionImagen">
								{%if seguidor.id_usuario.avatar == None or seguidor.id_usuario.avatar == '' %}
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url({% static 'img/avatar-ivo.jpg' %});"></div>
							{% else %}
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url(/media/{{seguidor.id_usuario.get_avatar}});"></div>
							{% endif %}
							</div>
							<!-- Informacion del perfil -->
							<div class="col-xs-6 col-sm-12 col-md-7 ivo-perfil-busqueda-informacionLista">
								<ul class="ivo-dashboard-infoBasica ivo-perfil-info ivo-perfil-busquedaPanel">
								
									{%if seguidor.id_usuario.tipo_usuario == 'A' %}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{seguidor.id_usuario.get_full_name}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_genero.id_tipo_arte.name}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_genero.name}}</li>

								{% else %}

									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{seguidor.id_usuario.empresa_provedor}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">Proveedor</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_sector.nombre}}</li>

								{% endif %}
								
									
									<li class="ivo-perfil-busqueda-enlace"><a href="/perfil/{{seguidor.id_usuario.id}}/" class="ivo-font-azulClaro">Ver Perfil</a></li>
								</ul>
							</div>
						</div>				
					</div>
					<!-- Item Listado de Perfiles -->
					{% if forloop.counter0 == 2 or seguidores.object_list|length == forloop.counter %}
				</div>
				
				{%endif%}
				
				{% elif forloop.counter0 > 2 or forloop.counter0 < 6 %}
				{% if forloop.counter0 == 3 %}
				
				<div class="row ivo-perfil-busqueda-row">
				{%endif%}

				
					<!-- Item Listado de Perfiles -->
					<div class="col-xs-12 col-sm-4 col-md-4 ivo-perfil-busqueda-informacionItem">
						<div class="row">
							<!-- Imagen del perfil -->
							<div class="col-xs-4 col-sm-12 col-md-5 col-lg-5  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-perfil-busqueda-informacionImagen">
								{%if seguidor.id_usuario.avatar == None or seguidor.id_usuario.avatar == '' %}
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url({% static 'img/avatar-ivo.jpg' %});"></div>
							{% else %}
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url(/media/{{seguidor.id_usuario.get_avatar}});"></div>
							{% endif %}
							</div>
							<!-- Informacion del perfil -->
							<div class="col-xs-6 col-sm-12 col-md-7 ivo-perfil-busqueda-informacionLista">
								<ul class="ivo-dashboard-infoBasica ivo-perfil-info ivo-perfil-busquedaPanel">
								
									{%if seguidor.id_usuario.tipo_usuario == 'A' %}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{seguidor.id_usuario.get_full_name}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_genero.id_tipo_arte.name}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_genero.name}}</li>

								{% else %}

									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{seguidor.id_usuario.empresa_provedor}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">Proveedor</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_sector.nombre}}</li>

								{% endif %}
								
									
									<li class="ivo-perfil-busqueda-enlace"><a href="/perfil/{{seguidor.id_usuario.id}}/" class="ivo-font-azulClaro">Ver Perfil</a></li>
								</ul>
							</div>
						</div>				
					</div>
					<!-- Item Listado de Perfiles -->
					
				{% if forloop.counter0 == 5 or seguidores.object_list|length == forloop.counter %}
				</div>
				
				{%endif%}

				{% elif forloop.counter0 > 5 or forloop.counter0 < 9 %}
				{% if forloop.counter0 == 6 %}
				
				<div class="row ivo-perfil-busqueda-row">
				{%endif%}

				
					<!-- Item Listado de Perfiles -->
					<div class="col-xs-12 col-sm-4 col-md-4 ivo-perfil-busqueda-informacionItem">
						<div class="row">
							<!-- Imagen del perfil -->
							<div class="col-xs-4 col-sm-12 col-md-5 col-lg-5  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-perfil-busqueda-informacionImagen">
								{%if seguidor.id_usuario.avatar == None or seguidor.id_usuario.avatar == '' %}
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url({% static 'img/avatar-ivo.jpg' %});"></div>
							{% else %}
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url(/media/{{seguidor.id_usuario.get_avatar}});"></div>
							{% endif %}
							</div>
							<!-- Informacion del perfil -->
							<div class="col-xs-6 col-sm-12 col-md-7 ivo-perfil-busqueda-informacionLista">
								<ul class="ivo-dashboard-infoBasica ivo-perfil-info ivo-perfil-busquedaPanel">
								
									{%if seguidor.id_usuario.tipo_usuario == 'A' %}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{seguidor.id_usuario.get_full_name}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_genero.id_tipo_arte.name}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_genero.name}}</li>

								{% else %}

									<<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{seguidor.id_usuario.empresa_provedor}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">Proveedor</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_sector.nombre}}</li>


								{% endif %}
								
									
									<li class="ivo-perfil-busqueda-enlace"><a href="/perfil/{{seguidor.id_usuario.id}}/" class="ivo-font-azulClaro">Ver Perfil</a></li>
								</ul>
							</div>
						</div>				
					</div>
					<!-- Item Listado de Perfiles -->
					
				{% if forloop.counter0 == 8 or seguidores.object_list|length == forloop.counter %}
				</div>
				
				{%endif%}
			{% elif forloop.counter0 > 8 or forloop.counter0 < 12 %}
				{% if forloop.counter0 == 9 %}
				
				<div class="row ivo-perfil-busqueda-row">
				{%endif%}

				
					<!-- Item Listado de Perfiles -->
					<div class="col-xs-12 col-sm-4 col-md-4 ivo-perfil-busqueda-informacionItem">
						<div class="row">
							<!-- Imagen del perfil -->
							<div class="col-xs-4 col-sm-12 col-md-5 col-lg-5  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-perfil-busqueda-informacionImagen">
								{%if seguidor.id_usuario.avatar == None or seguidor.id_usuario.avatar == '' %}
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url({% static 'img/avatar-ivo.jpg' %});"></div>
							{% else %}
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url(/media/{{seguidor.id_usuario.get_avatar}});"></div>
							{% endif %}
							</div>
							<!-- Informacion del perfil -->
							<div class="col-xs-6 col-sm-12 col-md-7 ivo-perfil-busqueda-informacionLista">
								<ul class="ivo-dashboard-infoBasica ivo-perfil-info ivo-perfil-busquedaPanel">
								{%if seguidor.id_usuario.tipo_usuario == 'A' %}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{seguidor.id_usuario.get_full_name}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_genero.id_tipo_arte.name}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_genero.name}}</li>

								{% else %}

									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{seguidor.id_usuario.empresa_provedor}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">Proveedor</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_sector.nombre}}</li>


								{% endif %}
								
									
									<li class="ivo-perfil-busqueda-enlace"><a href="/perfil/{{seguidor.id_usuario.id}}/" class="ivo-font-azulClaro">Ver Perfil</a></li>
								</ul>
							</div>
						</div>				
					</div>
					<!-- Item Listado de Perfiles -->
					
				{% if forloop.counter0 == 11 or seguidores.object_list|length == forloop.counter %}
				</div>
				
				{%endif%}
			
				{% elif forloop.counter0 > 11 or forloop.counter0 < 15 %}
				{% if forloop.counter0 == 12 %}
				
				<div class="row ivo-perfil-busqueda-row">
				{%endif%}

				
					<!-- Item Listado de Perfiles -->
					<div class="col-xs-12 col-sm-4 col-md-4 ivo-perfil-busqueda-informacionItem">
						<div class="row">
							<!-- Imagen del perfil -->
							<div class="col-xs-4 col-sm-12 col-md-5 col-lg-5  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-perfil-busqueda-informacionImagen">
								{%if seguidor.id_usuario.avatar == None or seguidor.id_usuario.avatar == '' %}
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url({% static 'img/avatar-ivo.jpg' %});"></div>
							{% else %}
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url(/media/{{seguidor.id_usuario.get_avatar}});"></div>
							{% endif %}
							</div>
							<!-- Informacion del perfil -->
							<div class="col-xs-6 col-sm-12 col-md-7 ivo-perfil-busqueda-informacionLista">
								<ul class="ivo-dashboard-infoBasica ivo-perfil-info ivo-perfil-busquedaPanel">
								
								{%if seguidor.id_usuario.tipo_usuario == 'A' %}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{seguidor.id_usuario.get_full_name}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_genero.id_tipo_arte.name}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_genero.name}}</li>

								{% else %}

									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{seguidor.id_usuario.empresa_provedor}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">Proveedor</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{seguidor.id_sector.nombre}}</li>


								{% endif %}
								
									
									<li class="ivo-perfil-busqueda-enlace"><a href="/perfil/{{seguidor.id_usuario.id}}/" class="ivo-font-azulClaro">Ver Perfil</a></li>
								</ul>
							</div>
						</div>				
					</div>
					<!-- Item Listado de Perfiles -->
					
				{% if forloop.counter0 == 15 or seguidores.object_list|length == forloop.counter %}
				</div>
				
				{%endif%}
			
				
				
			
				{%endif%}
			{% endfor %}


			
				<!-- Numero de Paginas del Listado de Perfiles -->
				<div class="row">
					<div class="col-md-6 col-lg-6 col-md-offset-3 ivo-blog-paginas ivo-blog-paginas-invertido">
				    	{% if seguidores.has_other_pages %}
				    	<ul>
				    		{% if seguidores.has_previous %}
					    			<li class="ivo-blog-paginas-move">
					    			<a href="?page={{ seguidores.previous_page_number }}">&laquo;</a></li>
							    
				    			{% endif %}

							    {% for i in seguidores.paginator.page_range %}
							      {% if seguidores.number == i %}
						    		<li class="ivo-blog-paginas-activo">
						    			<span>{{ i }} <span class="sr-only">(current)</span></span>
						    		</li>
				    			 {% else %}
				    		<li>
				    			<a href="?page={{ i }}">{{ i }}</a>
				    		</li>
				    		{% endif %}
							    {% endfor %}
							    {% if seguidores.has_next %}
							      <li><a href="?page={{ seguidores.next_page_number }}">&raquo;</a></li>
							    
							    {% endif %}
							  </ul>
							{% endif %}
				    </div>
				</div>
			</div>	
		</div>
		<!-- App -->
		<div class="container-fluid ivo-artistas-appBck">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 ivo-artistas-app">
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0">
								<img src="{% static 'img/ivo-lg3.png' %}" class="img-responsive ivo-app-logo general">
								<h2>Descarga nuestra App Movil</h2>
								<a href="#" class="ivo-app-goplay general">
									<img src="{% static 'img/google-play.png' %}">
								</a>
								<a href="#" class="ivo-app-appsto general">
									<img src="{% static 'img/appstore.png' %}">
								</a>
								<br class="clear">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{%endblock%}