{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block cssblock %}
	<link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet">
		<style type="text/css">
			.ivo-pregunta {
				background-image: url("{%static 'img/login.jpg' %}");
				min-height: 100%;
    			height: initial !important;
    			
			}
			.ivo-formartista-gray {  height: 726px !important;}
		</style>



{% endblock %}

{% block content %}





<div class="container-fluid ivo-pregunta ivo-recuperarClave">
			<div class="ivo-layer-gry ivo-formartista-gray"></div>
			<div class="container ivo-recuperarClave">
				<div class="row ivo-login-header">
					<div class="col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3 ivo-login-header-olvido">
						<h1 class="olv-clave">Reestablezca su contraseña</h1>
					</div>
				</div>
				{% if validlink %}
				<div class="row">
					<div class="col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3">
						<div class="ivo-login-header-texto">
							Ingrese la nueva contraseña
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3">
						<form method="post" action="." class="ivo-form">
						  {% csrf_token %} 
						  {{ form.as_p }}

						  <input id='boton' type="submit"  hidden/>

						  <label for='boton' class="ivo-boton-fondoInpt ivo-borde-verde" style="margin-top: 8px; cursor:pointer">
									<span class="ivo-back-verde ivo-borde-transparente">
										Cambiar contraseña
									</span>
								</label>
						  
						</form>
					</div>
				</div>
				{% else %}

					<p>{% trans "Password reset failed" %}</p>

				{% endif %}

			</div>
</div>




{% endblock %}
