{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block cssblock %}
	<link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet">
		<style type="text/css">
			.ivo-pregunta {
				background-image: url("{%static 'img/login.jpg' %}");
				min-height: 100%;
    			height: 100%;
    			margin-top: 
			}
			.ivo-formartista-gray {height: 100%;}
		</style>
{% endblock %}

{% block content %}

<div class="container-fluid ivo-pregunta ivo-recuperarClave">
			<div class="ivo-layer-gry ivo-formartista-gray"></div>
			<div class="container ivo-recuperarClave">
				<div class="row ivo-login-header">
					<div class="col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3 ivo-login-header-olvido">
						<h1 class="olv-clave">{% trans "Cambio de contraseña exitoso" %}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3">
						<div class="ivo-login-header-texto">
							<p>Tu Contraseña ha sido modificada exitosamente.</p>
							<p>Ya puedes iniciar sesion con tu nueva clave</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>



{% endblock %}
