


{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block cssblock %}

		<style type="text/css">
			.ivo-pregunta { height: auto;}
			.ivo-form  select {width: 100%}
		</style>
{% endblock %}

{% block content %}




<div class="container-fluid ivo-artistas">
			<div class="ivo-layer-gry ivo-layer-gry-artistas"></div>
			<div class="container">
			<div class="row">
				<div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
					<h1>
						<span>Juan Esteban</span>
						</br>
						Cantante
					</h1>
				</div>
			</div>
			</div>
		</div>
		<!-- Artistas -->
		<div class="container-fluid ivo-artistas-bck-cont">
			<div class="container">
				<div class="row ivo-artistas-panel">
					<div class="col-xs-10 col-sm-10 col-md-12 col-lg-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
						<div class="row text-center ivo-artistas-panel-texto">
							<h1 class="headermessage">Artistas</h1>
					       	<h3 class="headermessage">Conoce a los talentos mas recientes</h3>
					       	<ul class="list-inline ivo-artistas-panel-filtros">
							  <li>Musico</li>
							  <li>Cantante</li>
							  <li>Bailarin</li>
							  <li>Modelo</li>
							  <li>Actor</li>
							  <li>Fotografo</li>
							  <li>Presentador</li>
							</ul>
					   	</div>
					    <div class="row">
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					    </div>
					    <div class="row">
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					        <div class="col-xs-4 col-sm-4 col-md-2 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3>Musico</h3>
					    		<h4 class="nombre">Catherine Lewis</h4>
					    		<h4>Compositora</h4>
					        </div>
					    </div>
					   <div class="row">
					   		<div class="col-md-4 col-md-offset-4 text-center">
					   			<ul class="ivo-panel-indice">
									<li class="activo"><span class="icon_circle-slelected"></span></li>
									<li><span class="icon_circle-empty"></span></li>
									<li><span class="icon_circle-empty"></span></li>
									<li><span class="icon_circle-empty"></span></li>
									<li><span class="icon_circle-empty"></span></li>
									<li><span class="icon_circle-empty"></span></li>
								</ul>
					   		</div>
					   </div>
				    </div>
				</div>
			</div>
		</div>
		<!-- App -->
		<div class="container-fluid ivo-artistas-appBck">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 ivo-artistas-app">
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0">
								<img src="{% static 'img/ivo-lg3.png' %}" class="img-responsive ivo-app-logo general">
								<h2>Descarga nuestra App Movil</h2>
								<a href="#" class="ivo-app-goplay general">
									<img src="{% static 'img/google-play.png' %} ">
								</a>
								<a href="#" class="ivo-app-appsto general">
									<img src="{% static 'img/appstore.png' %}">
								</a>
								<br class="clear">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Blog Posts -->
		<div class="container-fluid ivo-artistas-bck-cont">
			<div class="container">
				<div class="row ivo-noticias">
					<div class="col-md-12 col-lg-12">
						<div class="row text-left">
					       	<h3 class="headermessage">&Uacute;ltimas Entradas</h3>
					   	</div>
					    <div class="row">
					    	<div class="image-block col-xs-6 col-sm-4" style="background-image:url('{% static 'img/artista-t1.jpg'%}');" no-repeat center top;background-size:cover;">
					    		<h3 class="ivo-back-naranja">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
					        <div class="image-block col-xs-6 col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg) no-repeat center top;background-size:cover;">
					            <h3 class="ivo-back-rosa">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
					        <div class="image-block col-xs-6 col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city5.jpg) no-repeat center top;background-size:cover;">
					            <h3 class="ivo-back-azul">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
					        <div class="image-block col-xs-6 col-sm-8" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city6.jpg) no-repeat center top;background-size:cover;">
					            <h3 class="ivo-back-verde">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
					        <div class="image-block col-xs-6 col-sm-4" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city7.jpg) no-repeat center top;background-size:cover;">
					            <h3 class="ivo-back-azulClaro">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>      
					        </div>
					    </div>
				    </div>
				</div>
			</div>
		</div>
		{% endblock %}

	{% block javascript %}
		<script>
		    $('.carousel').carousel({
		        interval: 5000 //changes the speed
		    })
		</script>
	{% endblock %}
