    {% extends "base.html" %}
    {% load staticfiles %}
 {% load humanize %}

    {% block javascript %}

        <script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>

    {% endblock %}

    {% block cssblock %}

        <link rel="stylesheet" href="{% static 'css/main.css' %}" crossorigin="anonymous">
        <!-- Css Mquery ivo-talents -->
        <link rel="stylesheet" href="{% static 'css/mquery.css' %}" crossorigin="anonymous">
        <!-- Css Slider ivo-talents -->
        <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">

        <link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet">
		<style type="text/css">
			.carousel-caption {
				bottom: 0px;
    			top:180px;
			}

			.ivo-noticias {margin-bottom: 40px;}

			.ivo-dashboard-imgPerfil {
				background-image: url('/static/img/avatar-ivo.jpg/');
			}

			.ivo-dashboard-barLateral {height: 3000px;}
		</style>

    {% endblock %}

    {% block content %}
		<!-- Panel Anrtista -->
		<div class="container-fluid" style="background-color: #E8E8E8;">
			<div class="container ivo-dashboard">
				<div class="row">
					<div class="col-md-4 ivo-dashboard-barLateral">
						<div class="row">
							<div class="col-xs-12 col-sm-3 col-md-6">
								<div class="ivo-dashboard-imgPerfil"></div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6" style="padding:0;">
								<ul class="ivo-dashboard-infoBasica">
									<li class="ivo-dashboard-infoBasica-nombre">{{request.user.get_full_name}}</li>
									<li>Profesion</li>
									<li class="ivo-dashboard-infoBasica-seguidores">
										<span class="glyphicon glyphicon-heart ivo-font-naranja"></span> <font>500 fans</font>
									</li>
									<li>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star-empty ivo-font-naranja"></span>
									</li>
									<li class="ivo-dashboard-infoBasica-enlace">
										<a href="/perfil/{{request.user.get_uuid}}/">Ver Mi Perfil</a>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="ivo-dashboard-separador"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<ul class="ivo-dashboard-mensajes">
									<li class="funciones">
										<a href="#">
											<span class="icon-envelope ivo-font-verde"></span>
												<font>&nbsp;Mensajes Recibidos</font>
											<span class="ivo-dashboard-mensajeCount">100</span>
										</a>
									</li>
									<li  class="funciones ivo-dashboard-tope">
										<a href="#">
											<span class="icon-paper-plane ivo-font-azulClaro"></span>
												<font>&nbsp;Mensajes Enviados</font>
										</a>
									</li>
									<li class="ivo-dashboard-mensajesBonton ivo-dashboard-tope">
										<a href="#" class="ivo-boton-fondo ivo-boton-mensajes">
											<span>Redactar</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="col-md-12">
								<div class="ivo-dashboard-separador"></div>
							</div>
							<div class="col-md-12">
								<h5 class="ivo-dashboard-audiciones ivo-bold">Mis Audiciones</h5>
							</div>
						</div>
						<div class="row ivo-dashboard-busquedaAv">
							<div class="col-md-12 ivo-dashboard-formBck">
								<form class="ivo-dashboard-form">
									<h4 class="ivo-bold">B&uacute;squeda Avanzada <span class="glyphicon glyphicon-search"></span></h4>
									<div class="ivo-dashboard-separador-slb"></div>
									<h5>&iquest;Necesitas un proveedor?</h5>
									<ul class="ivo-dashboard-listaSeleccion">
										
									</ul>
									<div class="ivo-dashboard-separador-slb"></div>
									<h5>&iquest;Buscas una industria?</h5>
									<ul class="ivo-dashboard-listaSeleccion">
										
									</ul>
									<div class="ivo-dashboard-separador-slb"></div>
									<h5>Pa&iacute;s de residencia</h5>
									<select class="ivo-border-width-3">
										<option>Pais 1</option>
										<option>Pais 1</option>
										<option>Pais 1</option>
										<option>Pais 1</option>
										<option>Pais 1</option>
										<option>Pais 1</option>
									</select>
									<input type="submit" value="BUSCAR">
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ivo-dashboard-seguidores">
								<h3>Seguidores</h3>
								<ul>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>M&uacute;sica</span>
											<h5 class="ivo-dashboard-nombre">Music Records</h5>
											<h5>Producci&oacute;n de Eventos</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ocultar-item">
										<div class="col-sm-10 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ivo-dashboard-inferior-li ocultar-item">
										<div class="col-sm-10 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ivo-dashboard-inferior text-center ivo-dashboard-listaPersonas-boton">
										<a class="ivo-dashboard-verTodo" href="#">Ver Todos</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ivo-dashboard-seguidores">
								<h3>Siguiendo</h3>
								<ul>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ocultar-item">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ivo-dashboard-inferior-li ocultar-item">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg'%}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ivo-dashboard-inferior text-center ivo-dashboard-listaPersonas-boton">
										<a class="ivo-dashboard-verTodo" href="#">Ver Todos</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-8 ivo-dashboard-panel">
						<div class="row text-left">
					       	<h3 class="headermessage ivo-dashboard-resumen-titulo">&Uacute;ltimas Entradas</h3>
					   	</div>
					    <div class="row text-center">
							{%for post in posts%}
								{%if forloop.counter0 == 2%}
									<div class="image-block col-sm-12 ivo-casting-imageblock ivo-dashboard-imageblock" style="background: url('{{post.imagen.url}}') no-repeat center top;background-size:cover;">
										{% if post.categoria.nombre == 'Talento' %}
											<h3 class="ivo-back-naranja">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Novedades' %}
											<h3 class="ivo-back-rosa">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Industria' %}
											<h3 class="ivo-back-azul">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Casting' %}
											<h3 class="ivo-back-verde">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Fanatico' %}
											<h3 class="ivo-back-azulClaro">{{post.categoria.nombre}}</h3>

										{% endif %}
					    		<h4 class="ivo-noticia-titulo">{{post.titulo}}</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href={% url 'blog:detalle' idpost=post.id %} class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
								{%else%}
									<div class="image-block col-sm-6 ivo-casting-imageblock ivo-dashboard-imageblock" style="background: url('{{post.imagen.url}}') no-repeat center top;background-size:cover;">
					    		{% if post.categoria.nombre == 'Talento' %}
											<h3 class="ivo-back-naranja">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Novedades' %}
											<h3 class="ivo-back-rosa">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Industria' %}
											<h3 class="ivo-back-azul">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Casting' %}
											<h3 class="ivo-back-verde">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Fanatico' %}
											<h3 class="ivo-back-azulClaro">{{post.categoria.nombre}}</h3>

										{% endif %}
					    		
					    		<h4 class="ivo-noticia-titulo">{{post.titulo}}</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href={% url 'blog:detalle' idpost=post.id %} class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
								{%endif%}
							{%endfor%}

					    	
					        
					    </div>
					    <div class="row ivo-artistas-appBck" style="background-size: cover;">
							<div class="col-md-12 col-lg-12 ivo-artistas-app ivo-dashboard-app">
								<div class="row text-center">
									<div class="col-md-6 col-lg-6">
										<img src="{% static 'img/ivo-lg3.png' %}" class="img-responsive ivo-app-logo ivo-dashboard-app-logo">
										<h2>Descarga nuestra App</h2>
									</div>
									<div class="col-md-4 col-md-offset-2">
										<a href="#" class="ivo-app-appsto">
											<img src="{% static 'img/appstore.png' %}">
										</a>
										<a href="#" class="ivo-app-goplay">
											<img src="{% static 'img/google-play.png' %}">
										</a>
										<br class="clear">
									</div>
								</div>
							</div>
						</div>
						<!-- Lista de Castings -->
						<div class="row">
							<div class="col-md-12">
								<div class="ivo-flag-contenedor">
									<div class="flag ivo-back-verde ivo-flag-dashboard"></div>
									<h3 class="ivo-dashboard-seccion-titulo"><span class="ivo-etiqueta-titulo ivo-back-verde">Castings</span> Nuevas Oportunidades en IVO Talents</h3>
									<br />
								</div>
								<!-- Seccion Resumen de Castings -->
								<ul class="ivo-dashboard-seccion ivo-dashboard-notope">
									{%for casting in castings%}
										<li class="row ivo-dashboard-casting-lista">
										<div class="col-xs-3 col-sm-3 col-md-2">

											<!-- FALTA LA VALIDACION DE IMAGEN -->
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
											
										</div>
										<div class="col-xs-9 col-sm-6 col-md-7 ivo-dashboard-seccion-contenido">
											<span class="ivo-etiqueta-titulo ivo-font-verde ivo-dashboard-etq">{{casting.categoria.nombre}}</span>
											<h5 class="ivo-dashboard-nombre">{{casting.titulo}}</h5>
											<h5 class="ivo-font-verde">{{casting.fecha_fin | naturaltime}}</h5>
										</div>
										<div class="col-xs-12 col-sm-3 col-md-3 ivo-dashboard-seccion-boton">
											<a class="ivo-boton ivo-font-verde ivo-borde-verde" href={% url 'casting:casting_detalle' idcasting=casting.id %}>Leer Mas</a>
										</div>
									</li>
									{%endfor%}

									<li class="ivo-dashboard-seccion-enlace">
										<a class="ivo-font-verde" href={% url 'casting:casting_inicio'  %}>Ver Todas las oportunidades</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Lista de Proveedores -->
						<div class="row">
							<div class="col-md-12">
								<div class="ivo-flag-contenedor">
									<div class="flag ivo-back-rosa ivo-flag-dashboard"></div>
									<h3 class="ivo-dashboard-seccion-titulo"><span class="ivo-etiqueta-titulo ivo-back-rosa">Proveedores</span> Encuentra los mejores servicios</h3>
									<br />
								</div>
							</div>
					        <div class="col-xs-6 col-sm-3 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3 class="ivo-font-negro">Musico</h3>
					    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
					    		<h4 class="ivo-font-negro">Compositora</h4>
					        </div>
					        <div class="col-xs-6 col-sm-3 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3 class="ivo-font-negro">Musico</h3>
					    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
					    		<h4 class="ivo-font-negro">Compositora</h4>
					        </div>
					        <div class="col-xs-6 col-sm-3 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3 class="ivo-font-negro">Musico</h3>
					    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
					    		<h4 class="ivo-font-negro">Compositora</h4>
					        </div>
					        <div class="col-xs-6 col-sm-3 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3 class="ivo-font-negro">Musico</h3>
					    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
					    		<h4 class="ivo-font-negro">Compositora</h4>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
