{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/ivo-lg2.png' %} "/>
	    {% include 'head_css.html' %}


        <!--css used for that page-->
        {% block cssblock %}
        {% endblock %}

	</head>
	<body>
		<!-- Header menus and stuff-->
		{% if user.is_authenticated %}
		{% include 'header.html' %}
		{% else %}
        {% include 'header_no_login.html' %}
		{% endif %}

        <!--main clock content -->
           
           <div class="modal fade bs-example-modal-sm " id="mensajes" tabindex="-1" role="dialog" aria-labelledby="mensajesLabel" style=" top: 15%;">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content" style="background:rgba(0,0,0,0.7); color:white;">
							      
							      <div  class="modal-body">
							        
								            <span id='texto_mensaje'></span>
								        
								     <span id="close_mensajes"  class="close"  style="color:white; opacity:0.9">X</span>
							      </div>
							      
							    </div>
							  </div>
							</div>
        
        {% if login_form.non_field_errors %}


					<div class="modal fade bs-example-modal-sm in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block; top: 15%;">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content" style="background:rgba(0,0,0,0.7); color:white;">
							      
							      <div class="modal-body">
							        {% for error in login_form.non_field_errors %}
								            <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ error }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
								        {% endfor %}
								     <span id="close"  class="close"  style="color:white; opacity:0.9">X</span>
							      </div>
							      
							    </div>
							  </div>
							</div>
								
		        				
								    <!--div class="alert alert-danger" style="position:absolute; z-index: 1000; top: 25%; left: 35%">
								    		<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">X</a>
								        
								    </div-->
								{% endif %} 
        {% block content %}

        {% endblock %}

        <!-- Footer -->
	    {% include "footer.html" %}

        <!-- javascript before body ends-->
        {% include "javascript.html" %}

        <!--javascript block used in each page -->
        {% block javascript %}
        {% endblock %}
	</body>
</html>
