{% load notifications_tags %}
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="google-signin-client_id" content="1055413953608-gbgfj0vovnjtink4uf9ttjah3oji8kkn.apps.googleusercontent.com">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/ivo-lg2.png' %} "/>
        <script src="{% static 'notifications/notify.js' %}" type="text/javascript">
       </script>
       
       {% if user.is_authenticated %}
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' refresh_period=60 %}
{% endif %}
	    {% include 'head_css.html' %}


        <!--css used for that page-->
        {% block cssblock %}
        {% endblock %}

	</head>
	<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9&appId=194311034382699";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript">


      function handleClientLoad() {
        // Loads the client library and the auth2 library together for efficiency.
        // Loading the auth2 library is optional here since `gapi.client.init` function will load
        // it if not already loaded. Loading it upfront can save one network request.
        gapi.load('client:auth2', initClient);
      }

      function initClient() {
        // Initialize the client with API key and People API, and initialize OAuth with an
        // OAuth 2.0 client ID and scopes (space delimited string) to request access.
        gapi.client.init({

            apiKey: 'AIzaSyBsey-8PyJtPNYuafrHs7-OYM5Z0fL3_EI',
            discoveryDocs: ["https://people.googleapis.com/$discovery/rest?version=v1"],
            clientId: '1055413953608-gcadcqoq57f0viugtovhju01u9as3jr1.apps.googleusercontent.com',
            scope: 'profile'
        }).then(function () {
          // Listen for sign-in state changes.
          gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

          // Handle the initial sign-in state.
          updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
        });
      }

      

      

      function makeApiCall(tipo_usuario) {
        // Make an API call to the People API, and print the user's given name.
        gapi.client.people.people.get({
          'resourceName': 'people/me',
          'requestMask.includeField': 'person.names,person.emailAddresses,person.genders,person.birthdays,person.photos'
        }).then(function(response) {

        	 var genero='';
		      if (response.result.genders[0].value=='male'){
		      	genero='M';
		      }else{
		      	genero='F';
		      };
          /*console.log('Nombre, ' + response.result.names[0].givenName);
          console.log('Apellido, ' + response.result.names[0].familyName);
          console.log('N-Completo, ' + response.result.names[0].displayName);
          console.log('Genero, ' + response.result.names[0].displayName);
          console.log('Email, ' + response.result.emailAddresses[0].value);
          console.log('Foto, ' + response.result.photos[0].url);*/


          $.ajax({
                            url: '/facebook-login/',
                            type: 'post',
                            dataType: 'json',
                            data: {'name':response.result.names[0].displayName,'genero':genero,'first_name':response.result.names[0].givenName, 'last_name':response.result.names[0].familyName,'email':response.result.emailAddresses[0].value,'picture':response.result.photos[0].url,'tipo_usuario':tipo_usuario, 'csrfmiddlewaretoken':'{{csrf_token}}'},
                            success: function (data) {
                                if(data.success == false){
                                  gapi.auth2.getAuthInstance().signOut();
                                    $('#texto_mensaje').text('No Posees una cuenta de usuario');
                                     $('#mensajes').modal('show');
                                  }else{
                                    
                                   
                                   		gapi.auth2.getAuthInstance().signOut();
                                      location.href  ='/artistadashboard/'
                                      
                                                  
				                                                      
                                }
                            }
                        });



        }, function(reason) {
          console.log('Error: ' + reason.result.error.message);
        });
      }


       function makeApiCallReg(tipo_usuario) {
        // Make an API call to the People API, and print the user's given name.
        gapi.client.people.people.get({
          'resourceName': 'people/me',
          'requestMask.includeField': 'person.names,person.emailAddresses,person.genders,person.birthdays,person.photos'
        }).then(function(response) {
            alert(response.result.emailAddresses[0].value)
           var genero='';
         /* if (response.result.genders[0].value=='male'){
            genero='M';
          }else{
            genero='F';
          };
          console.log('Nombre, ' + response.result.names[0].givenName);
          console.log('Apellido, ' + response.result.names[0].familyName);
          console.log('N-Completo, ' + response.result.names[0].displayName);
          console.log('Genero, ' + response.result.names[0].displayName);
          console.log('Email, ' + response.result.emailAddresses[0].value);
          console.log('Foto, ' + response.result.photos[0].url);*/

          //console.log(response)
          $.ajax({
                            url: '/facebook-registro/',
                            type: 'post',
                            dataType: 'json',
                            data: {'name':response.result.names[0].displayName,'genero':genero,'first_name':response.result.names[0].givenName, 'last_name':response.result.names[0].familyName,'email':response.result.emailAddresses[0].value,'picture':response.result.photos[0].url,'tipo_usuario':tipo_usuario, 'csrfmiddlewaretoken':'{{csrf_token}}'},
                            success: function (data) {
                                if(data.success == false){
                                  gapi.auth2.getAuthInstance().signOut();
                                    $('#texto_mensaje').text('No Posees una cuenta de usuario');
                                     $('#mensajes').modal('show');
                                  }else{
                                    
                                   
                                      gapi.auth2.getAuthInstance().signOut();
                                      location.href  ='/perfil/configuraciongeneral/'
                                      
                                                  
                                                              
                                }
                            }
                        });



        }, function(reason) {
          console.log('Error: ' + reason.result.error.message);
        });
      }
    </script>
    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>





		<!-- Header menus and stuff-->
		{% if user.is_authenticated %}

    <script type="text/javascript">
   
       /*setInterval(function(){
                      alert("holiss!!")
                    }, 10000);
*/
    
    </script>
		{% include 'header.html' %}
		{% else %}
        {% include 'header_no_login.html' %}
        	
		{% endif %}

        <!--main clock content -->
           
           <div class="modal fade bs-example-modal-sm " id="mensajes" tabindex="-1" role="dialog" aria-labelledby="mensajesLabel" style=" top: 15%;">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content" style="background:rgba(0,0,0,0.7); color:white;">
							      
							      <div  class="modal-body">
							        
								            <span id='texto_mensaje'></span>
								        
								     <span id="close_mensajes"  class="close"  style="color:white; opacity:0.9">X</span>
							      </div>
							      
							    </div>
							  </div>
							</div>
        
        {% if login_form.non_field_errors %}


					<div class="modal fade bs-example-modal-sm in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block; top: 15%;">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content" style="background:rgba(0,0,0,0.7); color:white;">
							      
							      <div class="modal-body">
							        {% for error in login_form.non_field_errors %}
								            <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ error }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
								        {% endfor %}
								     <span id="close"  class="close"  style="color:white; opacity:0.9">X</span>
							      </div>
							      
							    </div>
							  </div>
							</div>
								
		        				
								    <!--div class="alert alert-danger" style="position:absolute; z-index: 1000; top: 25%; left: 35%">
								    		<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">X</a>
								        
								    </div-->
								{% endif %} 
        {% block content %}

        {% endblock %}
       

        <!-- Footer -->
	    {% include "footer.html" %}



        <!-- javascript before body ends-->
        {% include "javascript.html" %}

        <!--javascript block used in each page -->
        {% block javascript %}
        {% endblock %}
        <!-- Chat -->

        {% if user.is_authenticated %}
    <div id="live-chat">
      <div id='ivo-chat-bar' class="ivo-chat-bar">
        <div  class="ivo-chat-bar-caja">
          <img  src="{% static 'img/ivo-chat3.png' %}">
          <br />
        </div>
      </div>
    <header class="clearfix ivo-chat-header">     
      <a href="#" class="chat-close">
        <span class="icon_close"></span>
      </a>
      <h4>Chat</h4>
      <span class="chat-message-counter">3</span>
    </header>
    <div class="chat ivo-chat-body">      
      <div class="chat-history">        
        <div class="chat-message clearfix ivo-chat-otroMensaje">  
          <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">      
          <div class="chat-message-content clearfix">
            <!--span class="chat-time">13:35</span>
            <h5>John Doe</h5-->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, explicabo quasi ratione odio dolorum harum.</p>
          </div> <!-- end chat-message-content -->
        </div> <!-- end chat-message -->
        <div class="chat-message clearfix">
          
          <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nulla accusamus magni vel debitis numquam qui tempora rem voluptatem delectus!</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->
        <div class="chat-message clearfix ivo-chat-otroMensaje">
          
          <img src="http://gravatar.com/avatar/2c0ad52fc5943b78d6abe069cc08f320?s=32" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>

          </div> <!-- end chat-message-content -->

        </div> <!-- end chat-message -->
    </div> <!-- end chat-history -->

      <!--p class="chat-feedback">Escribiendo…</p-->

      <form action="#" method="post">
  {%csrf_token%}
        <fieldset>
          
          <input type="text" placeholder="" autofocus>
          <input type="button" value="Enviar">

        </fieldset>

      </form>

    </div> <!-- end chat -->

  </div> <!-- end live-chat -->
    <script type="text/javascript" src="assets/js/main.js"></script>
     <script>
        
$(document).on('click','#live-chat .ivo-chat-bar ',function()
           {
            
    if($('#live-chat').css("margin-right") == "0px")
    {
        //$('.pollSlider').animate({"margin-right": '-=200'});
        $('#live-chat').animate({"margin-right": '-=370'});
    }
    else
    {
       // $('.pollSlider').animate({"margin-right": '+=200'});
        $('#live-chat').animate({"margin-right": '+=370'});
    }



         });


$(document).on('click','.chat-close',function()
           {
            
    if($('#live-chat').css("margin-right") == "0px")
    {
        //$('.pollSlider').animate({"margin-right": '-=200'});
        $('#live-chat').animate({"margin-right": '-=370'});
    }
    else
    {
       // $('.pollSlider').animate({"margin-right": '+=200'});
        $('#live-chat').animate({"margin-right": '+=370'});
    }



         });

/*
        $('#live-chat header').on('click', function() {

          $('.chat').slideToggle(300, 'swing');
          $('.chat-message-counter').fadeToggle(300, 'swing');

        });

        $('.chat-close').on('click', function(e) {

          e.preventDefault();
          $('#live-chat').animate({width:'toggle'},300);

        });

      })
      ();
      */ 
      </script>
      {% endif %}
	</body>

</html>
