{% load staticfiles %}
<div class="container-fluid ivo-footer ivo-footer-topBck">
    <div class="container">
        <div class="row ivo-footer-top">
            <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-3 col-lg-3 ivo-footer-logo">
                <img src="{% static 'img/ivo-lg1.png' %}" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ivo-footer-lista1">
                <ul>
                    <li>
                        <a href="#">acerca de</a>
                    </li>
                    <li>
                        <a href="/corporativa/">contacto</a>
                    </li>
                    <li>
                        <a href="#">olvido contrase&ntilde;a?</a>
                    </li>
                    
                    <li>
                        <a href="/terminos/">terminos y condiciones</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ivo-footer-lista2">
                <ul>
                    
                    <li>
                        <a href="#"  class="ivo-footer-top-blanco">paquetes</a>
                    </li>
                    <li>
                        <a href="/faq/"  class="ivo-footer-top-blanco">preguntas frecuentes</a>
                    </li>
                    <li>
                        <a href="#"  class="ivo-footer-top-blanco">registrate</a>
                    </li>
                    
                    
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ivo-footer-listaS">
                <ul class="ivo-footer-social">
                    <li><span class="social_facebook_circle"></span></li>
                    <li><span class="social_twitter_circle"></span></li>
                    <li><span class="social_instagram_circle"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid ivo-footer ivo-footer-bottomBck">
    <div class="container ivo-footer-bottomBck">
        <div class="row ivo-footer-bottom">
            <div class="col-md-8 col-lg-8 col-md-offset-2">
                <p>IVO talents, todos los derechos reservados, 2016</p>
            </div>
        </div>
    </div>
</div>
<!-- Menu Lateral -->
<div class="ivo-menu-principal-panel">
    <ul>
        <li class="ivo-menu-principal-panel-encabezado">
            <span class="icon_close" aria-hidden="true" id="ivo-boton-menu-cerrar"></span>
            <p>Menu</p>
        </li>
        <li class="ivo-menu-principal-panel-social">
            <span class="social_facebook_circle"></span>
            <span class="social_twitter_circle"></span>
            <span class="social_instagram_circle"></span>
        </li>
        <li class="ivo-menu-principal-panel-menu">
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a id="enlace-talentos" href={% url 'listado:artistas' %} class="naranja">Talentos</a>
                </li>
                <li>
                    <a id="enlace-industria" href="#" class="azul">Industria</a>
                </li>
                <li>
                    <a id="enlace-casting" href={% url 'casting:casting_inicio' %} class="verde">Casting / Audiciones</a>
                </li>
                <li>
                    <a id="enlace-proveedores" href="#" class="rosa">Proveedores</a>
                </li>
                {% endif %}
                <li>
                    <a id="enlace-blog" href={% url 'blog:todos' %} class="negro">Blog</a>
                </li>
                <li>
                    <a href="#" class="azulClaro"><span class="glyphicon glyphicon-search" aria-hidden="true"> </span> Encuentra</a>
                </li>
                <li class="ivo-menu-principal-panel-buttonAp">
                    <button class="ivo-boton-fondoInpt" style="margin-top: 8px">
                        <span class="ivo-borde-transparente ivo-menu-buttonAP">
                            <img src="{% static 'img/ivo-lg2.png' %}"> IVO | App
                        </span>
                    </button>
                </li>
            </ul>
        </li>

    </ul>
</div>
