{% load staticfiles %}
<link rel="stylesheet" href="{% static 'js/NProgress/nprogress.css' %} ">

<link rel="stylesheet" href="{% static 'bootstrap-2/css/bootstrap.css' %} ">
<!-- Css ivo-talents -->
<link rel="stylesheet" href="{% static 'css/main.css' %}" crossorigin="anonymous">
<!-- Css Mquery ivo-talents -->
<link rel="stylesheet" href="{% static 'css/mquery.css'%}" crossorigin="anonymous">
<!-- Css Slider ivo-talents -->
<link href="{% static 'css/full-slider.css'%}" rel="stylesheet">
<!-- Css Home 2>
<link href="assets/css/home2.css" rel="stylesheet" -->
