{% extends "base.html" %}
{% load staticfiles %}

	{% block content %}



		<header id="myCarousel" class="carousel slide">
	        <!-- Indicators -->
	        <!--ol class="carousel-indicators">
	            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	            <li data-target="#myCarousel" data-slide-to="1"></li>
	            <li data-target="#myCarousel" data-slide-to="2"></li>
	        </ol-->

	        <!-- Wrapper for Slides -->
	        <div class="carousel-inner">
	            <div class="item active">
	                <!-- Set the first background image using inline CSS below. -->
	                <div class="fill" style="background-image:url('{% static 'img/ivointro-2.png'%}');"></div>

	                <div class="carousel-caption ivo-intro-texto">
	                	<h1>Ivo Talents</h1>
						<h2>Proyectamos talento artistico</h2>
						{% comment %}
						{% if user.is_authenticated %}
							{% if user.tipo_usuario != 'F' %}
							<a href={% url 'casting:casting_inicio'%} class="ivo-boton ivo-home-boton">Hacer Casting / Audicion</a>
							
							{%endif%}
						{%else%}
							<a href={% url 'seleccionregistro'%} class="ivo-boton ivo-home-boton">Unete</a>
						{%endif%}
						{% endcomment %}
						<div class="ivo-white-box"></div>
	                </div>
	            </div>
	            <div class="item">
	                <!-- Set the second background image using inline CSS below. -->
	                <div class="fill" style="background-image:url({% static 'img/Banner3.png' %});"></div>

	                <div class="carousel-caption ivo-intro-texto">
	                	<h3 style="text-align: right;">Haz tu casting gratis aqui<br> y consigue el talento que necesitas</h3>
						<h4 style="text-align: right;">Agencias de Casting, Agencias de publicidad</br>productores, empresas de eventos,</br> academias, teatros... </h4>
						{% comment %}
						{% if user.is_authenticated %}			
							{% if user.tipo_usuario != 'F' %}			
						<a href={% url 'casting:casting_inicio'%} class="ivo-boton ivo-home-boton pull-right" style="padding-left: 80px; padding-right: 80px;"> Descubre </a>
							{% endif %}
						{% else %}
							<a href={% url 'seleccionregistro'%} class="ivo-boton ivo-home-boton pull-right" style="padding-left: 80px; padding-right: 80px;"> Unete </a>
						{% endif %}
						{% endcomment %}
						<div class="ivo-white-box pull-right"></div>
	                </div>
	                
	            </div>
	            <div class="item">
	                <!-- Set the third background image using inline CSS below. -->
	                <div class="fill" style="background-image:url({% static 'img/Banner-2-Artistas.png' %});"></div>
	                <div class="carousel-caption ivo-intro-texto">
	                	<h3 style="text-align: left;">forma parte de la base de datos<br>de talentos artisticos<br> mas grande de latinoamerica</h3>
						<h4 style="text-align: left;">bailarines, cantantes, actores, y modelos </h4>
						{% comment %}
						{% if user.is_authenticated %}			
								
						<a href={% url 'listado:artistas'%}  class="ivo-boton ivo-home-boton pull-left" style="padding-left: 80px; padding-right: 80px;">Descubre     </a>
							
						{%else%}
							<a href={% url 'seleccionregistro'%}  class="ivo-boton ivo-home-boton pull-left" style="padding-left: 80px; padding-right: 80px;">Unete     </a>
						{%endif%}
						{% endcomment %}	
						<div class="ivo-white-box pull-right"></div>
	                </div>
	               
	            </div>
	            <div class="item">
	                <!-- Set the third background image using inline CSS below. -->
	                <div class="fill" style="background-image:url({% static 'img/Banner-4-Provedor.png' %});"></div>
	                 <div class="carousel-caption ivo-intro-texto ">
	                	<h3 style="text-align: right;">La mejor web que ofrece <br> lista de proveedores para tus proyectos</h3>
						<h4 style="text-align: right;">fotografos, make up, peinados</br>director de arte, escenografo... </h4>
						{% comment %}
						{% if user.is_authenticated %}	
							<a href={% url 'listado:proveedores'%}  class="ivo-boton ivo-home-boton pull-right" style="padding-left: 80px; padding-right: 80px;">Descubre     </a>
						{%else%}
							<a href={% url 'seleccionregistro'%}  class="ivo-boton ivo-home-boton pull-right" style="padding-left: 80px; padding-right: 80px;">Unete     </a>
						{%endif%}
						{% endcomment %}	
						<div class="ivo-white-box pull-right"></div>
	                </div>
	                
	            </div>
	            <div class="item">
	                <!-- Set the third background image using inline CSS below. -->
	                <div class="fill" style="background-image:url({% static 'img/Banner-1-3Casting.png' %});"></div>
	                <div class="carousel-caption ivo-intro-texto ">
	                	<h3 style="text-align: left;">Haz tu casting online</h3>
						<h4 style="text-align: left;">desde tu celular</br>y envia de inmediato </h4>
						<a href="#descarga" class="ivo-boton ivo-home-boton pull-left">Descarga la app de Ivo Talents</a>
						<div class="ivo-white-box pull-right"></div>
	                </div>
	               
	            </div>
	        </div>

	        <!-- Controls -->
	        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	            <span class="icon-prev"></span>
	        </a>
	        <a class="right carousel-control" href="#myCarousel" data-slide="next">
	            <span class="icon-next"></span>
	        </a>
	    </header>


		<!-- Intro - Castings -->
		<div class="container-fluid ivo-intro-contenido ivo-intro-contenido-casting">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<div class="row">
							<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6  col-sm-offset-6 col-md-offset-6">
								<h2 class="ivo-intro-contenido-casting-titulo">Castings</h2>
								<h3 class="ivo-intro-contenido-casting-subtitulo">El Talento Esta En Todas Partes</h3>
								<p  class="ivo-intro-contenido-casting-texto">
									<span>Usan su perfil para actualizar trabajos, Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Usan su perfil para actualizar trabajos.</span>
								</p>
								<br>
								
									{% if user.is_authenticated %}
										{% if user.get_tipo_usuario != 'F' %}
										<a href= "{%url 'listado:artistas' %}" class="ivo-boton-fondoInpt ivo-borde-verde" style="margin-top: 8px ">
										<span class="ivo-back-verde ivo-borde-transparente">
											Descubre</span>
									</a> &nbsp	


											<a href="{% url 'casting:casting_inicio' %}" class="ivo-boton-fondoInpt-simple ivo-borde-trs-verde" style="margin-top: 8px; padding:12px 2px; ">
										<span class="ivo-back-transparente ivo-borde-transparente ivo-font-verde">
											Hacer Casting/Audicion
										</span>
									</a>
										{%else%}
										<a href= "{% url 'industria' %}" class="ivo-boton-fondoInpt ivo-borde-verde" style="margin-top: 8px">
									<span class="ivo-back-verde ivo-borde-transparente">									
										Unete	
										</span>
								</a> &nbsp		

								<a href="{%url 'registro' %}" class="ivo-boton-fondoInpt-simple ivo-borde-trs-verde" style="margin-top: 8px ">
									<span class="ivo-back-transparente ivo-borde-transparente ivo-font-verde">
										Hacer Casting / Audicion
									</span>
								</a>			
										{%endif%}
										
									{% else %}
									<a href= "{% url 'seleccionregistro' %}" class="ivo-boton-fondoInpt ivo-borde-verde" style="margin-top: 8px">
									<span class="ivo-back-verde ivo-borde-transparente">									
										Unete	
										</span>
								</a> &nbsp		

								<a href="{%url 'registro' %}" class="ivo-boton-fondoInpt-simple ivo-borde-trs-verde" style="margin-top: 8px; padding:12px 2px;">
									<span class="ivo-back-transparente ivo-borde-transparente ivo-font-verde">
										Hacer Casting/Audicion
									</span>
								</a>			
									{% endif %}
									
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Intro - Artistas -->
		<div class="container-fluid ivo-intro-contenido">
			<div class="row">
				<div class="col-md-6 ivo-intro-contenido-artIzq">

					<div class="row hidden-md hidden-lg" >
						<div class=" col-lg-6 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-intro-contenido-artIzq-top">
							<h2 class="ivo-intro-contenido-artIzq-titulo">Artistas</h2>
							<h3 class="ivo-intro-contenido-artIzq-subtitulo">Artistas Miembros</h3>
							<p class="ivo-intro-contenido-artIzq-texto">
								<span>Usan su perfil para actualizar trabajos, Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</span>
							</p>
						</div>
						<div class=" col-lg-6 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-intro-contenido-artIzq-top"  style="padding-top:30px">
						{% if user.is_authenticated %}
							<a href="{% url 'listado:artistas' %}" class="ivo-boton-fondoInpt ivo-borde-trs-naranja hidden-md hidden-lg" style="margin-top: 8px">
								<span class="ivo-back-trs-naranja ivo-borde-transparente">Descubre</span>
							</a>

						{%else %}
							<a href="{% url 'registro' %}" class="ivo-boton-fondoInpt ivo-borde-trs-naranja hidden-md hidden-lg" style="margin-top: 8px">
								<span class="ivo-back-trs-naranja ivo-borde-transparente">Unete</span>
							</a>
						{%endif%}
						</div>

					</div>
				</div>

				<div class="ivo-intro-artistas-contenedor">
					<div class="container">
						<div class="ivo-layer-gry" style="background-color: rgba(97, 97, 97,0.2)"></div>
						<div class="row">
							<div class="hidden-xs hidden-sm col-lg-6 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-intro-contenido-artIzq-top">
								<h2 class="ivo-intro-contenido-artIzq-titulo">Artistas</h2>
								<h3 class="ivo-intro-contenido-artIzq-subtitulo">Artistas Miembros</h3>
								<p class="ivo-intro-contenido-artIzq-texto">
									<span>Usan su perfil para actualizar trabajos, Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</span>
								</p>
							</div>
							<div class="hidden-xs hidden-sm col-lg-6 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-intro-contenido-artIzq-top">
							{% if user.is_authenticated %}
								<a href="{% url 'listado:artistas' %}" class="ivo-boton-fondoInpt ivo-borde-trs-naranja hidden-md hidden-lg" style="margin-top: 8px; cursor:pointer">
									<span class="ivo-back-trs-naranja ivo-borde-transparente">Descubre</span>
								</a>
							{%else%}
							<a href="{% url 'registro' %}" class="ivo-boton-fondoInpt ivo-borde-trs-naranja hidden-md hidden-lg" style="margin-top: 8px; cursor:pointer">
									<span class="ivo-back-trs-naranja ivo-borde-transparente">Unete</span>
								</a>

							{%endif%}
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-6 ivo-intro-contenido-artDch hidden-xs hidden-sm">
					<div class="col-md-6 hidden-xs hidden-sm">
						<div class="col-md-offset-2 ivo-intro-contenido-artDch-btn">
						{% if user.is_authenticated %}
								<a  href="{% url 'listado:artistas' %}" class="ivo-boton-fondo">
								<span>Descubre</span>
							</a>
						{%else%}
								<a  href="{% url 'registro' %}" class="ivo-boton-fondo">
								<span>UNETE</span>
							</a>
						{%endif%}

							
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!-- Intro - Industria -->
		<div class="container-fluid ivo-intro-contenido ivo-intro-contenido-industriaBck">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 ivo-intro-contenido-industria">
						<div class="row">
							<div class="col-xs-10 col-sm-8 col-md-7 col-lg-7 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ">
								<h2>Industria</h2>
								<h3>Encuentra el mejor talento para tu proyecto</h3>
								<p>
									<span>Usan su perfil para actualizar trabajos, Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Usan su perfil para actualizar trabajos, Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</span>
								</p>

								{% if user.is_authenticated %}
									{% if user.tipo_usuario != 'F' %}
										<a href="{% url 'listado:industrias' %}" class="ivo-boton-fondo ivo-boton-industria">
											<span>Descubre</span>
										</a>
									{%endif%}
								{%else%}
									<a href="{% url 'industria' %}" class="ivo-boton-fondo ivo-boton-industria">
									<span>UNETE</span>
								</a>
								{%endif%}
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- PROVEEDORES    -->
<div class="container-fluid ivo-intro-contenido">
			<div class="row">
				<div class="col-md-6 ivo-intro-contenido-prvIzq">

					<div class="row hidden-md hidden-lg">
						<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-intro-contenido-prvIzq-top">
							<h2 class="ivo-intro-contenido-prvIzq-titulo">Proveedores</h2>
							<h3 class="ivo-intro-contenido-fansIzq-subtitulo">Publica tu especialidad</h3>
							<p class="ivo-intro-contenido-fansIzq-texto">
								<span>Usan su perfil para actualizar trabajos, Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</span>
							</p>
							{% if user.is_authenticated %}
								<a  href="#" class="ivo-boton-fondoInpt ivo-borde-rosa hidden-md hidden-lg" style="margin-top: 8px">
								<span class="ivo-back-rosa ivo-borde-transparente">Descubre</span>
							</a>
							{%else%}
								<a  href="{% url 'fan' %}" class="ivo-boton-fondoInpt ivo-borde-rosa hidden-md hidden-lg" style="margin-top: 8px">
								<span class="ivo-back-rosa ivo-borde-transparente">Unete</span>
							</a>
							{%endif%}
							
						</div>
						<div class="col-md-4 col-lg-4 col-md-offset-1 hidden-xs hidden-sm ivo-intro-fans-botonUnir">
						{% if user.is_authenticated %}
							<a class="ivo-boton-fondo ivo-boton-proveedores">
								<span>Descubre</span>
							</a>
						{%else%}
							<a class="ivo-boton-fondo ivo-boton-proveedores">
								<span>&Uacute;NETE</span>
							</a>
						{%endif%}
							
						</div>
					</div>

				</div>
				<div class="col-md-6 ivo-intro-contenido-prvDch hidden-xs hidden-sm"></div>
				<div class="ivo-intro-fans-contenedor">
					<div class="container">
						<div class="row">

							<div class="hidden-xs hidden-sm col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-intro-contenido-prvIzq-top">
								<h2 class="ivo-intro-contenido-prvIzq-titulo">Proveedores</h2>
								<h3 class="ivo-intro-contenido-fansIzq-subtitulo">Publica tu especialidad</h3>

								<p class="ivo-intro-contenido-fansIzq-texto">
									<span>Usan su perfil para actualizar trabajos, Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</span>
								</p>
								{% if user.is_authenticated %}
									<a href="{% url 'listado:proveedores' %}" class="ivo-boton-fondoInpt ivo-borde-rosa hidden-md hidden-lg" style="margin-top: 8px">
									<span class="ivo-back-rosa ivo-borde-transparente">Descubre</span>
								</a>
							{%else%}
								<a href="{% url 'proveedor' %}" class="ivo-boton-fondoInpt ivo-borde-rosa hidden-md hidden-lg" style="margin-top: 8px">
									<span class="ivo-back-rosa ivo-borde-transparente">Unete</span>
								</a>
							{%endif%}
								
							</div>
							<div class="hidden-xs hidden-sm col-md-4 col-lg-4 col-md-offset-1 hidden-xs hidden-sm ivo-intro-fans-botonUnir">
								{% if user.is_authenticated %}
									<a href="{% url 'listado:proveedores' %}" class="ivo-boton-fondo ivo-boton-proveedores">
									<span>Descubre</span>
								</a>
								{%else%}
								<a href="{% url 'proveedor' %}" class="ivo-boton-fondo ivo-boton-proveedores">
									<span>&Uacute;NETE</span>
								</a>
								{%endif%}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>






		<!-- Intro - Fans -->
		<div class="container-fluid ivo-intro-contenido">
			<div class="row">
				<div class="col-md-6 ivo-intro-contenido-fansIzq">

					<div class="row hidden-md hidden-lg">
						<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-intro-contenido-fansIzq-top">
							<h2 class="ivo-intro-contenido-fansIzq-titulo">Fans</h2>
							<h3 class="ivo-intro-contenido-fansIzq-subtitulo">Navega en IVO TALENTES Y Conoce Nuevos Talentos</h3>
							<p class="ivo-intro-contenido-fansIzq-texto">
								<span>Usan su perfil para actualizar trabajos, Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</span>
							</p>
							{% if user.is_authenticated %}
								<a  href="{% url 'listado:artistas' %}" class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro hidden-md hidden-lg" style="margin-top: 8px">
								<span class="ivo-back-trs-azulClaro ivo-borde-transparente">Descubre</span>
							</a>
							{%else%}
								<a  href="{% url 'fan' %}" class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro hidden-md hidden-lg" style="margin-top: 8px">
								<span class="ivo-back-trs-azulClaro ivo-borde-transparente">Unete</span>
							</a>
							{%endif%}
							
						</div>
						<div class="col-md-4 col-lg-4 col-md-offset-1 hidden-xs hidden-sm ivo-intro-fans-botonUnir">
						{% if user.is_authenticated %}
							<a href="{% url 'listado:artistas' %}" class="ivo-boton-fondo ivo-boton-fans">
								<span>Descubre</span>
							</a>
						{%else%}
							<a class="ivo-boton-fondo ivo-boton-fans">
								<span>&Uacute;NETE</span>
							</a>
						{%endif%}
							
						</div>
					</div>

				</div>
				<div class="col-md-6 ivo-intro-contenido-fansDch hidden-xs hidden-sm"></div>
				<div class="ivo-intro-fans-contenedor">
					<div class="container">
						<div class="row">

							<div class="hidden-xs hidden-sm col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-intro-contenido-fansIzq-top">
								<h2 class="ivo-intro-contenido-fansIzq-titulo">Fans</h2>
								<h3 class="ivo-intro-contenido-fansIzq-subtitulo">Navega en IVO TALENTS Y Conoce Nuevos Talentos</h3>

								<p class="ivo-intro-contenido-fansIzq-texto">
									<span>Usan su perfil para actualizar trabajos, Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</span>
								</p>
								{% if user.is_authenticated %}
									<a href="{% url 'listado:artistas' %}" class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro hidden-md hidden-lg" style="margin-top: 8px">
									<span class="ivo-back-trs-azulClaro ivo-borde-transparente">Descubre</span>
								</a>
							{%else%}
								<a href="{% url 'fan' %}" class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro hidden-md hidden-lg" style="margin-top: 8px">
									<span class="ivo-back-trs-azulClaro ivo-borde-transparente">Unete</span>
								</a>
							{%endif%}
								
							</div>
							<div class="hidden-xs hidden-sm col-md-4 col-lg-4 col-md-offset-1 hidden-xs hidden-sm ivo-intro-fans-botonUnir">
								{% if user.is_authenticated %}
									<a href="{% url 'listado:artistas' %}" class="ivo-boton-fondo ivo-boton-fans">
									<span>Descubre</span>
								</a>
								{%else%}
								<a href="{% url 'fan' %}" class="ivo-boton-fondo ivo-boton-fans">
									<span>&Uacute;NETE</span>
								</a>
								{%endif%}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="container-fluid ivo-intro-contenido ivo-intro-contenido-app">
			<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="row">
						<div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
							<img src="{% static 'img/dispositivos.png' %}" class="img-responsive ivo-app-dispositivos">
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-2 col-lg-offset-2 ivo-intro-app-mensaje">
							<div class="row">
								<div class="col-md-10 col-md-offset-1 text-center">
									<img src="{% static 'img/logo-ivo-completo.png' %}" class="img-responsive">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-center">
									<p>
										<span>Usan su perfil para actualizar trabajos, Pellentesque habitant morbi tristique.</span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4 col-sm-6 col-md-6 col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-intro-app-store">
									<a href="#" class="ivo-app-goplay">
										<img src="{% static 'img/google-play.png' %}">
									</a>
								</div>
								<div class="col-xs-4 col-sm-6 col-md-6 ivo-intro-app-store">
									<a href="#" class="ivo-app-appsto">
										<img src="{% static 'img/appstore.png' %}">
									</a>
								</div>
							</div>


							<br class="clear">
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	{% endblock %}

	{% block javascript %}
		<script>
		function updateSigninStatus(isSignedIn) {
        // When signin status changes, this function is called.
        // If the signin status is changed to signedIn, we make an API call.
        if (isSignedIn) {
          makeApiCall('X');
        }
      }

		function handleSignInClick(event) {
        // Ideally the button should only show up after gapi.client.init finishes, so that this
        // handler won't be called before OAuth is initialized.
        gapi.auth2.getAuthInstance().signIn();
      }

      function handleSignOutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
        console.log('nos salimos')
      }
			 $(document).on('click', '#close', function(){
			 		$('#myModal').hide();
			 });

		    $('.carousel').carousel({
		        interval: 5000 //changes the speed
		    })

		  $('#facebook').click(function(){
		  		FB.login(function(response) {
				  if (response.status === 'connected') {
				    // Logged into your app and Facebook.
				    console.log('Welcome!  Fetching your information.... ');
					    FB.api('/me?fields=first_name, last_name, id, picture, gender, email,name', function(response) {
					       console.log(response)
					    	
					    		 var genero='';
						      if (response.gender=='male'){
						      	genero='M';
						      }else{
						      	genero='F';
						      };
							

					       $.ajax({
                            url: '/facebook-login/',
                            type: 'post',
                            dataType: 'json',
                            data: {'name':response.name,'genero':genero,'first_name':response.first_name, 'last_name':response.last_name,'email':response.email,'picture':'http:///graph.facebook.com/'+response.id+'/picture?type=large','tipo_usuario':'A', 'csrfmiddlewaretoken':'{{csrf_token}}'},
                            success: function (data) {
                                if(data.success == false){

                                  }else{
                                    
                                   
                                   
                                      location.href  ='/artistadashboard/'
                                      
                                                  
				                                                      
                                }
                            }
                        });

					    });

				  } else {
				    // The person is not logged into this app or we are unable to tell.
				  }
				},{scope:'email'});

		})



	/*function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

}


  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }*/


		</script>
		  
	{% endblock %}
