{% extends "base.html" %}
{% load staticfiles %}


{% block javascript %}

    <script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>

{% endblock %}

{% block cssblock %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}" crossorigin="anonymous">
    <!-- Css Mquery ivo-talents -->
    <link rel="stylesheet" href="{% static 'css/mquery.css' %}" crossorigin="anonymous">
    <!-- Css Slider ivo-talents -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">

    <link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet">
    <style type="text/css">
        .carousel-caption {
            bottom: 0px;
            top:180px;
        }

        .ivo-noticias {margin-bottom: 40px;}

        .ivo-dashboard-imgPerfil {
            background-image: url({% static 'img/avatar-ivo.jpg' %});
        }

        .ivo-dashboard-barLateral {height: 3000px;}
    </style>

{% endblock %}


	{% block content %}
		<!-- Panel Anrtista -->
		<div class="container-fluid" style="background-color: #E8E8E8;">
			<div class="container ivo-dashboard">
				<div class="row">
					<div class="col-md-4 ivo-dashboard-barLateral">
						<div class="row">
							<div class="col-xs-12 col-sm-3 col-md-6">
								<div class="ivo-dashboard-imgPerfil"></div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6" style="padding:0;">
								<ul class="ivo-dashboard-infoBasica">
									<li class="ivo-dashboard-infoBasica-nombre">Nombre y Apellido</li>
									<li>Profesion</li>
									<li class="ivo-dashboard-infoBasica-seguidores">
										<span class="glyphicon glyphicon-heart ivo-font-naranja"></span> <font>500 fans</font>
									</li>
									<li>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star-empty ivo-font-naranja"></span>
									</li>
									<li class="ivo-dashboard-infoBasica-enlace">
										<a href="#">Ver Mi Perfil</a>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="ivo-dashboard-separador"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<ul class="ivo-dashboard-mensajes">
									<li class="funciones">
										<a href="#">
											<span class="icon-envelope ivo-font-verde"></span>
												<font>&nbsp;Mensajes Recibidos</font>
											<span class="ivo-dashboard-mensajeCount">100</span>
										</a>
									</li>
									<li  class="ivo-dashboard-tope funciones">
										<a href="#">
											<span class="icon-paper-plane ivo-font-azulClaro"></span>
												<font>&nbsp;Mensajes Enviados</font>
										</a>
									</li>
									<li class="ivo-dashboard-mensajesBonton ivo-dashboard-tope">
										<a href="#" class="ivo-boton-fondo ivo-boton-mensajes">
											<span>Redactar</span>
										</a>
									</li>
								</ul>
							</div>
							<div class="col-md-12">
								<div class="ivo-dashboard-separador"></div>
							</div>
							<div class="col-md-12">
								<h5 class="ivo-dashboard-audiciones ivo-bold">Mis Audiciones</h5>
							</div>
						</div>
						<div class="row ivo-dashboard-busquedaAv">
							<div class="col-md-12 ivo-dashboard-formBck">
								<form class="ivo-dashboard-form">
									<h4 class="ivo-bold">B&uacute;squeda Avanzada <span class="glyphicon glyphicon-search"></span></h4>
									<div class="ivo-dashboard-separador-slb"></div>
									<h5>&iquest;Necesitas un proveedor?</h5>
									<ul class="ivo-dashboard-listaSeleccion">
										<li>
											<div>
												<input type="checkbox" id="checkbox-1-1" class="regular-checkbox" />
												<label class="lateral" for="checkbox-1-1"></label>
											</div>
											<div>Estilista</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-1-2" class="regular-checkbox" />
												<label class="lateral" for="checkbox-1-2"></label>
											</div>
											<div>Medios de Comunicaci&oacute;n</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-1-3" class="regular-checkbox" />
												<label class="lateral" for="checkbox-1-3"></label>
											</div>
											<div>Eventos</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-1-4" class="regular-checkbox" />
												<label class="lateral" for="checkbox-1-4"></label>
											</div>
											<div>Maquillista</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-1-5" class="regular-checkbox" />
												<label class="lateral" for="checkbox-1-5"></label>
											</div>
											<div>Fot&oacute;grafo</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-1-6" class="regular-checkbox" />
												<label class="lateral" for="checkbox-1-6"></label>
											</div>
											<div>Dise&ntilde;ador</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-1-7" class="regular-checkbox" />
												<label class="lateral" for="checkbox-1-7"></label>
											</div>
											<div>Estilista de cabello</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-1-8" class="regular-checkbox" />
												<label class="lateral" for="checkbox-1-8"></label>
											</div>
											<div>Protocolo</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-1-9" class="regular-checkbox" />
												<label class="lateral" for="checkbox-1-9"></label>
											</div>
											<div>Est&eacute;tica y Belleza</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-1-10" class="regular-checkbox" />
												<label class="lateral" for="checkbox-1-10"></label>
											</div>
											<div>Otros proveedores</div>
											<br />
										</li>
									</ul>
									<div class="ivo-dashboard-separador-slb"></div>
									<h5>&iquest;Buscas un Talento?</h5>
									<ul class="ivo-dashboard-listaSeleccion">
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-1" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-1"></label>
											</div>
											<div>Musico</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-2" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-2"></label>
											</div>
											<div>Cantante</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-3" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-3"></label>
											</div>
											<div>Bailarin</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-4" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-4"></label>
											</div>
											<div>Fotografo</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-5" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-5"></label>
											</div>
											<div>Actor</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-6" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-6"></label>
											</div>
											<div>Presentador</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-7" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-7"></label>
											</div>
											<div>Otros Talentos</div>
											<br />
										</li>
									</ul>
									<div class="ivo-dashboard-separador-slb"></div>
									<h5>Requerimientos Especiales</h5>
									<ul class="ivo-dashboard-listaSeleccion">
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-1" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-1"></label>
											</div>
											<div>Con Agencia</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-2" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-2"></label>
											</div>
											<div>Con Pasaporte</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-3" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-3"></label>
											</div>
											<div>Con Visa</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-4" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-4"></label>
											</div>
											<div>Disponibilidad para Viajar</div>
											<br />
										</li>
										<li>
											<div>
												<input type="checkbox" id="checkbox-2-5" class="regular-checkbox" />
												<label class="lateral" for="checkbox-2-5"></label>
											</div>
											<div>Actor</div>
											<br />
										</li>
									</ul>
									<div class="ivo-dashboard-separador-slb"></div>
									<h5>Requerimientos para Modelo</h5>

									<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-4">
										Tatuajes:
									</div>
									<div class="col-xs-3 col-sm-3 col-md-4">
										<div class="ivo-formulario-radiotext">Si</div>
										<input type="radio" id="radio-1-1" name="radio-1-set" class="regular-radio">
										<label for="radio-1-1"></label>
										<br>
									</div>
									<div class="col-xs-3 col-sm-3 col-md-4">
										<div class="ivo-formulario-radiotext">No</div>
										<input type="radio" id="radio-1-2" name="radio-1-set" class="regular-radio">
										<label for="radio-1-2"></label>
										<br>
									</div>
								</div>



									<select class="ivo-border-width-3">
										<option>Etnia</option>
									</select>
									<select class="ivo-border-width-3">
										<option>Color de Ojos</option>
									</select>
									<select class="ivo-border-width-3 final">
										<option>Color de Cabello</option>
									</select>
									<div class="ivo-dashboard-separador-slb"></div>
									<h5>Pais de Residencia</h5>
									<select class="ivo-border-width-3 final">
										<option>Venezuela</option>
										<option>Pais 1</option>
										<option>Pais 1</option>
										<option>Pais 1</option>
										<option>Pais 1</option>
										<option>Pais 1</option>
									</select>
									<input type="submit" value="BUSCAR">
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ivo-dashboard-seguidores">
								<h3>Seguidores</h3>
								<ul>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg'%}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>M&uacute;sica</span>
											<h5 class="ivo-dashboard-nombre">Music Records</h5>
											<h5>Producci&oacute;n de Eventos</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ocultar-item">
										<div class="col-sm-10 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg'%}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ivo-dashboard-inferior-li ocultar-item">
										<div class="col-sm-10 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ivo-dashboard-inferior text-center ivo-dashboard-listaPersonas-boton">
										<a class="ivo-dashboard-verTodo" href="#">Ver Todos</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ivo-dashboard-seguidores">
								<h3>Siguiendo</h3>
								<ul>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg'%}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ocultar-item">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ivo-dashboard-inferior-li ocultar-item">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ivo-dashboard-inferior text-center ivo-dashboard-listaPersonas-boton">
										<a class="ivo-dashboard-verTodo" href="#">Ver Todos</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-8 ivo-dashboard-panel">
						<div class="row text-left">
					       	<h3 class="headermessage ivo-dashboard-resumen-titulo">&Uacute;ltimas Entradas</h3>
					   	</div>
					    <div class="row text-center">
					    	<div class="image-block col-sm-6 ivo-casting-imageblock ivo-dashboard-imageblock" style="background: url({% static 'img/artista-t1.jpg' %}) no-repeat center top;background-size:cover;">
					    		<h3 class="ivo-back-verde">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
					        <div class="image-block col-sm-6 ivo-casting-imageblock ivo-dashboard-imageblock" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg) no-repeat center top;background-size:cover;">
							    <h3 class="ivo-back-azulClaro">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
					        <div class="image-block col-sm-12 ivo-casting-imageblock ivo-dashboard-imageblock" style="background: url({% static 'img/artista-t1.jpg' %}) no-repeat center top;background-size:cover;">
								<h3 class="ivo-back-naranja">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
					        <div class="image-block col-sm-6 ivo-casting-imageblock ivo-dashboard-imageblock" style="background: url({% static 'img/artista-t1.jpg' %}) no-repeat center top;background-size:cover;">
					    		<h3 class="ivo-back-verde">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
					        <div class="image-block col-sm-6 ivo-casting-imageblock ivo-dashboard-imageblock" style="background: url(http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg) no-repeat center top;background-size:cover;">
					        	<h3 class="ivo-back-rosa">Categoria</h3>
					    		<h4 class="ivo-noticia-titulo">Titulo de la noticia</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href="#" class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
					    </div>
					    <div class="row ivo-artistas-appBck" style="background-size: cover;">
							<div class="col-md-12 col-lg-12 ivo-artistas-app ivo-dashboard-app">
								<div class="row text-center">
									<div class="col-md-6 col-lg-6">
										<img src="{% static 'img/ivo-lg3.png'%}" class="img-responsive ivo-app-logo ivo-dashboard-app-logo">
										<h2>Descarga nuestra App</h2>
									</div>
									<div class="col-md-4 col-md-offset-2">
										<a href="#" class="ivo-app-appsto">
											<img src="{% static 'img/appstore.png' %}">
										</a>
										<a href="#" class="ivo-app-goplay">
											<img src="{% static 'img/google-play.png'%}">
										</a>
										<br class="clear">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="ivo-flag-contenedor">
									<div class="flag ivo-back-verde ivo-flag-dashboard"></div>
									<h3 class="ivo-dashboard-seccion-titulo"><span class="ivo-etiqueta-titulo ivo-back-verde">Artistas</span> Nuevos Talentos en IVO Talents</h3>
									<br />
								</div>
								<!-- Seccion Resumen de Artistas -->
								<div class="col-sm-3 ivo-artistas-panel-item" >
						        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
						            <h3 class="ivo-font-negro">Musico</h3>
						    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
						    		<h4 class="ivo-font-negro">Compositora</h4>
						        </div>
						        <div class="col-sm-3 ivo-artistas-panel-item" >
						        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
						            <h3 class="ivo-font-negro">Musico</h3>
						    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
						    		<h4 class="ivo-font-negro">Compositora</h4>
						        </div>
						        <div class="col-sm-3 ivo-artistas-panel-item" >
						        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
						            <h3 class="ivo-font-negro">Musico</h3>
						    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
						    		<h4 class="ivo-font-negro">Compositora</h4>
						        </div>
						        <div class="col-sm-3 ivo-artistas-panel-item" >
						        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
						            <h3 class="ivo-font-negro">Musico</h3>
						    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
						    		<h4 class="ivo-font-negro">Compositora</h4>
						        </div>
						        <div class="col-sm-3 ivo-artistas-panel-item" >
						        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
						            <h3 class="ivo-font-negro">Musico</h3>
						    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
						    		<h4 class="ivo-font-negro">Compositora</h4>
						        </div>
						        <div class="col-sm-3 ivo-artistas-panel-item" >
						        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
						            <h3 class="ivo-font-negro">Musico</h3>
						    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
						    		<h4 class="ivo-font-negro">Compositora</h4>
						        </div>
						        <div class="col-sm-3 ivo-artistas-panel-item" >
						        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
						            <h3 class="ivo-font-negro">Musico</h3>
						    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
						    		<h4 class="ivo-font-negro">Compositora</h4>
						        </div>
						        <div class="col-sm-3 ivo-artistas-panel-item" >
						        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
						            <h3 class="ivo-font-negro">Musico</h3>
						    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
						    		<h4 class="ivo-font-negro">Compositora</h4>
						        </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="ivo-flag-contenedor">
									<div class="flag ivo-back-rosa ivo-flag-dashboard"></div>
									<h3 class="ivo-dashboard-seccion-titulo"><span class="ivo-etiqueta-titulo ivo-back-rosa">Proveedores</span> Encuentra los mejores servicios</h3>
									<br />
								</div>
							</div>
					        <div class="col-sm-3 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3 class="ivo-font-negro">Musico</h3>
					    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
					    		<h4 class="ivo-font-negro">Compositora</h4>
					        </div>
					        <div class="col-sm-3 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3 class="ivo-font-negro">Musico</h3>
					    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
					    		<h4 class="ivo-font-negro">Compositora</h4>
					        </div>
					        <div class="col-sm-3 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3 class="ivo-font-negro">Musico</h3>
					    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
					    		<h4 class="ivo-font-negro">Compositora</h4>
					        </div>
					        <div class="col-sm-3 ivo-artistas-panel-item" >
					        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
					            <h3 class="ivo-font-negro">Musico</h3>
					    		<h4 class="ivo-font-negro nombre"><b>Catherine Lewis</b></h4>
					    		<h4 class="ivo-font-negro">Compositora</h4>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
        {% endblock %}
