{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block cssblock %}
    <style type="text/css">
    .ivo-pregunta { height: auto;}
    .col-md-3 a{
                  float:left;
                }
    </style>
{% endblock %}

{% block content %}
<!-- Intro -->
<div class="container-fluid ivo-pregunta" style="background-image: url({% static 'img/pregunta2.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h1>Reg&iacute;strate en </br>nuestra plataforma</h1>
            </div>
        </div>
        <div class="row">
           <div class="row align-items-center">
                <div class="col">
                     <H3 > ¿COMO DESEAS REGISTRARTE EN IVO TALENTS? </H3>

                     <br><br><br><br><br>

                    <div class="row">
                        <div class="col-md-3"> 
                            <a href="{% url 'registro' %}" class="ivo-boton-fondoInpt ivo-borde-trs-naranja" >
                                    <span class="ivo-back-trs-naranja ivo-borde-transparente">TALENTO</span>
                                </a>
                        </div>                     
                        <div class="col-md-3">
                            <a href="{% url 'industria' %}" class="ivo-boton-fondoInpt ivo-borde-azul">
                                        <span class="ivo-back-azul ivo-borde-transparente">INDUSTRIA</span>
                                    </a>
                        </div>
                        <div class="col-md-3">
                            <a class="ivo-boton-fondoInpt ivo-borde-rosa" href="{% url 'proveedor' %}"><span class="ivo-back-rosa ivo-borde-transparente">PROVEEDOR</span></a>
                        </div>
                        <div class="col-md-3">
                        <a href="{% url 'fan' %}" class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro" >
                                        <span class="ivo-back-trs-azulClaro ivo-borde-transparente">FAN</span>
                                    </a>
                        </div>                     

                     </div>
                                         
                </div>                         
           </div>          
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}

<script>
        function updateSigninStatus(isSignedIn) {
        // When signin status changes, this function is called.
        // If the signin status is changed to signedIn, we make an API call.
        if (isSignedIn) {
          makeApiCall('X');
        }
      }

        function handleSignInClick(event) {
        // Ideally the button should only show up after gapi.client.init finishes, so that this
        // handler won't be called before OAuth is initialized.
        gapi.auth2.getAuthInstance().signIn();
      }

      function handleSignOutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
        console.log('nos salimos')
      }
             $(document).on('click', '#close', function(){
                    $('#myModal').hide();
             });

            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })

          $('#facebook').click(function(){
                FB.login(function(response) {
                  if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    console.log('Welcome!  Fetching your information.... ');
                        FB.api('/me?fields=first_name, last_name, id, picture, gender, email,name', function(response) {
                           console.log(response)
                            
                                 var genero='';
                              if (response.gender=='male'){
                                genero='M';
                              }else{
                                genero='F';
                              };
                            

                           $.ajax({
                            url: '/facebook-login/',
                            type: 'post',
                            dataType: 'json',
                            data: {'name':response.name,'genero':genero,'first_name':response.first_name, 'last_name':response.last_name,'email':response.email,'picture':'http:///graph.facebook.com/'+response.id+'/picture?type=large','tipo_usuario':'A', 'csrfmiddlewaretoken':'{{csrf_token}}'},
                            success: function (data) {
                                if(data.success == false){

                                  }else{
                                    
                                   
                                   
                                      location.href  ='/artistadashboard/'
                                      
                                                  
                                                                      
                                }
                            }
                        });

                        });

                  } else {
                    // The person is not logged into this app or we are unable to tell.
                  }
                },{scope:'email'});

        })



    /*function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

}


  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }*/


        </script>

{% endblock %}