{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block cssblock %}
    <style type="text/css">
    .ivo-pregunta { height: auto;}
    </style>
{% endblock %}

{% block content %}
<!-- Intro -->
<div class="container-fluid ivo-pregunta" style="background-image: url({% static 'img/pregunta2.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h1>Reg&iacute;strate en </br>nuestra plataforma</h1>
            </div>
        </div>
        <div class="row">
           <div class="row align-items-center">
                <div class="col">
                     <H3 > ¿COMO DESEAS REGISTRARTE EN IVO TALENTS? </H3>

                     <br><br><br><br><br>
                    <a href="{% url 'registro' %}" class="ivo-boton-fondoInpt ivo-borde-trs-naranja" style="margin-top: 8px">
                                <span class="ivo-back-trs-naranja ivo-borde-transparente">TALENTO</span>
                            </a>
                    <a href="{% url 'industria' %}" class="ivo-boton-fondo ivo-boton-industria">
                                    <span>INDUSTRIA</span>
                                </a>
                    <a class="ivo-boton-fondoInpt ivo-borde-rosa" href="{% url 'proveedor' %}"><span class="ivo-back-rosa ivo-borde-transparente">PROVEEDOR</span></a>

                <a href="{% url 'fan' %}" class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro" style="margin-top: 8px">
                                    <span class="ivo-back-trs-azulClaro ivo-borde-transparente">FAN</span>
                                </a>
                                         
                </div>                         
           </div>          
        </div>
    </div>
</div>
{% endblock %}