{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block cssblock %}
    <style type="text/css">
    .ivo-pregunta { height: auto;}
        .ivo-form  select {width: 100%}

    </style>
{% endblock %}


{% block content %}
    <!-- Intro -->
    <div class="container-fluid ivo-pregunta" style="background-image: url({% static 'img/pregunta2.jpg' %});">
        <div class="container">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-6 col-lg-6">
                        <h1>Reg&iacute;strate en nuestra plataforma</h1>
                    </div>
                </div>
        <div class="row" style="margin-bottom: 50px;">
                    <div class="col-md-10 col-lg-10 col-md-offset-1 text-center">
                        <a id="fb-fan" href="#" class="ivo-boton-fondo ivo-form-fanBot">
                            <span>Registrate con facebook</span>
                        </a>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-10 col-lg-10 col-md-offset-1 text-center">
                        <a onclick="handleSignInClick()" href="#" class="ivo-boton-fondo ivo-form-gooBot">
                            <span>Registrate con google&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                        </a>
                    </div>
                </div>
                <div class="row" style="margin: 40px 0 10px;">
                    <div class="col-md-10 col-lg-10 col-md-offset-1">
                        <div class="ivo-form-avisoFan">
                            <h5>
                                <span>O utilizando tu correo electr&oacute;nico</span>
                            </h5>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-md-offset-3">
                    <form method="POST" class="ivo-form" id="ivo-form">
                        <input type="hidden" name="tipo_usuario" value="I">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <input type="text" name="empresa_provedor" placeholder="{% trans 'Empresa' %}" class="inputlft" required="required">
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="text" name="razon_social" required="required" placeholder="{% trans 'Razon Social' %}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                               <select id="pais" name="pais">
                                    <option selected="selected" disabled>Pais</option> 
                                        {% for pais in paises %}         
                            <!-- LOS GENERO OCULTOS SIEMPRE? -->
                                            {% if pais.prefijo %}
                                                <option data-pre='{{pais.prefijo}}' value="{{pais.id}}">{{pais.nombre}}</option>
                                            {% endif %}
                                            
                                        {% endfor %}        
                                    </select>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="text" name="email" required="required" placeholder="{% trans 'Correo Electronico' %}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <input id='telefono' type="text" name="telefono" required="required" placeholder="{% trans 'Telefono' %}" class="inputlft" onkeypress="return soloNumeros(event)">
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="text" name="website" placeholder="{% trans 'Website' %}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <h4>{% trans 'Redes Sociales' %}</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="ivo-social-form">
                                    <span class="social_facebook_circle"></span>
                                </div>
                                <input type="text" name="facebook" class="inputlft social" >
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="ivo-social-form">
                                    <span class="social_twitter_circle"></span>
                                </div>
                                <input type="text" name="twitter" class="social" >
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-md-offset-3">
                                <div class="ivo-social-form">
                                    <span class="social_instagram_circle"></span>
                                </div>
                                <input type="text" name="instagram" class="social" >
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <input type="text" name="direccion" placeholder="{% trans 'Direccion (Opcional)' %}" class="direccion">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                            <!-- SECTOR DEBERIA SER UN SELECT TAMBIEN -->
                                <select placheholder="Sector" name="sector" id="sector" required="required">
                                    <option selected="selected" disabled value=''>{% trans 'Sector' %}</option>
                                    {% for sector in sectores %}
                                    
                                    <option value='{{sector.id}}'> {{sector.nombre}}</option>
                                   {% endfor %} 
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <input type="password" name="password1" id="password1" placeholder="{% trans 'Clave' %}" class="inputlft" autosave="false" autocomplete="false">
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <input type="password" name="password2" id="password2" placeholder="{% trans 'Confirmar Clave' %}" autosave="false" autocomplete="false">
                            </div>
                        </div>

                        <div class="row" style="margin:30px 0;">
                            <div class="col-md-7 col-lg-7 col-md-offset-3" style="margin: 0 auto !important; position: relative; float: initial;">
                                <div class="pull-left">
                                    <input type="checkbox" name="terminos" id="checkbox-terminos" value="1" class="regular-checkbox">
                                    <label for="checkbox-terminos"></label>
                                </div>
                                <div class="pull-right">
                                    <a href="/terminos/" target="_blank"><i>Leer Terminos y Condiciones</i></a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-md-offset-3" style="text-align: center;">
                                <button class="ivo-boton-fondoInpt ivo-borde-trs-verde" id="btn_registrar">
                                    <span class="ivo-back-trs-verde ivo-borde-transparente">{% trans 'Registrar' %}</span>
                                </button>
                            </div>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
<script>

$('#pais').on('change', function () {
    if ($( "#pais option:selected" ).data('pre')!='None'){
        $('#telefono').val($( "#pais option:selected" ).data('pre'));
    }else{
        $('#telefono').val('');
    }
    
      

});
    $(function(){
       // getSector();
        $('#ivo-form').submit(function(){
            return false;
        });
        $('#btn_registrar').click(function(){

           
            if (!$('#checkbox-terminos').is(':checked') ||  $('#password1').val().trim() != $('#password2').val().trim() || $('#password1').val().trim()=='' || $('#password2').val().trim()=='' || $('#sector').val()==null){

                 if( !$('#checkbox-terminos').is(':checked') ) {
                //alert('Debe aceptar los terminos y condiciones');
                $('#texto_mensaje').text('Debe aceptar los terminos y condiciones');
                $('#mensajes').modal('show');
                return false;
            }
            if( $('#password1').val().trim() != $('#password2').val().trim()){
                //alert(' {% trans 'Las contraseñas no coinciden' %} ')
                $('#texto_mensaje').text('Las contraseñas no coinciden');
                $('#mensajes').modal('show');
                return false;
            }
            if( $('#password1').val().trim()=='' || $('#password2').val().trim()==''){
                //alert(' {% trans 'el campo contraseña es requerido' %} ')
                $('#texto_mensaje').text('el campo contraseña es requerido');
                $('#mensajes').modal('show');
                return false;
            }
            if( $('#password1').val().trim().length<8 || $('#password2').val().trim().length<8){
                //alert(' {% trans 'el campo contraseña debe ser mayor a ocho caracteres' %} ')
                $('#texto_mensaje').text('el campo contraseña \ndebe ser mayor a ocho caracteres');
                $('#mensajes').modal('show');
                return false;
            }
            if($('#sector').val()==null){
                $('#texto_mensaje').text('seleccione un sector');
                $('#mensajes').modal('show');
                return false;
            }
            }else{

                if(validarForm($('#ivo-form input'))){
                registrar();    
            }else{
                console.log('false');
            }
            }
           

            
            
        });
    });
   
    
    function registrar(){
        $.ajax({
            url: '/industria/',
            type: 'post',
            dataType: 'json',
            data: $('#ivo-form').serialize(),
            success: function (data) {
                NProgress.done();
                if(data.success == false){
                    //alert(data.mensaje);
                $('#texto_mensaje').text(data.mensaje);
                $('#mensajes').modal('show');
                    //$.each(data.errors.fields, function(i, item) {
                        //alert(i + " "+item);
                    //});
                }else{
                    //alert(data.mensaje);
                $('#texto_mensaje').text(data.mensaje);
                $('#mensajes').modal('show');
                    setTimeout(function(){
                      location.href  ='/perfil/configuraciongeneral/'
                    }, 1500);

                }
            }
        });
    }

     $('#facebook,#fb-fan').click(function(){
                FB.login(function(response) {
                  if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    console.log('Welcome!  Fetching your information.... ');
                        FB.api('/me?fields=first_name, last_name, id, picture, gender, email, name', function(response) {
                           console.log(response)
                            
                               
                            

                           $.ajax({
                            url: '/facebook-login/',
                            type: 'post',
                            dataType: 'json',
                            data: {'first_name':response.first_name,'last_name':response.last_name,'gender':response.gender ,'tipo_usuario':'I','name':response.name,'email':response.email,'picture':'http:///graph.facebook.com/'+response.id+'/picture?type=large', 'csrfmiddlewaretoken':'{{csrf_token}}'},
                            success: function (data) {
                                if(data.success == false){

                                  }else{
                                    
                                   
                                   
                                      location.href  ='/perfil/configuraciongeneral/'
                                        
                                                                      
                                }
                            }
                        });
                              
                        });

                  } else {
                    // The person is not logged into this app or we are unable to tell.
                  }
                },{scope:'email'});

        })

function updateSigninStatus(isSignedIn) {
        // When signin status changes, this function is called.
        // If the signin status is changed to signedIn, we make an API call.
        if (isSignedIn) {
          makeApiCall('I');
        }
      }

        function handleSignInClick(event) {
        // Ideally the button should only show up after gapi.client.init finishes, so that this
        // handler won't be called before OAuth is initialized.
        gapi.auth2.getAuthInstance().signIn();
      }
</script>
{% endblock javascript %}
