
{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block cssblock %}
	<link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet">
		<style type="text/css">
			.ivo-pregunta { height: auto;}
			.ivo-form  select {width: 100%}
			body {
					background-color: white;
				}
		</style>
{% endblock %}

{%block content%}

<div class="container">
		<div class="row ivo-entrada">
			<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-3 col-md-offset-3 ivo-entrada-busqueda ivo-preguntas-busqueda">
				<h4>Buscar</h4>
				<form id="busqueda" action="{% url 'busqueda_pregunta' %}" method="GET" >             
            <input type="text" name="q" placeholder="Consulta">

            <button type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
            
          </form>
			</div>
		</div>
		<!-- Preguntas Freuentes - Titulo -->
		<div class="row">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 ivo-blog-resultado ivo-preguntas">
				<h1>Preguntas Frecuentes</h1>
		    </div>
		</div>
		<!-- Preguntas Freuentes - Lista -->
		<div class="row">
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 ivo-preguntas-lista">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  
  {% for pregunta in preguntas %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{pregunta.id}}">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{pregunta.id}}" aria-expanded="false" aria-controls="collapse{{pregunta.id}}">
         {{pregunta.pregunta}}
        </a>
      </h4>
    </div>
    <div id="collapse{{pregunta.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{pregunta.id}}">
      <div class="panel-body">
        {{pregunta.respuesta}}
      </div>
    </div>
  </div>
{% endfor %}
</div>
			</div>
		</div>
		</div>

{%endblock%}