{% extends "base.html" %}
    {% load staticfiles %}
 {% load humanize %}

    {% block javascript %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

        <script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.countdown.js' %}"></script>
         <script type="text/javascript" src="{% static 'js/jquery.blueimp-gallery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-image-gallery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/perfil.js' %}"></script>
		<script type="text/javascript">

		$(function() {
		  $("#nombre").autocomplete({
		    source: "/mensaje/get_user/",
		    minLength: 2,
		  });
		});

		$(function(){ 
        		$('.ivo-usuario-subMenu').removeClass("activo");
        		$('#id_dashboard').addClass("activo");
        	});    


		$('#boton_redactar_ppal').click(function() {
        		// body...
        		
        		$('#revisar').hide();
        		$('#dashboard').hide();
        		$('.activo').removeClass('activo');
        		$('#nombre').val('');
        		$('#cuerpo_mensaje').val('');        		
        		$('#enviar_mensaje').show();
        		$('#redactar').show();
        		$('body').css('background-color', 'white');
        		//$('body').css('background-color', '#343436');        		
        	});

			$('.mensaje_lista').click(function() {
        		// no estoy recuperando el mensaje completo.. y si tiene fotos?!!!!
        		//esto tiene que ser un ajax con el id del mensaje
        				$('.activo').removeClass('activo')
					        			$(this).addClass("activo")   
					        			$('#revisar').show()
					        			$('#redactar').hide()     	
        				var idmensaje = $(this).data('idmsj')
			        	
			        	 $.ajax({
				            url: '/perfil/mensajes/detalle/',
				            type: 'post',
				            dataType: 'json',
				            data: {'idmensaje':idmensaje, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
				            success: function (data) {
				                NProgress.done();
				                if(data.success == false){
				                    alert(data.mensaje);
				                   
				                    
				                }else{
				                    //alert(data.mensaje);
				                    /*setTimeout(function(){
				                      location.href  ='/perfil/{{datos_personales.get_uuid}}/'
				                    }, 1500);
									*/
									
										$('#persona_mensaje').text(data.destino)
					        			$('#mensaje_abierto').text(data.mensaje)
					        			$('#avatar_mensaje').attr('src', data.avatar)
					        			if(data.imagen!=''){
					        				$('#enlace_imagen').attr('href',data.imagen)
					        			$('#enlace_imagen').text('descargar imagen adjunta')
					        			}

					        			if(data.archivo!=''){
					        				$('#enlace_archivo').attr('href',data.archivo)
					        			$('#enlace_archivo').text('descargar archivo adjunto')
					        			}
					        			$('#revisar').show();


					        			
					        			
									
									

				                }
				            }
				        });			        	
			    });



        		$('#responder').click(function() {
        		// bno estoy recuperando el mensaje completo.. y si tiene fotos?!!!!
        		//esto tiene que ser un ajax con el id del mensaje
        			$('#redactar').show()
        			$('#revisar').hide()
        			$('#nombre').val($('#persona_mensaje').text())        		
        	});



		$('#volver').click(function() {
        		// body...
        		$('#dashboard').show();
        		$('#enviar_mensaje').hide();
        		$('body').css('background-color', '#343436');        		
        	});



		$('#selector_enviados').click(function() {
        		// body...
        		$('#selector_mensaje').replaceWith("<span class='icon-paper-plane ivo-font-azulClaro' id='selector_mensaje'></span>")
        		$('#texto_selector_mensaje').replaceWith("<i id='texto_selector_mensaje'>Mensajes Enviados</i>");
        		$('#lista_enviados').show()
        		$('#lista_recibidos').hide()
        		$('#redactar').hide()
        		$('#revisar').hide()
        		
        	});


		$('#enlace_enviados').click(function() {
        		// body...
        		$('#selector_mensaje').replaceWith("<span class='icon-paper-plane ivo-font-azulClaro' id='selector_mensaje'></span>")
        		$('#texto_selector_mensaje').replaceWith("<i id='texto_selector_mensaje'>Mensajes Enviados</i>");
        		$('#lista_enviados').show();
        		$('#lista_recibidos').hide();
        		$('#redactar').hide();
        		$('#revisar').hide();
        		$('#dashboard').hide();
        		$('#enviar_mensaje').show();
        		$('body').css('background-color', 'white');        		
        	});

		$('#enlace_recibidos').click(function() {
        		// body...
        		$('#selector_mensaje').replaceWith("<span class='icon-envelope ivo-font-azulClaro' id='selector_mensaje'></span>")
        		$('#texto_selector_mensaje').replaceWith("<i id='texto_selector_mensaje'>Mensajes Recibidos</i>")
        		$('#lista_enviados').hide()
        		$('#lista_recibidos').show()
        		$('#redactar').hide();
        		$('#revisar').hide();
        		$('#lista_recibidos').show()
        		$('#dashboard').hide()
        		$('#enviar_mensaje').show()
        		$('body').css('background-color', 'white');       		
        		
        	});


        	$('#selector_recibidos').click(function() {
        		// body...
        		$('#selector_mensaje').replaceWith("<span class='icon-envelope ivo-font-azulClaro' id='selector_mensaje'></span>")
        		$('#texto_selector_mensaje').replaceWith("<i id='texto_selector_mensaje'>Mensajes Recibidos</i>")
        		$('#lista_enviados').hide()
        		$('#lista_recibidos').show()
        		$('#redactar').hide()
        		$('#revisar').hide()
        		$('#lista_recibidos').show()       		
        		
        	});

        	$('#boton_redactar').click(function() {
        		// body...
        		$('#redactar').show();
        		$('#revisar').hide();
        		$('.activo').removeClass('activo');
        		$('#nombre').val('');
        		$('#cuerpo_mensaje').val('');

        	});

        	$("#eliminar").click(function(){
			        	
			        	var mensaje = $('.activo').data('idmsj')
			        	 $.ajax({
				            url: '/perfil/mensajes/eliminar/',
				            type: 'post',
				            dataType: 'json',
				            data: {'idmensaje':mensaje,'csrfmiddlewaretoken': '{{ csrf_token }}'},
				            success: function (data) {
				                NProgress.done();
				                if(data.success == false){
				                    alert(data.mensaje);
				                    $.each(data.errors.fields, function(i, item) {
				                        alert(item);
				                    });
				                    
				                }else{
				                    //alert(data.mensaje);				                  
				                    $('#texto_mensaje').text(data.mensaje)
            						$('#mensajes').modal('show'); 
				                    /*setTimeout(function(){
				                      location.href  ='/perfil/{{datos_personales.get_uuid}}/'
				                    }, 1500);
									*/
									//$('#seguir').css('background-color', 'cyan')
									$('.activo').remove()
									$('#persona_mensaje').text('')
        							$('#mensaje_abierto').text('')

				                }
				            }
				        });


			        	
			    });
       




	</script>

        
    {% endblock %}

    {% block cssblock %}
    	<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />

        <link rel="stylesheet" href="{% static 'css/main.css' %}" crossorigin="anonymous">
        <!-- Css Mquery ivo-talents -->
        <link rel="stylesheet" href="{% static 'css/mquery.css' %}" crossorigin="anonymous">
        <!-- Css Slider ivo-talents -->
        <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">

        <link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet">
		<style type="text/css">
			.carousel-caption {
				bottom: 0px;
    			top:180px;
			}

			.ivo-noticias {margin-bottom: 40px;}

			
			.ivo-dashboard-barLateral {height: 3000px;}

			select option{
        	background-color: black;
        	color:white;
        }
		</style>

    {% endblock %}

    {% block content %}
		<!-- Panel Anrtista -->
		<div id="dashboard">
		<div class="container-fluid" style="background-color: #E8E8E8;">
			<div class="container ivo-dashboard">
				<div class="row">
					<div class="col-md-4 ivo-dashboard-barLateral">
						<div class="row">
							<div class="col-xs-12 col-sm-3 col-md-6">
								{% if user.get_avatar == '' or user.get_avatar == None %}
								<div class="ivo-dashboard-imgPerfil" style="background-image: url({% static 'img/avatar-ivo.jpg' %});"></div>
								{% else %}
								<div class="ivo-dashboard-imgPerfil" style="background-image: url(/media/{{ user.get_avatar }});"></div>
								
								{% endif %}
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6" style="padding:0;">
								<ul class="ivo-dashboard-infoBasica">
									<li class="ivo-dashboard-infoBasica-nombre">{{user.get_full_name}}</li>
									<li>{{profesion.id_genero.id_tipo_arte.name}}</li>
									<li class="ivo-dashboard-infoBasica-seguidores">
										<span class="glyphicon glyphicon-heart ivo-font-naranja"></span> <font>{{fans}} fans</font>
									</li>
									<li>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star-empty ivo-font-naranja"></span>
									</li>
									<li class="ivo-dashboard-infoBasica-enlace">
										<a href="/perfil/{{request.user.get_uuid}}/">Ver Mi Perfil</a>
									</li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="ivo-dashboard-separador"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<ul class="ivo-dashboard-mensajes">
									<li class="funciones">
										<a id="enlace_recibidos" href="#">
											<span class="icon-envelope ivo-font-verde"></span>
												<font>&nbsp;Mensajes Recibidos</font>
											<span class="ivo-dashboard-mensajeCount">{{recibidos.count}}</span>
										</a>
									</li>
									<li  class="funciones ivo-dashboard-tope">
										<a id="enlace_enviados" href="#">
											<span class="icon-paper-plane ivo-font-azulClaro"></span>
												<font>&nbsp;Mensajes Enviados</font>
												<span class="ivo-dashboard-mensajeCount">{{enviados.count}}</span>
										</a>
									</li>
									<li class="ivo-dashboard-mensajesBonton ivo-dashboard-tope">
										<boton id="boton_redactar_ppal" href="#" class="ivo-boton-fondo ivo-boton-mensajes">
											<span>Redactar</span>
										</boton>
									</li>
								</ul>
							</div>
							<div class="col-md-12">
								<div class="ivo-dashboard-separador"></div>
							</div>
							<div class="col-md-12">
								<h5 class="ivo-dashboard-audiciones ivo-bold"><a href={% url 'casting:audicionpanel' %} style="color:#333333;">Mis Audiciones</a></h5>
							</div>
						</div>
						<div class="row ivo-dashboard-busquedaAv">
							<div class="col-md-12 ivo-dashboard-formBck">
								<form class="ivo-dashboard-form" id="busqueda-ind" action="{% url 'busqueda_avanzada' %}" method="POST">
								{% csrf_token %}
									<h4 class="ivo-bold">B&uacute;squeda Avanzada <span class="glyphicon glyphicon-search"></span></h4>
									<div class="ivo-dashboard-separador-slb"></div>
									<h5>&iquest;Necesitas un proveedor?</h5>
									<ul class="ivo-dashboard-listaSeleccion">
									{% for industria in industrias %}
											{% if industria.tipo == 'P' %}
										<li>
											<div>
												<input type="checkbox" name="ind-{{industria.id}}" id="ind-{{industria.id}}" class="regular-checkbox" >
												<label class="lateral" for="ind-{{industria.id}}"></label>
											</div>
											<div>{{industria}}</div>
											<br />
										</li>
									{% endif %}
									{% endfor %}
									</ul>
									<div class="ivo-dashboard-separador-slb"></div>
									<h5>&iquest;Buscas una industria?</h5>
									<ul class="ivo-dashboard-listaSeleccion">
											{% for industria in industrias %}
											{% if industria.tipo == 'I' %}
										<li>
											<div>
												<input type="checkbox" name="ind-{{industria.id}}" id="ind-{{industria.id}}" class="regular-checkbox" >
												<label class="lateral" for="ind-{{industria.id}}"></label>
											</div>
											<div>{{industria}}</div>
											<br />
										</li>
										{% endif %}
									{% endfor %}
									</ul>
									<div class="ivo-dashboard-separador-slb"></div>
									<h5>Pa&iacute;s de residencia</h5>
									<select class="ivo-border-width-3" name='usr-pais'>
										<option selected="selected" value="">Pais</option> 
                                        {% for pais in paises %}         
                            <!-- LOS GENERO OCULTOS SIEMPRE? -->
                                            
                                                <option value="{{pais.id}}">{{pais.nombre}}</option>
                                            
                                        {% endfor %}    
									</select>
									</select>
									<input type="submit" value="BUSCAR">
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ivo-dashboard-seguidores">
								<h3>Seguidores</h3>
								<ul>
									{%for usuario in seguidores%}
										<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="/media/{{ usuario.origen.get_avatar }}/">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>M&uacute;sica</span>
											{% if usuario.origen.tipo_usuario == 'A' %}
											<h5 class="ivo-dashboard-nombre">{{usuario.origen.get_full_name}}</h5>
											{%else%}
											<h5 class="ivo-dashboard-nombre">{{usuario.origen.razon_social}}</h5>
											{%endif%}
											
											<h5>Producci&oacute;n de Eventos</h5>
										</div>
									</li>
									{%endfor%}

									
									<!--li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ocultar-item">
										<div class="col-sm-10 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li>
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ivo-dashboard-inferior-li ocultar-item">
										<div class="col-sm-10 col-md-4">
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>Categoria</span>
											<h5 class="ivo-dashboard-nombre">Nombre y Apellido</h5>
											<h5>Estatus</h5>
										</div>
									</li-->
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ivo-dashboard-inferior text-center ivo-dashboard-listaPersonas-boton">
										<a class="ivo-dashboard-verTodo" href="/perfil/{{request.user.get_uuid}}/seguidores/">Ver Todos</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ivo-dashboard-seguidores">
								<h3>Siguiendo</h3>
								<ul>
								{%for usuario in siguiendo%}
								<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas">
										<div class="col-sm-12 col-md-4">
											<img class="img-responsive" src="/media/{{ usuario.destino.get_avatar }}/">
										</div>
										<div class="col-sm-10 col-md-8 informacion">
											<span>M&uacute;sica</span>
											{% if usuario.destino.tipo_usuario == 'A' %}
											<h5 class="ivo-dashboard-nombre">{{usuario.destino.get_full_name}}</h5>
											{%else%}
											<h5 class="ivo-dashboard-nombre">{{usuario.destino.razon_social}}</h5>
											{%endif%}
											<h5>Producci&oacute;n de Eventos</h5>
										</div>
									</li>

								{%endfor%}
									
									<li class="row ivo-dashboard-tope ivo-dashboard-listaPersonas ivo-dashboard-inferior text-center ivo-dashboard-listaPersonas-boton">
										<a class="ivo-dashboard-verTodo" href="/perfil/{{request.user.get_uuid}}/siguiendo/">Ver Todos</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-8 ivo-dashboard-panel">
						<div class="row text-left">
					       	<h3 class="headermessage ivo-dashboard-resumen-titulo">&Uacute;ltimas Entradas</h3>
					   	</div>
					    <div class="row text-center">
							{%for post in posts%}
								{%if forloop.counter0 == 2%}
									<div class="image-block col-sm-12 ivo-casting-imageblock ivo-dashboard-imageblock" style="background: url('{{post.imagen.url}}') no-repeat center top;background-size:cover;">
										{% if post.categoria.nombre == 'Talento' %}
											<h3 class="ivo-back-naranja">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Novedades' %}
											<h3 class="ivo-back-rosa">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Industria' %}
											<h3 class="ivo-back-azul">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Casting' %}
											<h3 class="ivo-back-verde">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Fanatico' %}
											<h3 class="ivo-back-azulClaro">{{post.categoria.nombre}}</h3>

										{% endif %}
					    		<h4 class="ivo-noticia-titulo">{{post.titulo}}</h4>
					            <p class="ivo-noticia-descripcion">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href={% url 'blog:detalle' idpost=post.id %} class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
								{%else%}
									<div class="image-block col-sm-6 ivo-casting-imageblock ivo-dashboard-imageblock" style="background: url('{{post.imagen.url}}') no-repeat center top;background-size:cover;">
					    		{% if post.categoria.nombre == 'Talento' %}
											<h3 class="ivo-back-naranja">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Novedades' %}
											<h3 class="ivo-back-rosa">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Industria' %}
											<h3 class="ivo-back-azul">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Casting' %}
											<h3 class="ivo-back-verde">{{post.categoria.nombre}}</h3>

										{% elif post.categoria.nombre == 'Fanatico' %}
											<h3 class="ivo-back-azulClaro">{{post.categoria.nombre}}</h3>

										{% endif %}
					    		
					    		<h4 class="ivo-noticia-titulo">{{post.titulo}}</h4>
					            <p class="ivo-noticia-descripcion">ESTO QUE TIENE habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					            <a href={% url 'blog:detalle' idpost=post.id %} class="ivo-boton ivo-noticiaslink ivo-casting-noticia-link">Leer Mas</a>
					            <div class="ivo-layer ivo-noticia-layer ivo-layer-light"></div>
					        </div>
								{%endif%}
							{%endfor%}

					    	
					        
					    </div>
					    <div class="row ivo-artistas-appBck" style="background-size: cover;">
							<div class="col-md-12 col-lg-12 ivo-artistas-app ivo-dashboard-app">
								<div class="row text-center">
									<div class="col-md-6 col-lg-6">
										<img src="{% static 'img/ivo-lg3.png' %}" class="img-responsive ivo-app-logo ivo-dashboard-app-logo">
										<h2>Descarga nuestra App</h2>
									</div>
									<div class="col-md-4 col-md-offset-2">
										<a href="#" class="ivo-app-appsto">
											<img src="{% static 'img/appstore.png' %}">
										</a>
										<a href="#" class="ivo-app-goplay">
											<img src="{% static 'img/google-play.png' %}">
										</a>
										<br class="clear">
									</div>
								</div>
							</div>
						</div>
						<!-- Lista de Castings -->
						<div class="row">
							<div class="col-md-12">
								<div class="ivo-flag-contenedor">
									<div class="flag ivo-back-verde ivo-flag-dashboard"></div>
									<h3 class="ivo-dashboard-seccion-titulo"><span class="ivo-etiqueta-titulo ivo-back-verde">Castings</span> Nuevas Oportunidades en IVO Talents</h3>
									<br />
								</div>
								<!-- Seccion Resumen de Castings -->
								<ul class="ivo-dashboard-seccion ivo-dashboard-notope">
									{%for casting in castings%}
										<li class="row ivo-dashboard-casting-lista">
										<div class="col-xs-3 col-sm-4 col-md-2">

											<!-- FALTA LA VALIDACION DE IMAGEN -->
											<img class="img-responsive" src="{% static 'img/avatar-ivo.jpg' %}">
											
										</div>
										<div class="col-xs-9 col-sm-6 col-md-7 ivo-dashboard-seccion-contenido">
											<span class="ivo-etiqueta-titulo ivo-font-verde ivo-dashboard-etq">{{casting.categoria.nombre}}</span>
											<h5 class="ivo-dashboard-nombre">{{casting.titulo}}</h5>
											<h5 class="ivo-font-verde">{{casting.fecha_fin | naturaltime}}</h5>
										</div>
										<div class="col-xs-12 col-sm-3 col-md-3 ivo-dashboard-seccion-boton">
											<a class="ivo-boton ivo-font-verde ivo-borde-verde" href={% url 'casting:casting_detalle' idcasting=casting.id %}>Leer Mas</a>
										</div>
									</li>
									{%endfor%}

									<li class="ivo-dashboard-seccion-enlace">
										<a class="ivo-font-verde" href={% url 'casting:casting_inicio'  %}>Ver Todas las oportunidades</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Lista de Proveedores -->
						<div class="row">
							<div class="col-md-12">
								<div class="ivo-flag-contenedor">
									<div class="flag ivo-back-rosa ivo-flag-dashboard"></div>
									<h3 class="ivo-dashboard-seccion-titulo"><span class="ivo-etiqueta-titulo ivo-back-rosa">Proveedores</span> Encuentra los mejores servicios</h3>
									<br />
								</div>
							</div>
							{% for proveedor in proveedores %}
					        <div class="col-xs-6 col-sm-4 ivo-artistas-panel-item" >
					        	{% if proveedor.id_usuario.avatar == ''%}
						        	<img src="http://www.prepbootstrap.com/Content/images/template/ResponsiveImageTiles/city4.jpg" class="img-responsive">
						        {% else %}
									<img src="{{proveedor.id_usuario.avatar.url}}" class="img-responsive">
						        {% endif %}

					            <h3 class="ivo-font-negro">{{proveedor.id_genero.id_tipo_arte.name}}</h3>
					    		<h4 class="ivo-font-negro nombre"><b>{{proveedor.id_usuario.empresa_provedor}}</b></h4>
					    		<h4 class="ivo-font-negro">{{proveedor.id_genero.name}}</h4>
					        </div>
					        {% endfor %}
					    </div>
					</div>
				</div>
			</div>
		</div>

		</div>


<!-- INICIO SECCION DE MENSAJES -->
		<div id="enviar_mensaje" hidden>
	<div class="container"  >
			<div class="row ivo-configuracion">
				<div class="col-sm-4 col-md-3 ivo-configuracion-menu ivo-mensajes-latItems">
					<ul class="ivo-mensajes-panelSuperior">
						<li class="ivo-mensajes-botonR">
							<boton id="boton_redactar" class="ivo-boton-fondo ivo-boton-mensajes ivo-boton-mensajes-redactar">
								<span>Redactar</span>
							</boton>
						</li>
						<li class="ivo-mensajes-select">
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
							    <span class="icon-envelope ivo-font-azulClaro" id="selector_mensaje"></span> &nbsp;<i id="texto_selector_mensaje">Seleccione mensajes</i>
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							    <li id="selector_recibidos"><a href="#"><span class="icon-envelope ivo-font-azulClaro"></span>&nbsp; <i>Mensajes Recibidos</i></a></li>
							    <li id="selector_enviados"><a href="#"><span class="icon-paper-plane ivo-font-azulClaro"></span>&nbsp; <i>Mensajes Enviados</i></a></li>
							  </ul>
							</div>					
						</li>
					</ul>
					<ul class="ivo-mensajes-lista" id="lista_enviados" hidden>
						
						{%for enviado in enviados%}
						<li class="mensaje_lista" data-owner='{{enviado.destino.email}}' data-idmsj='{{enviado.id}}'>
							{% if enviado.destino.avatar == None or enviado.destino.avatar == '' %}
							<div  style="background-image: url({% static 'img/avatar-ivo.jpg' %})"></div>
                            {% else %}
                            <div  style="background-image: url(/media/{{enviado.destino.get_avatar}})"></div>
                            {% endif %}
                            {% if enviado.destino.tipo_usuario == 'A' or enviado.destino.tipo_usuario == 'F' %}
							<h5>{{enviado.destino.get_full_name}}</h5>
                            {% else %}
                            <h5>{{enviado.destino.empresa_provedor}}</h5>
                            {% endif %}

							<h6>{{enviado.mensaje | truncatechars:20}}</h6>
						</li>
						{%endfor%}
						
						
					</ul>
					<ul class="ivo-mensajes-lista" id="lista_recibidos" hidden>
						
						{%for recibido in recibidos%}
						<li class="mensaje_lista" data-owner='{{recibido.origen.email}}' data-idmsj='{{recibido.id}}'>
							{% if recibido.origen.avatar == None or recibido.origen.avatar == '' %}
                            <div  style="background-image: url({% static 'img/avatar-ivo.jpg' %})"></div>
                            {% else %}
                            <div  style="background-image: url(/media/{{recibido.origen.get_avatar}})"></div>
                            {% endif %}
							 {% if recibido.origen.tipo_usuario == 'A' or recibido.origen.tipo_usuario == 'F' %}
                            <h5 style="text-align: left;">{{recibido.origen.get_full_name}}</h5>
                            {% else %}
                            <h5 style="text-align: left;">{{recibido.origen.empresa_provedor}}</h5>
                            {% endif %}
							<h6>{{recibido.mensaje | truncatechars:20}}</h6>

						</li>
						{%endfor%}
						
						
					</ul>
				</div>


				<!-- INICIO REVISAR MENSAJES -->

		<div id="revisar" style="display:none;">
					
			<div class="col-sm-8 col-md-9 ivo-formularioConf ivo-mensajes-central">
					<div class="row ivo-mensaje-header">
						<div class="col-sm-3 col-md-2 ivo-mensaje-headerImg">
							<img id="avatar_mensaje" src="assets/img/avatar-ivo.jpg">
						</div>
						<div class="col-sm-9 col-md-10">
							<h3 class="ivo-bold" id="persona_mensaje"></h3>
							<h4></h4>
							<h5><font class="ivo-bold">Fecha:</font> Noviembre 26 2016</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 ivo-mensaje-contenido" id="mensaje_abierto">
						</div>
						<p><a id='enlace_imagen' download></a></p>
						<p><a id='enlace_archivo' download></a></p>
					</div>
					<div class="row">
						<div class="col-md-12 text-right">
							<BUTTON class="ivo-boton" id="eliminar">Eliminar</BUTTON>
							<button class="ivo-boton" id="responder">Responder</button>
						</div>
					</div>
				</div>

			</div>
		
		<!-- FIN REVISAR MENSAJES-->






		<!-- REDACTAR MENSAJES -->

		<div id="redactar" hidden>
				<div class="col-sm-8 col-md-9 ivo-formularioConf ivo-mensajes-central">
					<form class="ivo-formularioConf-form ivo-mensaje-enviarM" method="POST" action="/perfil/mensajes/enviar/" enctype="multipart/form-data">
					{%csrf_token%}
						
						
							  <!--esto llevaba un div con el class cubriendolo
							  		con el div, se ve mal el input. sin el div se ve mal el resultado
							  		 -->
							 
							  <input class="ui-widget" type="text" placeholder="Escribe el correo" name="destino" id="nombre">
							
						
						<textarea placeholder="Escribe tu mensaje" name="mensaje" id="cuerpo_mensaje"></textarea>
						<div>	
						<input type="file" id='archivo' name="archivo"  style="display:none">
							
							
								<label for="archivo" class="glyphicon glyphicon-paperclip" ></label>
								
							
							<input type="file" id="imagen" name='imagen' accept="image/*" style="display:none">
								
							<label for="imagen" class="glyphicon glyphicon-picture" ></label>						
								
							
						</div>
						<button class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro" style="margin-right: 3%;" type="submit" id="boton_enviar">
							<span class="ivo-back-trs-azulClaro ivo-borde-transparente">Enviar</span>
						</button>
					</form>
					<button id="volver" class="ivo-boton-fondoInpt ivo-borde-trs-azulClaro" style="margin-right: 3%;" type="submit">
							<span class="ivo-back-trs-azulClaro ivo-borde-transparente">VOLVER</span>
						</button>
					</div>
		</div>
				<!--- FIN REDACTAR -->
			</div>
		</div>

</div>
	{% endblock %}
