
{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block cssblock %}
	<link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet">
		<style type="text/css">
			.ivo-pregunta { height: auto;}
			.ivo-form  select {width: 100%}
			body {
					background-color: white;
				}
		</style>
{% endblock %}

{%block content%}

<div class="container-fluid">
			<div class="container">
				<!-- Titulo Panel Listado de Perfiles -->
				<div class="row">
					<div class="row">
						<div class="col-md-12 col-lg-12 ivo-blog-resultado">
							<h1>Busqueda Avanzada</h1>
					    </div>
					</div>
				</div>

			{% for result in results %}
				<!-- Fila Listado de Perfiles -->
				{%if forloop.counter0 < 3 %}
				<div class="row ivo-perfil-busqueda-row">
					<!-- Item Listado de Perfiles -->
					<div class="col-xs-12 col-sm-4 col-md-4 ivo-perfil-busqueda-informacionItem">
						<div class="row">
							<!-- Imagen del perfil -->
							<div class="col-xs-4 col-sm-12 col-md-5 col-lg-5  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-perfil-busqueda-informacionImagen">
							<!-- FALTA IMAGEN GENERICA -->
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url(/media/{{result.id_usuario.get_avatar}});"></div>
							</div>
							<!-- Informacion del perfil -->
							<div class="col-xs-6 col-sm-12 col-md-7 ivo-perfil-busqueda-informacionLista">
								<ul class="ivo-dashboard-infoBasica ivo-perfil-info ivo-perfil-busquedaPanel">
								{%if result.id_usuario.tipo_usuario == 'A'%}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{result.id_usuario.get_full_name}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{result.id_genero.id_tipo_arte.name}}</li>
									<li class="ivo-perfil-busqueda-fans">
										<span class="glyphicon glyphicon-heart ivo-font-naranja"></span> <font>500 fans</font>
									</li>
								{% elif result.id_usuario.tipo_usuario == 'I' %}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{result.id_usuario.empresa_provedor}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">{{result.id_sector}}</li>
									<li class="ivo-perfil-busqueda-fans">
										<span class="glyphicon glyphicon-heart ivo-font-naranja"></span> <font>500 fans</font>
									</li>
								{%endif%}
									<li class="ivo-perfil-busqueda-estrellas">
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star-empty ivo-font-naranja"></span>
									</li>
									<li class="ivo-perfil-busqueda-enlace"><a href="/perfil/{{result.id_usuario.get_uuid}}/" class="ivo-font-azulClaro">Ver Perfil</a></li>
								</ul>
							</div>
						</div>				
					</div>
					<!-- Item Listado de Perfiles -->
					
				</div>
				{% elif foorloop.counter0 > 2 and forloop.counter0 < 6%}
				<!-- Fila Listado de Perfiles -->
				<div class="row ivo-perfil-busqueda-row">
					<!-- Item Listado de Perfiles -->
					<div class="col-xs-12 col-sm-4 col-md-4 ivo-perfil-busqueda-informacionItem">
						<div class="row">
							<!-- Imagen del perfil -->
							<div class="col-xs-4 col-sm-12 col-md-5 col-lg-5  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-perfil-busqueda-informacionImagen">
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url(/media/{{result.id_usuario.get_avatar}});"></div>
							</div>
							<!-- Informacion del perfil -->
							<div class="col-xs-6 col-sm-12 col-md-7 ivo-perfil-busqueda-informacionLista">
								<ul class="ivo-dashboard-infoBasica ivo-perfil-info ivo-perfil-busquedaPanel">
								{%if result.id_usuario.tipo_usuario == 'A'%}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{result.id_usuario.get_full_name}}</li>
								{% elif result.id_usuario.tipo_usuario == 'I' %}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{result.id_usuario.empresa_provedor}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">Violinista</li>
									<li class="ivo-perfil-busqueda-fans">
										<span class="glyphicon glyphicon-heart ivo-font-naranja"></span> <font>500 fans</font>
									</li>
								{%endif%}
									<li class="ivo-perfil-busqueda-estrellas">
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star-empty ivo-font-naranja"></span>
									</li>
									<li class="ivo-perfil-busqueda-enlace"><a href="/perfil/{{result.id_usuario.get_uuid}}/" class="ivo-font-azulClaro">Ver Perfil</a></li>
								</ul>
							</div>
						</div>				
					</div>
					<!-- Item Listado de Perfiles -->
					
				</div>
				{% elif foorloop.counter0 > 5 and forloop.counter0 < 9%}
				<!-- Fila Listado de Perfiles -->
				<div class="row ivo-perfil-busqueda-row">
					<!-- Item Listado de Perfiles -->
					<div class="col-xs-12 col-sm-4 col-md-4 ivo-perfil-busqueda-informacionItem">
						<div class="row">
							<!-- Imagen del perfil -->
							<div class="col-xs-4 col-sm-12 col-md-5 col-lg-5  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-perfil-busqueda-informacionImagen">
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url(/media/{{result.id_usuario.get_avatar}});"></div>
							</div>
							<!-- Informacion del perfil -->
							<div class="col-xs-6 col-sm-12 col-md-7 ivo-perfil-busqueda-informacionLista">
								<ul class="ivo-dashboard-infoBasica ivo-perfil-info ivo-perfil-busquedaPanel">
								{%if result.id_usuario.tipo_usuario == 'A'%}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{result.id_usuario.get_full_name}}</li>
								{% elif result.id_usuario.tipo_usuario == 'I' %}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{result.id_usuario.empresa_provedor}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">Violinista</li>
									<li class="ivo-perfil-busqueda-fans">
										<span class="glyphicon glyphicon-heart ivo-font-naranja"></span> <font>500 fans</font>
									</li>
								{%endif%}
									<li class="ivo-perfil-busqueda-estrellas">
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star-empty ivo-font-naranja"></span>
									</li>
									<li class="ivo-perfil-busqueda-enlace"><a href="/perfil/{{result.id_usuario.get_uuid}}/" class="ivo-font-azulClaro">Ver Perfil</a></li>
								</ul>
							</div>
						</div>				
					</div>
					<!-- Item Listado de Perfiles -->
					
				</div>
				{% elif foorloop.counter0 > 8 and forloop.counter0 < 12%}
				<!-- Fila Listado de Perfiles -->
				<div class="row ivo-perfil-busqueda-row">
					<!-- Item Listado de Perfiles -->
					<div class="col-xs-12 col-sm-4 col-md-4 ivo-perfil-busqueda-informacionItem">
						<div class="row">
							<!-- Imagen del perfil -->
							<div class="col-xs-4 col-sm-12 col-md-5 col-lg-5  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-perfil-busqueda-informacionImagen">
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url(/media/{{result.id_usuario.get_avatar}});"></div>
							</div>
							<!-- Informacion del perfil -->
							<div class="col-xs-6 col-sm-12 col-md-7 ivo-perfil-busqueda-informacionLista">
								<ul class="ivo-dashboard-infoBasica ivo-perfil-info ivo-perfil-busquedaPanel">
								{%if result.id_usuario.tipo_usuario == 'A'%}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{result.id_usuario.get_full_name}}</li>
								{% elif result.id_usuario.tipo_usuario == 'I' %}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{result.id_usuario.empresa_provedor}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">Violinista</li>
									<li class="ivo-perfil-busqueda-fans">
										<span class="glyphicon glyphicon-heart ivo-font-naranja"></span> <font>500 fans</font>
									</li>
								{%endif%}
									<li class="ivo-perfil-busqueda-estrellas">
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star-empty ivo-font-naranja"></span>
									</li>
									<li class="ivo-perfil-busqueda-enlace"><a href="/perfil/{{result.id_usuario.get_uuid}}/" class="ivo-font-azulClaro">Ver Perfil</a></li>
								</ul>
							</div>
						</div>				
					</div>
					<!-- Item Listado de Perfiles -->
					
				</div>
				{% elif foorloop.counter0 > 11 and forloop.counter0 < 15%}
				<!-- Fila Listado de Perfiles -->
				<div class="row ivo-perfil-busqueda-row">
					<!-- Item Listado de Perfiles -->
					<div class="col-xs-12 col-sm-4 col-md-4 ivo-perfil-busqueda-informacionItem">
						<div class="row">
							<!-- Imagen del perfil -->
							<div class="col-xs-4 col-sm-12 col-md-5 col-lg-5  col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 ivo-perfil-busqueda-informacionImagen">
								<div class="ivo-perfil-busqueda-imgPerfil" style="background-image: url(/media/{{result.id_usuario.get_avatar}});"></div>
							</div>
							<!-- Informacion del perfil -->
							<div class="col-xs-6 col-sm-12 col-md-7 ivo-perfil-busqueda-informacionLista">
								<ul class="ivo-dashboard-infoBasica ivo-perfil-info ivo-perfil-busquedaPanel">
								{%if result.id_usuario.tipo_usuario == 'A'%}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{result.id_usuario.get_full_name}}</li>
								{% elif result.id_usuario.tipo_usuario == 'I' %}
									<li class="ivo-dashboard-infoBasica-nombre ivo-perfil-nombre ivo-perfil-busqueda-nombre">{{result.id_usuario.empresa_provedor}}</li>
									<li class="ivo-perfil-talento ivo-perfil-busqueda-talento">Violinista</li>
									<li class="ivo-perfil-busqueda-fans">
										<span class="glyphicon glyphicon-heart ivo-font-naranja"></span> <font>500 fans</font>
									</li>
								{%endif%}
									<li class="ivo-perfil-busqueda-estrellas">
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star ivo-font-naranja"></span>
										<span class="glyphicon glyphicon-star-empty ivo-font-naranja"></span>
									</li>
									<li class="ivo-perfil-busqueda-enlace"><a href="/perfil/{{result.id_usuario.get_uuid}}/" class="ivo-font-azulClaro">Ver Perfil</a></li>
								</ul>
							</div>
						</div>				
					</div>
					<!-- Item Listado de Perfiles -->
					
				</div>
				{% endif %}
			{% endfor %}

				<!-- Numero de Paginas del Listado de Perfiles -->
				<div class="row">
					<div class="col-md-6 col-lg-6 col-md-offset-3 ivo-blog-paginas ivo-blog-paginas-invertido">
				    	{% if posts.has_other_pages %}
				    	<ul>
				    		{% if posts.has_previous %}
					    			<li class="ivo-blog-paginas-move">
					    			<a href="?page={{ seguidores.previous_page_number }}">&laquo;</a></li>
							    
				    			{% endif %}

							    {% for i in posts.paginator.page_range %}
							      {% if posts.number == i %}
						    		<li class="ivo-blog-paginas-activo">
						    			<span>{{ i }} <span class="sr-only">(current)</span></span>
						    		</li>
				    			 {% else %}
				    		<li>
				    			<a href="?page={{ i }}">{{ i }}</a>
				    		</li>
				    		{% endif %}
							    {% endfor %}
							    {% if posts.has_next %}
							      <li><a href="?page={{ seguidores.next_page_number }}">&raquo;</a></li>
							    
							    {% endif %}
							  </ul>
							{% endif %}
				    </div>
				</div>
			</div>	
		</div>
		<!-- App -->
		<div class="container-fluid ivo-artistas-appBck">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 ivo-artistas-app">
						<div class="row">
							<div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0">
								<img src="assets/img/ivo-lg3.png" class="img-responsive ivo-app-logo general">
								<h2>Descarga nuestra App Movil</h2>
								<a href="#" class="ivo-app-goplay general">
									<img src="assets/img/google-play.png">
								</a>
								<a href="#" class="ivo-app-appsto general">
									<img src="assets/img/appstore.png">
								</a>
								<br class="clear">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{%endblock%}